{% extends "user/carriers.html" %}

{% block modaltitle %}Deutsche Post Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

    <div class="padding-v-xs text-center">
      <h3>Enter your Deutsche Post Settings</h3>
      <!--<p><small>In order to purchase labels, you need to activate Deutsche Post production mode.</small></p>-->
      <form action="{% url 'user:usercarriersdeutschepost' %}" method="post">
        {% csrf_token %}
        <p><small>To purchase Deutsche Post rates, you need to save your Deutsche Post Portokasse username and password.</small></p>
        <p><input autocomplete="off" type="text" name="portokasse_mail" class="form-control" id="portokasse_mail" placeholder="Portokasse Username" value="{{ apiuser.portokasse_mail }}"></p>
        <p><input autocomplete="off" type="password" name="portokasse_password" class="form-control" id="portokasse_password" placeholder="Portokasse Password" value="{{ apiuser.portokasse_password }}"></p>
        <p><small>Use Deutsche Post in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="active" name="deutsche_post_production" value="True" type="radio" {% if apiuser.deutsche_post_production %}checked=""{% endif %}>
              <label for="active" onclick="">Active</label>
              <input id="inactive" name="deutsche_post_production" value="False" type="radio" {% if not apiuser.deutsche_post_production %}checked=""{% endif %}>
              <label for="inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
        <p class="margin-t-md"><button type="submit" class="btn btn-primary">Save Changes</button></p>
      </form>
    </div>

{% endblock %}