{% extends "user/carriers.html" %}

{% block modaltitle %}Deutsche Post DHL Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

    <div class="padding-v-xs text-center">
      <h3>Enter your Deutsche Post DHL Settings</h3>
      {% if wewanttoactivateitinthefuture %}
        <p><small>DHL offers both consumer and business rates. Please choose, which ones you want to activate for obtaining labels and
          set your account data if needed.</small></p>
      {% endif %}
      <form action="{% url 'user:usercarriersdeutschepostdhl' %}" method="post">
        {% csrf_token %}
        <h4 class="border-bottom text-primary">DHL Business rates</h4>
        <p><small>In order to get rates and obtain labels, you need to set your DHL account and intraship details.</small></p>
        <p><small>For test mode, you may use account number <em>50000000007201</em>, intraship user <em>geschaeftskunden_api</em> and intraship password <em>Dhl_ep_test1</em>.</small></p>
        <p><input autocomplete="off" type="text" name="dhl_account_number" class="form-control" id="dhl_account_number" placeholder="DHL Account Number" value="{{ apiuser.dhl_account_number }}"></p>
        <p><input autocomplete="off" type="text" name="dhl_intraship_username" class="form-control" id="dhl_intraship_username" placeholder="DHL Intraship Username" value="{{ apiuser.dhl_intraship_username }}"></p>
        <p><input autocomplete="off" type="password" name="dhl_intraship_password" class="form-control" id="dhl_intraship_password" placeholder="DHL Intraship Password" value="{{ apiuser.dhl_intraship_password }}"></p>
        <p><small>Use Deutsche Post DHL (Business) in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="business_active" name="dhl_production" value="True" type="radio" {% if apiuser.dhl_production %}checked=""{% endif %}>
              <label for="business_active" onclick="">Active</label>
              <input id="business_inactive" name="dhl_production" value="False" type="radio" {% if not apiuser.dhl_production %}checked=""{% endif %}>
              <label for="business_inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
        {% if wewanttoactivateitinthefuture %}
          <h4 class="border-bottom text-primary">DHL Consumer rates</h4>
          <p><small>To purchase consumer rates, you need to save your PostPay username and password.</small></p>
          <p><input autocomplete="off" type="text" name="postpay_mail" class="form-control" id="postpay_mail" placeholder="DHL PostPay Username" value="{{ apiuser.postpay_mail }}"></p>
          <p><input autocomplete="off" type="password" name="postpay_password" class="form-control" id="postpay_password" placeholder="DHL PostPay Password" value="{{ apiuser.postpay_password }}"></p>
          <p><small>Use Deutsche Post DHL (Consumer) in production?</small></p>
          <div class="row text-left margin-bt-sm">
            <div class="col-xs-6 col-xs-offset-3">
              <div class="toggle-buttons">
                <input id="consumer_active" name="dp_dhl_production" value="True" type="radio" {% if apiuser.dp_dhl_production %}checked=""{% endif %}>
                <label for="consumer_active" onclick="">Active</label>
                <input id="consumer_inactive" name="dp_dhl_production" value="False" type="radio" {% if not apiuser.dp_dhl_production %}checked=""{% endif %}>
                <label for="consumer_inactive" onclick="">Only Test</label>
                <a></a><!--empty a needed to overcome transition bug-->
              </div>
            </div>
          </div>
        {% endif %}
        <p class="margin-t-md"><button type="submit" class="btn btn-primary">Save Changes</button></p>
      </form>
    </div>

{% endblock %}