{% extends "user/carriers.html" %}

{% block modaltitle %}FedEx Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

    <div class="padding-v-xs text-center">
      <h3>Enter your FedEx account</h3>
      <p><small>In order to get rates and purchase labels, you need to enter your <strong>FedEx account details</strong>. Please note that you need to use different credentials for the FedEx Test and Production Servers.</small></p>
      <form action="{% url 'user:usercarriersfedex' %}" method="post">
        {% csrf_token %}
        <p><input autocomplete="off" type="number" name="fedex_account" class="form-control" id="fedex_account" placeholder="FedEx Account Number" value="{{ apiuser.fedex_account }}"></p>
        <p><input autocomplete="off" type="number" name="fedex_meter" class="form-control" id="fedex_meter" placeholder="FedEx Meter Number" value="{{ apiuser.fedex_meter }}"></p>
        <p><small>Use your FedEx account in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="active" name="fedex_production" value="True" type="radio" {% if apiuser.fedex_production %}checked=""{% endif %}>
              <label for="active" onclick="">Active</label>
              <input id="inactive" name="fedex_production" value="False" type="radio" {% if not apiuser.fedex_production %}checked=""{% endif %}>
              <label for="inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
        <p class="margin-t-md"><button type="submit" class="btn btn-primary">Save Changes</button></p>
      </form>
    </div>
    <hr>
    <div class="text-center padding-bt-sm margin-b-xs">
      <h3>Need a new account?</h3>
      <p>Create one now, it's free! We've covered the detailed account creation for you in a blog post.</p>
      <a class="btn btn-blue" href="/blog/find-sign-up-right-fedex-account/">Create Free FedEx Account</a>
    </div>

{% endblock %}