{% extends "user/carriers.html" %}

{% block modaltitle %}Parcel2Go Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

    <div class="padding-v-xs text-center">
      <h3>Enter your Parcel2Go API Key</h3>
      <p><small>Parcel2Go is a UK multi-carrier provider, offering discounted labels for various carriers. In order to purchase labels, you need to enter your <strong>Parcel2Go API Key</strong>.</small></p>
      <form action="{% url 'user:usercarriersparcel2go' %}" method="post">
        {% csrf_token %}
        <p><input autocomplete="off" type="text" name="parcel2go_api_key" class="form-control" id="parcel2go_api_key" placeholder="Parcel2Go API Key" value="{{ apiuser.parcel2go_api_key }}"></p>
        <p><small><em>Optional: enter your stored credit card reference. Leave this field blank to use your prepaid account.</em></small></p>
        <p><input autocomplete="off" type="text" name="parcel2go_card_reference" class="form-control" id="parcel2go_card_reference" placeholder="Parcel2Go Stored Card Reference" value="{{ apiuser.parcel2go_card_reference }}"></p>
        <p><small>Use your Parcel2Go account in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="active" name="parcel2go_production" value="True" type="radio" {% if apiuser.parcel2go_production %}checked=""{% endif %}>
              <label for="active" onclick="">Active</label>
              <input id="inactive" name="parcel2go_production" value="False" type="radio" {% if not apiuser.parcel2go_production %}checked=""{% endif %}>
              <label for="inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
        <p class="margin-t-md"><button type="submit" class="btn btn-primary">Save Changes</button></p>
      </form>
    </div>
    <hr>
    <div class="text-center padding-bt-sm margin-b-xs">
      <h3>Need a new account?</h3>
      <p>Create one now, it's free and doesn't take longer than 5 minutes!</p>
      <a class="btn btn-blue" href="http://www.parcel2go.com/">Create Free Parcel2Go Account</a>
    </div>

{% endblock %}