{% extends "user/carriers.html" %}

{% block modaltitle %}Royal Mail Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

    <div class="padding-v-xs text-center">
      <h3>Enter your Royal Mail Settings</h3>
      <p><small>In order to get rates and purchase labels, please enter your Royal Mail user account.</small></p>
      <form action="{% url 'user:usercarriersroyalmail' %}" method="post">
        {% csrf_token %}
        <p><input autocomplete="off" type="text" name="royalmail_username" class="form-control" id="royalmail_username" placeholder="Royal Mail Username" value="{{ apiuser.royalmail_username }}"></p>
        <p><input autocomplete="off" type="password" name="royalmail_password" class="form-control" id="royalmail_password" placeholder="Royal Mail Password" value="{{ apiuser.royalmail_password }}"></p>
        <p><small>Use Royal Mail in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="active" name="royalmail_production" value="True" type="radio" {% if apiuser.royalmail_production %}checked=""{% endif %}>
              <label for="active" onclick="">Active</label>
              <input id="inactive" name="royalmail_production" value="False" type="radio" {% if not apiuser.royalmail_production %}checked=""{% endif %}>
              <label for="inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
        <p class="margin-t-md"><button type="submit" class="btn btn-primary">Save Changes</button></p>
      </form>
    </div>

{% endblock %}