{% extends "user/carriers.html" %}

{% block modaltitle %}UPS Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

    <div class="padding-v-xs text-center">
      <h3>Enter your UPS account</h3>
      <p><small>In order to get rates and purchase labels, you need to enter your <strong>UPS account details</strong>.</small></p>
      <form action="{% url 'user:usercarriersups' %}" method="post">
        {% csrf_token %}
        <p><input autocomplete="off" type="text" name="ups_account" class="form-control" id="ups_account" placeholder="UPS Account Number" value="{{ apiuser.ups_account }}"></p>
        <p><input autocomplete="off" type="text" name="ups_user_id" class="form-control" id="ups_user_id" placeholder="UPS User ID" value="{{ apiuser.ups_user_id }}"></p>
        <p><input autocomplete="off" type="password" name="ups_password" class="form-control" id="ups_password" placeholder="UPS Password" value="{{ apiuser.ups_password }}"></p>
        <p><small>Use your UPS account in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="active" name="ups_production" value="True" type="radio" {% if apiuser.ups_production %}checked=""{% endif %}>
              <label for="active" onclick="">Active</label>
              <input id="inactive" name="ups_production" value="False" type="radio" {% if not apiuser.ups_production %}checked=""{% endif %}>
              <label for="inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
        <p class="margin-t-md"><button type="submit" class="btn btn-lg btn-primary">Save Changes</button></p>
      </form>
    </div>
    <hr>
    <div class="text-center padding-bt-sm margin-b-xs">
      <h3>Need a new account?</h3>
      <p>Create one now, it's free! We've covered the detailed account creation for you in a blog post.</p>
      <a class="btn btn-blue" href="/blog/find-sign-up-right-ups-account/">Create Free UPS Account</a>
    </div>

{% endblock %}