{% extends "user/internal.html" %}
{% load staticfiles %}
{% block javascript_header %}
  {{ block.super }}
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}


{% block internalmenu %}

{% if error_message %}
  <div class="alert alert-error alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ error_message }}</strong>
  </div>
{% endif %}
<h3 class="text-primary border-bottom">Create a new Endicia Account for free</h3>
<p>Creating an account is free (we cover all Endicia fees for you, worth $15 a month)!</p>
<form id="new-endicia-user-form" class="form-horizontal" method="post" action="">
  {% csrf_token %}
  <div class="margin-v-md">
    <h4 class="margin-top-lg border-bottom">Contact Info</h4>
    <p><small>We will automatically use your account's e-mail address.</small></p>
    <div class="form-group">
      <label for="customer_firstname" class="col-sm-2 control-label">First & Last Name</label>
      <div class="col-sm-5">
        <input type="text" name="customer_firstname" class="form-control" id="customer_firstname" placeholder="First Name" value="{{ user.first_name }}">
      </div>
      <div class="col-sm-5">
        <input type="text" name="customer_lastname" class="form-control" id="customer_lastname" placeholder="Last Name" value="{{ user.last_name }}">
      </div>
    </div>
    <div class="form-group">
      <label for="customer_phone" class="col-sm-2 control-label">Phone number</label>
      <div class="col-sm-5">
        <input type="text" name="customer_phone" class="form-control" id="customer_phone" placeholder="Phone Number" value="{{ apiuser.address.phone }}">
        <input type="hidden" name="customer_email" class="form-control" id="customer_email" value="{{ user.email }}">
      </div>
    </div>
  </div>
  <div class="margin-v-md">
    <h4 class="margin-top-lg border-bottom padding-t-md">Physical address</h4>
    <p><small>This address should be the adress you intend to ship most of your packages from.</small></p>
    <div class="form-group">
      <label for="physical_street" class="col-sm-2 control-label">Street Address</label>
      <div class="col-sm-10">
        <input type="text" name="physical_street" class="form-control" id="physical_street" placeholder="Address" value="{{ apiuser.address.street_no }} {{ apiuser.address.street1 }}">
      </div>
    </div>
    <div class="form-group">
      <label for="physical_city" class="col-sm-2 control-label">City, State & ZIP</label>
      <div class="col-sm-6">
        <input type="text" name="physical_city" class="form-control" id="physical_city" placeholder="City" value="{{ apiuser.address.city }}">
      </div>
      <div class="col-sm-2">
        <select name="physical_state" class="form-control" id="physical_state">
          <option>State</option>
          <option value='AA'>AA</option>
          <option value='AE'>AE</option>
          <option value='AE'>AE</option>
          <option value='AE'>AE</option>
          <option value='AE'>AE</option>
          <option value='AK'>AK</option>
          <option value='AL'>AL</option>
          <option value='AP'>AP</option>
          <option value='AR'>AR</option>
          <option value='AS'>AS</option>
          <option value='AZ'>AZ</option>
          <option value='CA'>CA</option>
          <option value='CO'>CO</option>
          <option value='CT'>CT</option>
          <option value='DC'>DC</option>
          <option value='DE'>DE</option>
          <option value='FL'>FL</option>
          <option value='FM'>FM</option>
          <option value='GA'>GA</option>
          <option value='GU'>GU</option>
          <option value='HI'>HI</option>
          <option value='IA'>IA</option>
          <option value='ID'>ID</option>
          <option value='IL'>IL</option>
          <option value='IN'>IN</option>
          <option value='KS'>KS</option>
          <option value='KY'>KY</option>
          <option value='LA'>LA</option>
          <option value='MA'>MA</option>
          <option value='MD'>MD</option>
          <option value='ME'>ME</option>
          <option value='MH'>MH</option>
          <option value='MI'>MI</option>
          <option value='MN'>MN</option>
          <option value='MO'>MO</option>
          <option value='MP'>MP</option>
          <option value='MS'>MS</option>
          <option value='MT'>MT</option>
          <option value='NC'>NC</option>
          <option value='ND'>ND</option>
          <option value='NE'>NE</option>
          <option value='NH'>NH</option>
          <option value='NJ'>NJ</option>
          <option value='NM'>NM</option>
          <option value='NV'>NV</option>
          <option value='NY'>NY</option>
          <option value='OH'>OH</option>
          <option value='OK'>OK</option>
          <option value='OR'>OR</option>
          <option value='PA'>PA</option>
          <option value='PR'>PR</option>
          <option value='PW'>PW</option>
          <option value='RI'>RI</option>
          <option value='SC'>SC</option>
          <option value='SD'>SD</option>
          <option value='TN'>TN</option>
          <option value='TX'>TX</option>
          <option value='UT'>UT</option>
          <option value='VA'>VA</option>
          <option value='VI'>VI</option>
          <option value='VT'>VT</option>
          <option value='WA'>WA</option>
          <option value='WI'>WI</option>
          <option value='WV'>WV</option>
          <option value='WY'>WY</option>
        </select>
      </div>
      <div class="col-sm-2">
        <input type="text" name="physical_zip" class="form-control" id="physical_zip" placeholder="ZIP" value="{{ apiuser.address.zip }}">
      </div>
    </div>
  </div>
  <div class="margin-v-md">
    <h4 class="margin-top-lg border-bottom">Security Question</h4>
    <p><small>In case you need to reset your Endicia password, you will be asked this question. Please do not any personal (e.g. your name) or address information in the question and answer.</small></p>
    <div class="form-group">
      <label for="security_question" class="col-sm-2 control-label">Security Question</label>
      <div class="col-sm-10">
        <input type="text" name="security_question" class="form-control" id="security_question" placeholder="Security Question">
      </div>
    </div>
    <div class="form-group">
      <label for="security_answer" class="col-sm-2 control-label">Security Answer</label>
      <div class="col-sm-10">
        <input type="text" name="security_answer" class="form-control" id="security_answer" placeholder="Security Answer">
      </div>
    </div>
  </div>
  <div class="margin-v-md">
	  <h4 class="margin-top-lg border-bottom">Billing information</h4>
	  <p><small>Will be used to pay for your USPS postage purchases. Shippo will charge service fees with the billing information of your Shippo account.</small></p>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Card Number</label>
	    <div class="col-sm-10">
	      <input type="number" class="form-control" name="credit_number" id="credit_number" type="text" size="20" placeholder="Card Number">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Expiration <small>(MM/YYYY)</small></label>
	    <div class="col-sm-10">
	      <input type="number" class="form-control" name="credit_exp_mm" id="credit_exp_mm" type="text" size="2" style="width:70px;float:left" placeholder="MM">
	      <span style="float:left;font-size:1.2em;line-height:30px;width:20px;text-align:center"> / </span>
	      <input type="number" class="form-control" name="credit_exp_yy" id="credit_exp_yy" type="text" size="4" style="width:100px;float:left" placeholder="YYYY">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="" class="col-sm-2 control-label">Name on card</label>
	    <div class="col-sm-10">
	      <input class="form-control" name="credit_name" id="credit_name" type="text" size="100" placeholder="Name on card">
	    </div>
	  </div>
	<div class="margin-v-md">
	  <h4 class="margin-top-lg">Billing address</h4>
	  <div class="form-group">
	    <label for="billing_street" class="col-sm-2 control-label">Street Address</label>
	    <div class="col-sm-10">
	      <input type="text" name="billing_street" class="form-control" id="billing_street" placeholder="Address">
	    </div>
	  </div>
	  <div class="form-group">
	    <label for="billing_city" class="col-sm-2 control-label">City, State & ZIP</label>
	    <div class="col-sm-6">
	      <input type="text" name="billing_city" class="form-control" id="billing_city" placeholder="City">
	    </div>
	    <div class="col-sm-2">
	      <select name="billing_state" class="form-control" id="billing_state">
	        <option>State</option>
	        <option value='AA'>AA</option>
	        <option value='AE'>AE</option>
	        <option value='AE'>AE</option>
	        <option value='AE'>AE</option>
	        <option value='AE'>AE</option>
	        <option value='AK'>AK</option>
	        <option value='AL'>AL</option>
	        <option value='AP'>AP</option>
	        <option value='AR'>AR</option>
	        <option value='AS'>AS</option>
	        <option value='AZ'>AZ</option>
	        <option value='CA'>CA</option>
	        <option value='CO'>CO</option>
	        <option value='CT'>CT</option>
	        <option value='DC'>DC</option>
	        <option value='DE'>DE</option>
	        <option value='FL'>FL</option>
	        <option value='FM'>FM</option>
	        <option value='GA'>GA</option>
	        <option value='GU'>GU</option>
	        <option value='HI'>HI</option>
	        <option value='IA'>IA</option>
	        <option value='ID'>ID</option>
	        <option value='IL'>IL</option>
	        <option value='IN'>IN</option>
	        <option value='KS'>KS</option>
	        <option value='KY'>KY</option>
	        <option value='LA'>LA</option>
	        <option value='MA'>MA</option>
	        <option value='MD'>MD</option>
	        <option value='ME'>ME</option>
	        <option value='MH'>MH</option>
	        <option value='MI'>MI</option>
	        <option value='MN'>MN</option>
	        <option value='MO'>MO</option>
	        <option value='MP'>MP</option>
	        <option value='MS'>MS</option>
	        <option value='MT'>MT</option>
	        <option value='NC'>NC</option>
	        <option value='ND'>ND</option>
	        <option value='NE'>NE</option>
	        <option value='NH'>NH</option>
	        <option value='NJ'>NJ</option>
	        <option value='NM'>NM</option>
	        <option value='NV'>NV</option>
	        <option value='NY'>NY</option>
	        <option value='OH'>OH</option>
	        <option value='OK'>OK</option>
	        <option value='OR'>OR</option>
	        <option value='PA'>PA</option>
	        <option value='PR'>PR</option>
	        <option value='PW'>PW</option>
	        <option value='RI'>RI</option>
	        <option value='SC'>SC</option>
	        <option value='SD'>SD</option>
	        <option value='TN'>TN</option>
	        <option value='TX'>TX</option>
	        <option value='UT'>UT</option>
	        <option value='VA'>VA</option>
	        <option value='VI'>VI</option>
	        <option value='VT'>VT</option>
	        <option value='WA'>WA</option>
	        <option value='WI'>WI</option>
	        <option value='WV'>WV</option>
	        <option value='WY'>WY</option>
	      </select>
	    </div>
	    <div class="col-sm-2">
	      <input type="text" name="billing_zip" class="form-control" id="billing_zip" placeholder="ZIP">
	    </div>
	  </div>
	</div>
  <div class="margin-v-md">
	  <h4 class="margin-top-lg border-bottom">Terms & Conditions</h4>
	  <div class="checkbox col-sm-offset-2" style="margin-top:-10px">
	      <label>
	        <input required type="checkbox" id="terms" name="terms"> I have read and understood the
	        <a href="http://about.usps.com/who-we-are/privacy-policy/welcome.htm" target="_blanc">
	          United States Postal Service Privacy Act Statement
	        </a>,
	        <a href="https://www.usps.com/cpim/ftp/hand/as353/as353apdx_051.htm" target="_blanc">
	          PC Postage Privacy Principles
	        </a>,
	        <a href="https://account.dymoendicia.com/Notice/AcknowledgementOfDeposit" target="_blanc">
	          Acknowledgement of Deposit
	        </a>,
	        <a href="https://account.dymoendicia.com/Notice/TermsAndConditions" target="_blanc">
	          DYMO Endicia Terms and Conditions
	        </a> and
	        <a href="https://account.dymoendicia.com/Notice/USPSRegardingShortpaidandUnpaidPostage" target="_blanc">
	          USPS Policy Regarding Shortpaid and Unpaid Postage
	        </a>.
	      </label>
	  </div>
	</div>
  <div class="text-center margin-tb-md">
    <button class="btn btn-lg btn-primary" type="submit">Create free Endicia account <i class="icon-caret-right"></i></button>
  </div><br>
</form>

<script type="text/javascript">
  $.validator.addMethod
    ("accepted_cctypes",
    function(value, element) {
      return this.optional(element)
      || /^4/.test(value)
      || /^51/.test(value)
      || /^52/.test(value)
      || /^53/.test(value)
      || /^54/.test(value)
      || /^55/.test(value)
      || /^34/.test(value)
      || /^37/.test(value)
      || /^300/.test(value)
      || /^301/.test(value)
      || /^302/.test(value)
      || /^303/.test(value)
      || /^304/.test(value)
      || /^305/.test(value)
      || /^6011/.test(value)
      || /^65/.test(value)
      || /^36/.test(value)
      || /^38/.test(value);
    },
    "Credit card must be Visa, Mastercard, Discover, Diners Club, American Express or Carte Blanche.");
  $( "#new-endicia-user-form" ).validate({
          ignore: [],
          rules: {
            "customer_firstname": {required: true},
            "customer_lastname": {required: true},
            "customer_phone": {required: true, number:true},
            "physical_street": {required: true},
            "physical_state": {required: true},
            "physical_city": {required: true},
            "physical_zip": {required: true, number:true},
            "security_question": {required: true, minlength:5, maxlength:50},
            "security_answer": {required: true, minlength:5, maxlength:50},
            "credit_name": {required: true},
            "credit_number": {required: true, creditcard:true, accepted_cctypes:true},
            "credit_exp_yy": {required: true, number:true, min:2013, max:2030, minlength:4, maxlength:4},
            "credit_exp_mm": {required: true, number:true, min:1, max:12, minlength:2, maxlength:2},
            "billing_street": {required: true},
            "billing_state": {required: true},
            "billing_city": {required: true},
            "billing_zip": {required: true, number:true},
            "terms": {required: true}
          },
          showErrors: function(errorMap, errorList) {
            $.each(this.successList, function(index, value) {
              return $(value).popover("hide");
            });
            return $.each(errorList, function(index, value) {
              var _popover;
              _popover = $(value.element).popover({
                trigger: "manual",
                placement: "top",
                content: value.message,
                template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
              });
              _popover.data("bs.popover").options.content = value.message;
              return $(value.element).popover("show");
            });
          },
          submitHandler: function(form) {
            form.submit();
          }
    });
  {% if apiuser.address.state %}
  $(document).ready(function() {
    $('#physical_state').val('{{ apiuser.address.state }}');
  });
  {% endif %}
</script>

</div>

{% endblock %}