{% extends "user/carriers.html" %}

{% block modaltitle %}USPS Endicia Account Settings{% endblock %}

{% block modalbody %}

  {% if error_message %}
    <div class="alert alert-error alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>{{ error_message }}</strong>
    </div>
  {% endif %}

  <div class="padding-v-xs text-center">
    <h3>Change your Endicia account</h3>
    <p><small>In order to purchase labels, you need to enter your <strong>Endicia account number and password</strong>.</small></p>
    <form action="" method="post">
      {% csrf_token %}
      <p><input autocomplete="off" type="number" name="endicia_account_id" class="form-control" id="endicia_account_number" placeholder="Endicia Account Number" value="{{ apiuser.endicia_account_id }}"></p>
      {% if not apiuser.endicia_temporary_account %}
      <!-- do NOT display passphrase field if we have a passphrase, but not an account -->
      <p><input autocomplete="off" type="password" name="endicia_passphrase" class="form-control" id="endicia_account_passphrase" placeholder="Endicia Account Passphrase" value="{{ apiuser.endicia_passphrase }}"></p>
      {% endif %}
      <div class="text-left">
        <p><small>Automatic refill amount:</small></p>
      </div>
      <div class="input-wrapper padding-b-sm text-left">
        <div class="row">
          <div class="col-sm-6 col-md-4">
            <div class="select-styled select-styled-default">
              <select name="endicia_refill_amount">
                <option value="10"{% if apiuser.endicia_refill_amount == 10 %} selected{% endif %}>$10</option>
                <option value="20"{% if apiuser.endicia_refill_amount == 20 %} selected{% endif %}>$20</option>
                <option value="50"{% if apiuser.endicia_refill_amount == 50 %} selected{% endif %}>$50</option>
                <option value="100"{% if apiuser.endicia_refill_amount == 100 %} selected{% endif %}>$100</option>
                <option value="200"{% if apiuser.endicia_refill_amount == 200 %} selected{% endif %}>$200</option>
                <option value="500"{% if apiuser.endicia_refill_amount == 500 %} selected{% endif %}>$500</option>
                <option value="1000"{% if apiuser.endicia_refill_amount == 1000 %} selected{% endif %}>$1000</option>
              </select>
              <div class="select-styled-default-label" aria-hidden="true">
                <span class="select-styled-label">$10</span>
                <i class="fa fa-caret-down"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p><small>Use your Endicia account in production?</small></p>
        <div class="row text-left margin-bt-sm">
          <div class="col-xs-6 col-xs-offset-3">
            <div class="toggle-buttons">
              <input id="active" name="endicia_production" value="True" type="radio" {% if apiuser.endicia_production %}checked=""{% endif %}>
              <label for="active" onclick="">Active</label>
              <input id="inactive" name="endicia_production" value="False" type="radio" {% if not apiuser.endicia_production %}checked=""{% endif %}>
              <label for="inactive" onclick="">Only Test</label>
              <a></a><!--empty a needed to overcome transition bug-->
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="margin-t-md"><button type="submit" class="btn btn-primary">Save Changes</button></p>
      </div>
    </form>
  </div>
  <hr>
  <div class="text-center padding-bt-sm margin-b-xs">
    <h3>Need a new account?</h3>
    <p>Create one now, it's free! We cover the $15.00 monthly fee for you.</p>
    <a class="btn btn-blue" href="{% url 'user:usercarriersuspsendiciaregistration' %}">Create Free Account</a>
  </div>

{% endblock %}