<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    {% block meta_tags %}
    <meta charset="utf-8">
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static "img/favicon/favicon.png" %}">

    {% block javascript_header %}
    <!-- jQuery -->
    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <!-- Bootstrap core -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <!-- Typekit Webfonts -->
    <script type="text/javascript" src="//use.typekit.net/gcj8dcy.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    {% if GA_CODE %}
        <!-- Google Analytics -->
        <script type="text/javascript">
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', '{{ GA_CODE }}', 'goshippo.com');
            ga('send', 'pageview');
        </script>
    {% endif %}
    {% if MIXPANEL_CODE %}
        <!-- Mixpanel -->
        <script type="text/javascript">
            (function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===e.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.2.min.js';f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f);b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==
            typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config people.set people.set_once people.increment people.append people.track_charge people.clear_charges people.delete_user".split(" ");for(g=0;g<i.length;g++)f(c,i[g]);
            b._i.push([a,e,d])};b.__SV=1.2}})(document,window.mixpanel||[]);
            mixpanel.init("{{ MIXPANEL_CODE }}");
            //create a second Mixpanel instance for the API project. This allows us to also get utm information for API users.
            mixpanel.init("{{ MIXPANEL_API_CODE }}", {}, "api");
        </script>
    {% endif %}
    <!-- Shippo Global Helpers -->
    <script src="{% static "js/shippo_helpers.js" %}"></script>
    <script type="text/javascript">
        GlobalHelpers.init();
    </script>
    <!-- Facebook OG Tags -->
    <meta property="og:image" content="{% static "img/logo/logo-fb.png" %}"/>
    <meta property="og:title" content="Shippo: shipping made easy"/>
    <meta property="og:site_name" content="Shippo"/>
    <meta property="fb:app_id" content="120734444768413"/>

    {% endblock %}

    {% block stylesheets %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <!-- Font awesome icons -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- Core Shippo styles -->
    <link rel="stylesheet" href="{% static "css/style.css" %}" />
    {% endblock %}

    <title>{% block title %}Shippo: the API to make shipping easy and affordable{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% include "page_elements/navigation.html" %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        {% include "page_elements/footer.html" %}
    </footer>

    {% block javascript_footer %}{% endblock %}

</body>
</html>