{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Page Not Found - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<div class="row">
		<div class="col-sm-6">
			<h1>Page Not Found</h1>
			<p class="lead padding-tb-sm">Unfortunately, we could not find the page you have been looking for. We are very sorry for the trouble. Our tech team has been informed about this. If you have any questions, please contact us at <a href="mailto:info@goshippo.com">info@goshippo.com</a>.</p>
			<div class="margin-tb-md">
				<a class="btn btn-lg btn-primary" href="/" title="Find the best shipping rates for express parcel shipments">Back to Shippo Home</a>
			</div>
		</div>
		<div class="col-sm-5 col-sm-offset-1 padding-tb-xl">
			<img src="{% static 'img/illustrations/parcel-stack-200.png' %}">
		</div>
	</div>
</div>

{% endblock %}