{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Parcel Shipping Blog - Shippo{% endblock %}

{% block content %}

<div class="container">
	{% for post in posts %}
	<div class="margin-t-lg margin-b-sm">
		<h1 class="text-primary serif"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a></h1>
		<div class="padding-v-sm">
			<p>{{ post.body_html|striptags|truncatewords_html:75 }}</p>
		</div>
		<div class="padding-v-xs border-tb-grey text-right">
			<small class="text-grey"><em>{{ post.pub_date|date:"D d M Y" }}</em></small>
		</div>
	</div>
	{% endfor %}

	<div class="pagination margin-bt-lg text-center width-100p">
		{% if posts.has_previous %}<a href="?page={{ posts.previous_page_number }}">< previous</a>&nbsp;&nbsp;&nbsp;{% endif %}
		Page {{ posts.number }} of {{ posts.paginator.num_pages }}
		{% if posts.has_next %}&nbsp;&nbsp;&nbsp;<a href="?page={{ posts.next_page_number }}">next ></a>{% endif %}
	</div>

</div>

{% endblock %}