{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ carrier_content.title }} - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<h1 class="text-primary border-bottom">{{ carrier_content.title }}</h1>
	<div class="row">
		<div class="col-sm-8">
	    	<p>{{ carrier_content.description_html|safe }}</p>
	    	<div class="margin-v-sm">
				<a class="btn btn-lg btn-primary" href="{% url 'user:userregistration' %}"><i class="fa fa-truck"></i>&nbsp;&nbsp;Find cheap {{ carrier_content.carrier.name }} shipping rates&nbsp;</a> or
				<a href="{% url 'cms:apilandingpage' %}" title="Shippo API: making shipping easy and affordable">read more about the Shippo API</a>.
			</div>
	    </div>
	    <div class="col-sm-4 col-xs-12 margin-sm-t-sm">
	    	<div class="padding-v-md">
	            <img src="{{ carrier_content.carrier.get_image_200_url }}" alt="Find the best {{ carrier_content.carrier.name }} shipping rates on Shippo">
	        </div>
      		<div class="panel panel-default">
				<div id="sidebar-heading" class="panel-heading">
					<h3 class="panel-title">What is {{ carrier_content.carrier.name }}?</h3>
				</div>
				<div id="sidebar-content" class="panel-body">
					<p>{{ carrier_content.description }}</p>
					<ul class="fa-ul list-padding-sm">
						<li><i class="fa fa-li fa-truck"></i>
							<span id="ovcarrier-services">{{ carrier_content.available_services }}
						</span></li>
						<li><i class="fa fa-li fa-globe"></i>
							<span id="ovcarrier-regions">{{ carrier_content.available_countries }}</span>
						</li>
						<li><i class="fa fa-li fa-home"></i>
							<span id="ovcarrier-website"><a href="{{ carrier_content.carrier.website }}" target="_blanc">{{ carrier_content.carrier.website }}</a></span>
						</li>
					</ul>
				</div>
			</div>
			{% if seopages %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Read more about {{ carrier_content.carrier.name }}</h3>
				</div>
				<div class="panel-body">
					<ul class="list-noblt">
						{% for seopage in seopages %}
							<li><a href="/{{ seopage.slug }}" title="{{ seopage.title }}">{{ seopage.title }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			{% endif %}
	    </div>
	</div>
</div>

{% endblock %}