{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ seopage.title }} - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<h1 class="text-primary border-bottom">{{ seopage.title }}</h1>
	<div class="row">
		<div class="col-md-8">
	    	<p>{{ seopage.body_html|safe }}</p>
	    	<div class="margin-tb-md">
				<a class="btn btn-lg btn-primary" href="{% url 'user:userregistration' %}" title="{{ seopage.button_text }}">{{ seopage.button_text }}</a>
			</div>
	    </div>
	    <div class="col-md-4 hidden-sm hidden-xs">
	    	{% if seopage.carrier_content %}
	    	<div class="padding-v-md">
	            <img src="{{ seopage.carrier_content.carrier.get_image_200_url }}" alt="Find the best {{ carrier_content.carrier.name }} shipping rates on Shippo">
	        </div>
	        {% endif %}
    		<div class="alert alert-default clearfix">
				<h4 class="lh-25">Are you looking for an easy and afforable shipping solution?</h4>
				<p>With the Shippo API, shipping{% if seopage.carrier_content %} with {{ seopage.carrier_content.carrier.name }} {% endif%} is as easy as it should be. Your advantages:</p>
				<ul class="fa-ul padding-v-sm text-left">
					<li><i class="fa-li fa fa-check text-primary"></i>Find and compare all available rates</li>
					<li><i class="fa-li fa fa-check text-primary"></i>Get the best shipping discounts</li>
					<li><i class="fa-li fa fa-check text-primary"></i>Print shipping abels with one API call</li>
				</ul>
				<p class="text-center"><a class="btn btn-blue" href="{% url 'cms:apilandingpage' %}" title="Shippo API: making shipping easy and affordable">Learn more about the Shippo API</a></p>
			</div>
	    </div>
	</div>
</div>

{% endblock %}