{% extends "base.html" %}
{% load staticfiles %}

{% block title %}How to get your {{ rate.provider.name }} Label - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	{% if success %}
	  	<div class="alert alert-success alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<strong>Your registration has been submitted successfully. We will get back to you shortly!</strong>
	  	</div>
	{% endif %}
	{% if error %}
	  	<div class="alert alert-error alert-dismissable">
	      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      	<strong>{{ error }}</strong>
	  	</div>
	{% endif %}
	<h2 class="text-primary serif border-bottom">How to get your {{ rate.provider.name }} label</h2>
	<div class="row">
		<div class="col-sm-8 col-xs-12">
			<div class="margin-bt-md">
				<p>{{ rate.provider.name }} offers the following options to obtain your shipping label:</p>
				<div class="alert alert-default margin-t-sm">
					<div class="padding-t-xs padding-r-xs lh-lg">
						{% if carrier_content and carrier_content.label_manual_instruction_html %}
							{{ carrier_content.label_manual_instruction_html|safe }}
						{% else %}
							<ol type="A">
								<li>
									<strong>Visit your local {{ rate.provider.name }} office</strong><br>
									<p>Detailed instructions on how to get your label vary from provider to provider. Of course, you may always purchase your label at the closest {{ rate.provider.name }} location.</p>
								</li>
								<li>
									<strong>Purchase your label online</strong><br>
									<p>Depending on the carrier, you may be able to purchase your label online. Please refer to the <a href="{{ rate.provider.website }}" target="_blanc">{{ rate.provider.name }} Website</a> for detailed instructions.</p>
								</li>
							</ol>
						{% endif %}
					</div>
				</div>
			</div>
			<hr>
			<div class="font-sm margin-v-md text-center">
				<h4>Do you want to print your labels online, automatically?</h4>
				<div>
					<a class="btn btn-lg btn-primary" href="{% url 'user:userregistration' %}">Sign up for the Shippo API now <i class="fa fa-caret-right"></i></a>
				</div>
			</div>
		</div>

		<div class="col-sm-4 col-xs-12 margin-sm-t-sm">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">Your Shipment</h3>
				</div>
				<div class="panel-body">
					<div class="row padding-t-sm">
						<div class="col-xs-3 text-center">
							<img src="{{ rate.provider.get_image_75_url }}">
						</div>
						<div class="col-xs-9">
							<span class="bold">
								<p>{{ rate.provider }} {{ rate.servicelevel_name }}</p>
							</span>
								<p>
									{% if rate.days == 1 %}
										{{ rate.days }} day
									{% elif rate.days > 1 %}
										{{ rate.days }} days
									{% else %}
										unknown duration
									{% endif %}
								</p>
						</div>
					</div>
					<hr>
					<table width="100%" border="0" cellpadding="2">
						<tr>
							<td class="bold" width="30%">From</td>
							<td>
								{{ rate.shipment.address_from.city }}{% if rate.shipment.address_from.state %}, {{ rate.shipment.address_from.state }}{% endif %}
								 ({{ rate.shipment.address_from.country.name.title }})
							</td>
						</tr>
						<tr>
							<td class="bold">To</td>
							<td>
								{{ rate.shipment.address_to.city }}{% if rate.shipment.address_to.state %}, {{ rate.shipment.address_to.state }}{% endif %}
								 ({{ rate.shipment.address_to.country.name.title }})
							</td>
						</tr>
					</table>
					<hr>
					<table width="100%" border="0" cellpadding="2">
						<tr>
							<td class="bold" width="30%">Price</td>
							<td>
								<span class="bold">{{ rate.currency_local.symbol }} {{ rate.amount_local }}</span>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <script type="text/javascript">
  	var trackable;
  	var available;
  	if( "{{ rate.servicelevel.trackable }}" == 'True' ){ trackable = '1'; } else { trackable = '0' }
  	if( "{{ rate.servicelevel.available_shippo }}" == 'True' ){ available = '1'; } else { available = '0' }
  	mixpanel.track("Rate selected", {
	    "Price": parseFloat("{{ rate.amount_local }}").toFixed(2),
	    "Carrier": "{{ rate.provider.name }}",
	    "Servicelevel": "{{ rate.servicelevel.servicelevel_name }}",
	    "Duration": parseInt("{{ rate.duration.days }}"),
	    "Insurance": parseFloat("{{ rate.insurance_amount_local }}").toFixed(2),
	    "Tracking": trackable,
	    "Adapter": "Shippo API",
	    "From Country": "{{ rate.shipment.address_from.country.iso2 }}",
	    "From City": "{{ rate.shipment.address_from.city }}",
	    "From ZIP": "{{ rate.shipment.address_from.zip }}",
	    "To Country": "{{ rate.shipment.address_to.country.iso2 }}",
	    "To City": "{{ rate.shipment.address_to.city }}",
	    "To ZIP": "{{ rate.shipment.address_to.zip }}",
	    "Dimension Length": parseFloat("{{ rate.shipment.parcel.length }}").toFixed(2),
	    "Dimension Width": parseFloat("{{ rate.shipment.parcel.width }}").toFixed(2),
	    "Dimension Height": parseFloat("{{ rate.shipment.parcel.height }}").toFixed(2),
	    "Dimension Unit": "{{ rate.shipment.parcel.distance_unit.abbreviation }}",
	    "Weight": parseFloat("{{ rate.shipment.parcel.weight }}").toFixed(2),
	    "Available on Shippo": available,
	    "Weight Unit": "{{ rate.shipment.parcel.mass_unit.abbreviation }}"
	});
	</script>
{% endblock %}