{% load staticfiles %}

<form role="ship-request" id="home-form" method="GET" action="{% url 'websearch:shipmentresults' %}">
	<div id="form-locations">
		<div class="row">
			<div class="font-md semibold margin-b-xxs col-sm-6 col-xs-12">
				From
			</div>
			<div class="font-md semibold margin-b-xxs col-sm-6 hidden-xs">
				To
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6 col-xs-12" id="flag-fromcountry-group">
				<input type="text" class="form-control from-field" id="google-from" name="from-dd" placeholder="ZIP or City">
				<span class="input-group-addon" id="flag-fromcountry-outer" style="display:none"><div id="flag-fromcountry-inner"></div></span>
			</div>
			<!--show label To only on mobile in new row -->
			<div class="font-md semibold margin-b-xxs col-xs-12 visible-xs">
				To
			</div>
			<div class="form-group col-sm-6 col-xs-12" id="flag-tocountry-group">
				<input type="text" class="form-control to-field" id="google-to" name="to-dd" placeholder="ZIP or City">
				<span class="input-group-addon" id="flag-tocountry-outer" style="display:none"><div id="flag-tocountry-inner"></div></span>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-xs-6"> <!-- hidden fields FROM -->
				<div class="row">
					<div class="form-group col-sm-6 col-xs-6 ship-fromcountry">
						<input type="hidden" class="form-control disabled" name="from-country" id="ship-fromcountry" placeholder="Selected Country">
					</div>
					<div class="form-group col-sm-6 col-xs-6">
						<input type="hidden" class="form-control disabled" name="from-state" id="ship-fromstate" placeholder="Selected State">
					</div>
					<div class="form-group col-sm-6 col-xs-6 ship-fromcity">
						<input type="hidden" class="form-control disabled" name="from-city" id="ship-fromcity" placeholder="Selected City">
					</div>
					<div class="form-group col-sm-6 col-xs-6">
						<input type="hidden" class="zip form-control disabled" name="from-ZIP" id="ship-fromzip" placeholder="Selected ZIP">
						<input type="hidden" class="form-control disabled" name="from-ZIP-type" id="ship-fromzip-type">
					</div>
				</div>
			</div>

			<div class="col-md-6 col-xs-6"> <!-- hidden fields TO -->
				<div class="row">
					<div class="form-group col-sm-6 col-xs-6 ship-tocountry">
						<input type="hidden" class="form-control disabled" name="to-country" id="ship-tocountry" placeholder="Selected Country">
					</div>
					<div class="form-group col-sm-6 col-xs-6">
						<input type="hidden" class="form-control disabled" name="to-state" id="ship-tostate" placeholder="Selected State">
					</div>
					<div class="form-group col-sm-6 col-xs-6 ship-tocity">
						<input type="hidden" class="form-control disabled" name="to-city" id="ship-tocity" placeholder="Selected City">
					</div>
					<div class="form-group col-sm-6 col-xs-6">
						<input type="hidden" class="form-control disabled" name="to-ZIP" id="ship-tozip" placeholder="Selected ZIP">
						<input type="hidden" class="form-control disabled" name="to-ZIP-type" id="ship-tozip-type">
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="form-dimweightamount">
		<div class="row">
			<div class="font-md semibold margin-b-xxs col-sm-6 col-xs-12">
				Dimensions
			</div>
			<div class="font-md semibold margin-b-xxs col-sm-6 hidden-xs">
				Weight
			</div>
		</div>
		<div class="row">
			<div class="form-group col-sm-6 col-xs-12">
				<div class="row">
					<div class="col-sm-9 col-xs-12">
						<div class="pull-left width-30p">
							<input required type="number" class="form-control" id="ship-length" placeholder="length" name="dimensions-length">
						</div>
						<div class="pull-left height-34 lh-34 width-05p text-center">
							<p>x<p>
						</div>
						<div class="pull-left width-30p">
							<input required type="number" class="form-control" id="ship-width" placeholder="width" name="dimensions-width">
						</div>
						<div class="pull-left height-34 lh-34 width-05p text-center">
							<p>x<p>
						</div>
						<div class="pull-left width-30p">
							<input required type="number" class="form-control" id="ship-height" placeholder="height" name="dimensions-height">
						</div>
					</div>
					<div class="col-sm-3 col-xs-6 margin-sm-t-sm">
						<div class="input-wrapper">
							<div class="select-styled select-styled-default">
								<select id="dimensionunit-select" name="dimensions-unit">
									<option active>inch</option>
									<option>cm</option>
								</select>
								<div class="select-styled-default-label" aria-hidden="true">
									<span class="select-styled-label" id="dimensionunit-label">inch</span>
									<i class="fa fa-caret-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="visible-xs" style="margin-top:30px">
				<div class="font-md semibold margin-b-xxs col-xs-12">
					Weight
				</div>
			</div>
			<div class="form-group col-sm-4 col-xs-12">
				<div class="row">
					<div class="col-sm-6 col-xs-8">
						<input required type="number" class="form-control " id="ship-weight" placeholder="weight" name="weight-value">
					</div>
					<div class="col-md-4 col-sm-6 col-xs-6 margin-sm-t-sm">
						<div class="input-wrapper">
							<div class="select-styled select-styled-default">
								<select id="weightunit-select" name="weight-unit">
									<option active>lbs</option>
									<option>oz</option>
									<option>kg</option>
								</select>
								<div class="select-styled-default-label" aria-hidden="true">
									<span class="select-styled-label" id="weightunit-label">lbs</span>
									<i class="fa fa-caret-down"></i>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="padding-t-sm">
		<button type="submit" class="btn btn-primary btn-lg" id="shipsubmit"><i class="fa fa-truck"></i>&nbsp;&nbsp;Find Shipping Rates&nbsp;</button>
		&nbsp;<small>or</small>&nbsp;&nbsp;<a id="sample-shipment" class="btn btn-grey">try a sample shipment</a>
	</div>

</form>