{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Your Shipment Rate Results - Shippo{% endblock %}

{% block content %}

<div class="container margin-b-md" id="rates-main" style="display:none">
  <div class="row">
    <div class="col-md-11">
      <div id="results-list">
        <div class="row">
          <div class="col-sm-6 col-xs-12 margin-t-xs">
            <div class="pull-left">
              <h3><span id="number_of_results"></span></h3>
            </div>
            <div class="pull-left font-sm lh-65 padding-l-md" id="small-loader">
              <img src="{% static 'img/various/ajax-loader-small.gif' %}" /> Searching for more rates...
            </div>
          </div>
          <div class="col-sm-6 col-xs-12 text-right lh-30 padding-v-sm">
            <small>Sort by:</small>&nbsp;&nbsp;
            <div class="btn-group pull-right">
              <button type="button" onclick="RatesSortingHandler.resortRates('price')" class="resort-buttons btn btn-light btn-light-active">Price</button>
              <button type="button" onclick="RatesSortingHandler.resortRates('duration')" class="resort-buttons btn btn-light">Duration</button>
              <button type="button" onclick="RatesSortingHandler.resortRates('value')" class="resort-buttons btn btn-light">Best Value</button>
            </div>
          </div>
        </div>
        <div class="border-grey border-radius-3">
          <div class="padding-v-xs padding-h-xs border-b-grey bg-verlightgrey font-sm bold shadow-b-sm-grey hidden-xs">
            <div class="row">
              <div class="col-md-2 col-sm-2 col-xs-2 text-center">
                <i class="fa fa-caret-up"></i> Price
              </div>
              <div class="col-md-4 col-sm-4 col-xs-6">
                Carrier
              </div>
              <div class="col-md-2 col-sm-2 col-xs-4">
                Transit Time*
              </div>
              <div class="col-md-4 col-sm-4 col-xs-7">
                Details
              </div>
            </div>
          </div>
          <div id="results-list-rates">
          </div>
        </div>
        <small>*estimate</small>
        <small id="pg_rate" style="display:none"><br>**discounted carrier offer</small>
      </div>
    </div>
  </div>
</div>

<div class="container margin-bt-lg" id="rates-error" style="display:none">
  <div class="row">
    <div class="col-md-7 col-sm-7 col-xs-12 margin-b-md">
      <div class="alert alert-success alert-dismissable" id="noresults-form-success" style="display:none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Your request has been submitted successfully.</strong>
      </div>
      <div class="alert alert-error alert-dismissable" id="noresults-form-error" style="display:none">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>There was an error processing your request. Please try again or contact info@goshippo.com for help. We're sorry for the trouble!</strong>
      </div>
      <div class="margin-b-sm">
        <h3>There are currently no rates available.</h3>
      </div>
      <p>We are really sorry! Shippo is currently in beta and we are expanding steadily from one
      country to the next. Your requested shipment route will be available soon, we promise!</p>
      <h4>Want to know as soon as we have new results?</h4>
      <a href="{% url 'user:userregistration' %}" id="noresults-form-button" class="btn btn-lg btn-primary">Sign Up Now <i class="fa fa-caret-right"></i></a>
    </div>
    <div class="col-md-4 col-sm-5 col-xs-12">
      <div class="bg-primary text-white margin-l-sm margin-t-md padding-sm">
        <h4>Sign up to be the first to know in your country!</h4>
        <ul class="fa-ul margin-b-sm list-padding-sm">
          <li><i class="fa-li fa fa-check-circle"></i>Best available shipping rates.</li>
          <li><i class="fa-li fa fa-check-circle"></i>100% transparent for everyone, anytime.</li>
          <li><i class="fa-li fa fa-check-circle"></i>Easy integration and usage.</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="results-rollup-outer" style="display:none">
  <div id="results-rollup-inner">
    <div class="pull-left" style="margin-right:10px">
        <fb:like href="https://www.facebook.com/goshippo" width="90" layout="button_count" show_faces="false" send="false"></fb:like>
    </div>
    <div class="pull-left">
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://goshippo.com" data-text="Just received incredible shipping rates on @goshippo. Check it out!" data-via="goshippo">Tweet</a><br>
    </div>
  </div>
</div>
<div id="results-rollup-buffer" style="display:none"></div>

<div class="width-100p" id="ajax-loader">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12 text-center">
        <div class="padding-v-xxl">
          <h3>We are searching for the best rates...</h3><br>
          <img src="{% static 'img/various/ajax-loader.gif' %}" />
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  //Main process when document is ready

</script>

{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <script src="{% static "js/django_csrf.js" %}"></script>
  <script src="{% static "js/mixpanel_tracking.js" %}"></script>
  <script src="{% static "js/rates_display_handler.js" %}"></script>
  <script src="{% static "js/rates_error_form_handler.js" %}"></script>
  <script src="{% static "js/rates_results_handler.js" %}"></script>
  <script src="{% static "js/rates_scrollup.js" %}"></script>
  <script src="{% static "js/rates_sorting_handler.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      // !! global variables
      rates_list = new Array();
      submit_noresults_form_url = "{% url 'websearch:submitnoresultsform' %}";
      label_manual_instructions_url = "{% url 'websearch:manuallabelinstructions' %}";
      ajax_mail_url = "{% url 'cms:sendajaxmail' %}";
      var rates_url_ext = "{{ rates_url_ext }}";
      var shipments_url_ext = "{{ shipments_url_ext }}";
      var get_shipment_id_url = "{% url 'websearch:getshipmentid' %}";
      var http_type = "{{ http_type }}";
      var base_url = "{{ base_url }}";
      var api_token = "{{ api_token }}";
      MixpanelTracking.init();
      RatesDisplayHandler.init();
      RatesErrorFormHandler.init();
      RatesScrollup.init();
      RatesSortingHandler.init();
      try{
        RatesResultsHandler.init(http_type, base_url, get_shipment_id_url, shipments_url_ext, rates_url_ext, api_token);
      }
      catch(err){
        console.log(err);
      }
    });
  </script>
{% endblock %}