{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Account Activation - Shippo{% endblock %}

{% block content %}

  <div class="container page-inner">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="panel panel-primary clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">Account Activation</h3>
          </div>
          <div class="panel-body">
            {% if error %}
            <div class="alert alert-error">
                <p><strong>{{ error }}</strong></p>
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success">
                <p><strong>{{ success }}</strong></p>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}