{% extends "base.html" %}

{% block title %}Login - Shippo{% endblock %}

{% block content %}

  <div class="container page-inner">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="panel panel-primary clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">Login</h3>
          </div>
          <div class="panel-body">
            {% if error %}
            <div class="alert alert-error">
                <p><strong>{{ error }}</strong></p>
            </div>
            {% endif %}
            {% if success %}
            <div class="alert alert-success">
                <p><strong>{{ success }}</strong></p>
            </div>
            {% endif %}
            <form method="post" action="{% url 'user:userlogin' %}" class="form-horizontal">
              {% csrf_token %}
              <div class="padding-tb-sm">
                <div class="form-group">
                    <label for="user_username" class="col-sm-3 control-label">E-Mail</label>
                    <div class="col-sm-8">
                        <input type="text" id="user_username" name="username" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="user_password" class="col-sm-3 control-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" id="user_password" name="password" class="form-control">
                    </div>
                </div>
              </div>
              <hr>
              <div class="padding-v-xs">
                  <button class="btn btn-lg btn-primary" type="submit">Login</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}