{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Registration - Shippo{% endblock %}

{% block javascript_header %}
  {{ block.super }}
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block content %}

  <div class="container page-inner">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <div class="panel panel-primary clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
          </div>
          <div class="panel-body">
            {% if error %}
            <div class="alert alert-error">
                <p><strong>{{ error }}</strong></p>
            </div>
            {% endif %}
            {% if success %}
              <div class="alert alert-success">
                  <p><strong>{{ success }}</strong></p>
              </div>

              <script type="text/javascript">
                //create alias first to not lose all data tracked before
                mixpanel.alias("{{ new_user.email }}");
                mixpanel.api.alias("{{ new_user.email }}");
                //set Mixpanel distinct user id = username = email
                mixpanel.identify("{{ new_user.email }}");
                mixpanel.api.identify("{{ new_user.email }}");
                //set Mixpanel super properties
                mixpanel.people.set({
                    '$first_name': "{{ new_user.first_name }}",
                    '$last_name': "{{ new_user.last_name }}",
                    '$email': "{{ new_user.email }}"
                });
                mixpanel.api.people.set({
                    '$first_name': "{{ new_user.first_name }}",
                    '$last_name': "{{ new_user.last_name }}",
                    '$email': "{{ new_user.email }}"
                });
                //track Mixpanel Registration
                mixpanel.track('Registration');
                mixpanel.api.track('Registration');
                //track GA event
                ga('send', 'event', 'registration', 'successful');
                //track Facebook conversion
                var fb_param = {};
                fb_param.pixel_id = '6011920496856';
                fb_param.value = '0.00';
                fb_param.currency = 'USD';
                (function(){
                  var fpw = document.createElement('script');
                  fpw.async = true;
                  fpw.src = '//connect.facebook.net/en_US/fp.js';
                  var ref = document.getElementsByTagName('script')[0];
                  ref.parentNode.insertBefore(fpw, ref);
                })();
              </script>
              <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6011920496856&amp;value=0&amp;currency=USD" /></noscript>
            {% endif %}
            <form method="post" action="{% url 'user:userregistration' %}" class="form-horizontal" id="user-registration">
              {% csrf_token %}
              <p class="lead padding-tb-sm">Start using Shippo in minutes. It's free, no credit card required.</p>
              <hr>
              <div class="form-group padding-t-sm">
                  <label for="first_name" class="col-sm-3 control-label">Your Name</label>
                  <div class="col-sm-4">
                      <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name">
                  </div>
                  <div class="col-sm-4">
                      <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name">
                  </div>
              </div>
              <div class="form-group">
                  <label for="email" class="col-sm-3 control-label">Your E-Mail</label>
                  <div class="col-sm-8">
                      <input type="email" id="email" name="email" class="form-control" placeholder="E-Mail">
                  </div>
              </div>
              <div class="form-group">
                  <label for="password" class="col-sm-3 control-label">Password</label>
                  <div class="col-sm-8">
                      <input type="password" id="password" name="password" class="form-control" placeholder="Password">
                  </div>
              </div>
              <div class="form-group padding-b-sm">
                  <label for="password_confirm" class="col-sm-3 control-label">Confirm Password</label>
                  <div class="col-sm-8">
                      <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="Confirm Password">
                  </div>
              </div>
              <hr>
              <div class="padding-bt-sm">
                  <button class="btn btn-lg btn-primary" type="submit">Register For Free</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <script type="text/javascript">
    //Validate Form Input
    $( "#user-registration" ).validate({
        rules: {
          "first_name": { required: true },
          "last_name": { required: true },
          "email": { required: true },
          "password": { required: true },
          "password_confirm": { equalTo: "#password" }
        },
      showErrors: function(errorMap, errorList) {
        $.each(this.successList, function(index, value) {
          return jQuery(value).popover("hide");
        });
        return $.each(errorList, function(index, value) {
          var _popover;
          _popover = $(value.element).popover({
            trigger: "manual",
            placement: "top",
            content: value.message,
            template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
          });
          _popover.data("bs.popover").options.content = value.message;
          return $(value.element).popover("show");
        });
      },
      submitHandler: function(form) {
        submit_button = $('#shipsubmit');
        submit_button.prop('disabled', true);
            submit_button.html('<i class="fa fa-refresh fa-spin"></i> Finding Rates...');
          form.submit();
      }
    });
  </script>
{% endblock %}
