/* ======= */
/* GLOBALS */
/* ======= */

a, body a{
	color:#27ae61;
}

a:hover, body a:hover{
	color:#35a167;
}

html, body {
    height: 100%;
    margin: auto;
    font-size: 15px;
    max-width: none;
    font-family: "proxima-nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

h4{
	margin-top:30px;
	margin-bottom: 15px;
}

.lead{
	font-size: 20px;
}

/* =============== */
/* GENERAL HELPERS */
/* =============== */

/* NOBRAINERS */
.italic{font-style: italic;}
.bold{font-weight:600;}
.semibold{font-weight:500;}
.underline{text-decoration: underline;}

/* HEADINGS */
.border-bottom{
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.serif{font-family:'adelle', 'Helvetica Neue', Helvetica, sans-serif;}

/* FONT SIZES */
.font-xxxxl{font-size:2em;}
.font-xxxl{font-size:1.8em;}
.font-xxl{font-size:1.6em;}
.font-lg{font-size:1.25em;}
.font-md{font-size: 1.15em;}
.font-standard{font-size: 1em;}
.font-sm{font-size: 0.9em;}
.font-xsm{font-size: 0.85em;}
.font-xs{font-size: 0.8em;}
.font-xxs{font-size: 0.7em;}

.uppercase{text-transform: uppercase;}

/* PADDINGS & MARGINS */
.page-inner{margin-top:30px;margin-bottom:40px;}

.padding-sm{padding: 20px;}
.padding-xs{padding: 10px;}
.padding-xxs{padding: 5px;}

.padding-l-xxl{padding-left:100px;}
.padding-l-md{padding-left: 40px;}
.padding-l-sm{padding-left: 20px;}
.padding-l-xs{padding-left: 10px;}

.padding-r-sm{padding-right: 20px;}
.padding-r-xs{padding-right: 10px;}
.padding-r-none{padding-right: 0;}

.padding-t-lg{padding-top: 60px;}
.padding-t-md{padding-top: 40px;}
.padding-t-sm{padding-top: 20px;}
.padding-t-xs{padding-top: 10px;}

.padding-b-lg{padding-bottom: 60px;}
.padding-b-md{padding-bottom: 40px;}
.padding-b-sm{padding-bottom: 20px;}
.padding-b-xs{padding-bottom: 10px;}
.padding-b-xxs{padding-bottom: 5px;}

.padding-h-sm{padding-left:20px;padding-right:20px;}
.padding-h-xs{padding-left:10px;padding-right:10px;}

.padding-v-xxl{padding-top: 100px;padding-bottom:100px;}
.padding-v-xl{padding-top: 80px;padding-bottom:80px;}
.padding-v-lg{padding-top: 60px;padding-bottom:60px;}
.padding-v-md{padding-top: 40px;padding-bottom:40px;}
.padding-v-sm{padding-top: 20px;padding-bottom:20px;}
.padding-v-xs{padding-top: 10px;padding-bottom:10px;}
.padding-v-none{padding-top: 0;padding-bottom:0;}

.padding-tb-xl{padding-top: 80px;padding-bottom:60px;}
.padding-tb-lg{padding-top: 60px;padding-bottom:40px;}
.padding-tb-md{padding-top: 40px;padding-bottom:20px;}
.padding-tb-sm{padding-top: 20px;padding-bottom:10px;}

.padding-bt-xlg{padding-top: 60px;padding-bottom:80px;}
.padding-bt-lg{padding-top: 40px;padding-bottom:60px;}
.padding-bt-md{padding-top: 20px;padding-bottom:40px;}
.padding-bt-sm{padding-top: 10px;padding-bottom:20px;}
.padding-bt-xs{padding-top: 5px;padding-bottom:10px;}

.margin-l-md{margin-left:40px;}
.margin-l-sm{margin-left:20px;}

.margin-t-lg{margin-top:60px;}
.margin-t-md{margin-top:40px;}
.margin-t-sm{margin-top:20px;}
.margin-t-xs{margin-top:10px;}
.margin-t-2{margin-top:2px;}
.margin-t-1{margin-top:1px;}

.margin-b-md{margin-bottom:40px;}
.margin-b-sm{margin-bottom:20px;}
.margin-b-xs{margin-bottom:10px;}
.margin-b-xxs{margin-bottom:5px;}

.margin-h-auto{margin-left: auto;margin-right: auto;}

.margin-h-sm{margin-left: 20px;margin-right: 20px;}

.margin-v-auto{margin-top: auto;margin-bottom: auto;}

.margin-v-lg{margin-top: 60px;margin-bottom: 60px;}
.margin-v-md{margin-top: 40px;margin-bottom: 40px;}
.margin-v-sm{margin-top: 20px;margin-bottom: 20px;}
.margin-v-xs{margin-top: 10px;margin-bottom: 10px;}

.margin-tb-xlg{margin-top: 80px;margin-bottom: 60px;}
.margin-tb-lg{margin-top: 60px;margin-bottom: 40px;}
.margin-tb-md{margin-top: 40px;margin-bottom: 20px;}
.margin-tb-sm{margin-top: 20px;margin-bottom: 10px;}

.margin-bt-lg{margin-top: 40px;margin-bottom: 60px;}
.margin-bt-md{margin-top: 20px;margin-bottom: 40px;}
.margin-bt-sm{margin-top: 10px;margin-bottom: 20px;}

.margin-n-t-10{margin-top:-10px;}
.margin-n-t-25{margin-top:-25px;}

@media (max-width: 767px) {.margin-sm-t-sm{margin-top: 20px;}}
@media (max-width: 992px) {.margin-xssm-t-sm{margin-top: 20px;}}

/* BACKGROUND */
.bg-primary{background-color: #27ae61;}
.bg-navy{background-color: #293f46;}
.bg-verlightgrey{background-color: #fbfbfb;}
.bg-lightgrey{background-color: #f5f5f5;}
.bg-none{background-color: 0;background-image: none;}

/* TEXT */
.text-white{color:#fff;}
.text-primary{color:#27ae61;}
.text-primary:hover{color:#27ae61;}
.text-grey{color:#888999;}
.text-lightgrey{color:#999999;}
.text-blue{color:#1d6dcf;}
.link-white{color:#fff;}
.link-white:hover{color:#fff;}
.link-grey{color:#888999;}
.link-grey:hover{color:#888999;}
.link-black{color:#333;}
.link-black:hover{color:#333;}

/* BORDERS */
.border-none{border:0;}
.border-grey{border: 1px solid rgba(0,0,0,0.12);}
.border-t-grey{border-top: 1px solid rgba(0,0,0,0.12);}
.border-l-grey{border-left: 1px solid rgba(0,0,0,0.12);}
.border-r-grey{border-right: 1px solid rgba(0,0,0,0.12);}
.border-b-grey{border-bottom: 1px solid rgba(0,0,0,0.12);}
.border-tb-white{border-top: 1px solid rgba(255,255,255,0.2);border-bottom: 1px solid rgba(255,255,255,0.2);}
.border-tb-grey{border-top: 1px solid rgba(0,0,0,0.12);border-bottom: 1px solid rgba(0,0,0,0.12);}

.border-radius-3{border-radius: 3px;}

/* LISTS */
.list-noblt{
	list-style-type: none;
	margin:0 0 10px 0;
	padding:0;
}
.list-noblt li{padding-bottom: 6px;}

.list-padding-sm li{padding-bottom: 10px;}

.list-padding-xs li{padding-bottom: 8px;}
.list-padding-xxs li{padding-bottom: 4px;}

.list-menu{font-size: 1.1em;}
.list-menu li{
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left: 20px;
	margin-bottom:4px;
	margin-top:4px;
}
.list-menu li.active, .list-menu li:hover{
	background-color: #eaeeee;
	border-color: #eaeeee;
	background-image: -moz-linear-gradient(top, #eaeeee, #fafafa);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eaeeee), to(#fafafa));
	background-image: -webkit-linear-gradient(top, #eaeeee, #fafafa);
	background-image: -o-linear-gradient(top, #eaeeee, #fafafa);
	background-image: linear-gradient(to bottom, #eaeeee, #fafafa);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eaeeee', endColorstr='#fafafa', GradientType=0) background-color: #fafafa;
}

.fa-ul-2x{margin-left: 3em!important;}
.fa-ul-2x li{padding: 6px 0 6px;margin-bottom: 5px;}

/* LINE-HEIGHT */
.lh-lg{line-height: 1.65;}
.lh-20{line-height: 20px;}
.lh-25{line-height: 25px;}
.lh-30{line-height: 30px;}
.lh-34{line-height: 34px;}
.lh-40{line-height: 40px;}
.lh-45{line-height: 45px;}
.lh-65{line-height: 65px;}
.lh-75{line-height:75px;}
.lh-100{line-height:100px;}
.lh-120{line-height:120px;}
.lh-200{line-height:200px;}

/* TABLES */
.table-col-1-str tbody td:first-child{font-weight: bold;}

/* BOX SHADOWS */
.shadow-b-sm-grey{
	-moz-box-shadow: 0px 1px 1px 0px #ddd;
	-webkit-box-shadow: 0px 1px 1px 0px #ddd;
	box-shadow: 0px 1px 1px 0px #ddd;
}

/* WIDTH & HEIGHT */
.width-75{width:75px;}
.width-100p{width:100%;}
.width-80p{width:80%;}
.width-30p{width:30%;}
.width-05p{width:5%;}

.max-width-50{max-width:50px;}

.height-120{height:120px;}
.height-100{height:100px;}
.height-34{height:34px;}

.min-height-40{min-height:40px;}

/* HOVERS */
.hover-grey:hover{background-color: #f5f5f5;}

/* OTHERS */
.height-full{height:100%;}
.overflow-auto{overflow: auto;}
.clearfix{clear: both;}
.cursor-pointer{cursor: pointer;}
.no-hover:hover{text-decoration: none;}
.position-relative{position: relative;}
.uppercase{text-transform: uppercase;}

/* ===== */
/* FORMS */
/* ===== */

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
	border-radius: 2px;
	height:33px;
}

.form-control {
	border-radius: 2px;
}

textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus{
	border-color: #27ae61;
  	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(39, 174, 97, 0.6);
  	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(39, 174, 97, 0.6);
}

.form-control:focus {
  border-color: #27ae61;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(39, 174, 97, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(39, 174, 97, 0.6);
}

.select-styled-default{
	position: relative;
}

.select-styled-default select{
	bottom: 0;
	height: 100%;
	left: 0;
	min-width: 100%;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	position: absolute;
	right: 0;
	top: 0;
	-webkit-appearance: none;
	width: auto;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border linear 0.2s,box-shadow linear 0.2s;
	transition: border linear 0.2s,box-shadow linear 0.2s;
	display: inline-block;
	cursor: pointer;
}

.select-styled-default-focus{
	border-color: #27ae61!important;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(39, 174, 97, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(39, 174, 97, 0.6);
}

.select-styled-default-label{
	display: inline-block;
	border: 1px solid #c7c7c7;
	background-color: #fff;
	background-image: -webkit-linear-gradient(#fff, #f2f2f2);
	background-image: linear-gradient(#fff, #f2f2f2);
	margin-bottom: 0;
	border-radius: 2px;
	text-align: left;
	color: #555;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	cursor: pointer;
	padding: 6px 18px 5px 18px;
	width: 100%;
}
/*hide arrow up/down buttons in number text field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}


/* ==== */
/* PREs */
/* ==== */

pre{
	font-size: 0.8em;
	padding: 16px;
	-webkit-box-shadow: 0px 0px 10px rgba(88,88,88,0.2) inset;
	-moz-box-shadow: 0px 0px 10px rgba(88,88,88,0.2) inset;
	box-shadow: 0px 0px 10px rgba(88,88,88,0.2) inset;
}

/* ======= */
/* BUTTONS */
/* ======= */

.btn{
	border-radius: 2px;
}

.btn-inverse {
	color: #fff;
	background-color: transparent;
	border:2px solid #fff;
}

.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #27ae61;
  background-color: #ffffff;
  border-color: #fff;
}

.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-color: #ffffff;
  -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.125);
}


.btn-primary {
  color: #ffffff;
  background-color: #27ae61;
  border-color: #2f8e5b;
  border:0;
  border-radius: 2px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #35a167;
  border-color: #20603d;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #35a167;
  border-color: #2f8e5b;
}

.btn-red {
  color: #ffffff;
  background-color: #d43f3a;
  border-color: #2f8e5b;
  border:0;
  border-radius: 2px;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  color: #ffffff;
  background-color: #d2322d;
  border-color: #20603d;
}

.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-image: none;
}

.btn-red.disabled,
.btn-red[disabled],
fieldset[disabled] .btn-red,
.btn-red.disabled:hover,
.btn-red[disabled]:hover,
fieldset[disabled] .btn-red:hover,
.btn-red.disabled:focus,
.btn-red[disabled]:focus,
fieldset[disabled] .btn-red:focus,
.btn-red.disabled:active,
.btn-red[disabled]:active,
fieldset[disabled] .btn-red:active,
.btn-red.disabled.active,
.btn-red[disabled].active,
fieldset[disabled] .btn-red.active {
  background-color: #d2322d;
  border-color: #2f8e5b;
}

.btn-blue {
  color: #ffffff;
  background-color: #428bca;
  border-color: #2f8e5b;
  border:0;
  border-radius: 2px;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  color: #ffffff;
  background-color: #357ebd;
  border-color: #20603d;
}

.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-image: none;
}

.btn-blue.disabled,
.btn-blue[disabled],
fieldset[disabled] .btn-blue,
.btn-blue.disabled:hover,
.btn-blue[disabled]:hover,
fieldset[disabled] .btn-blue:hover,
.btn-blue.disabled:focus,
.btn-blue[disabled]:focus,
fieldset[disabled] .btn-blue:focus,
.btn-blue.disabled:active,
.btn-blue[disabled]:active,
fieldset[disabled] .btn-blue:active,
.btn-blue.disabled.active,
.btn-blue[disabled].active,
fieldset[disabled] .btn-blue.active {
  background-color: #357ebd;
  border-color: #2f8e5b;
}

.btn-grey {
  color: #777;
  background-color: #ddd;
  border-radius: 2px;
}

.btn-grey:hover,
.btn-grey:focus,
.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  color: #444;
  background-color: #ccc;
}

.btn-grey:active,
.btn-grey.active,
.open .dropdown-toggle.btn-grey {
  background-image: none;
}

.btn-grey.disabled,
.btn-grey[disabled],
fieldset[disabled] .btn-grey,
.btn-grey.disabled:hover,
.btn-grey[disabled]:hover,
fieldset[disabled] .btn-grey:hover,
.btn-grey.disabled:focus,
.btn-grey[disabled]:focus,
fieldset[disabled] .btn-grey:focus,
.btn-grey.disabled:active,
.btn-grey[disabled]:active,
fieldset[disabled] .btn-grey:active,
.btn-grey.disabled.active,
.btn-grey[disabled].active,
fieldset[disabled] .btn-grey.active {
  background-color: #ccc;
}

.btn-light {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
  border-radius: 2px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active,
.btn-light.active,
.btn-light-active,
.open .dropdown-toggle.btn-light {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

.btn-light:active,
.btn-light.active,
.open .dropdown-toggle.btn-light {
  background-image: none;
}

.btn-light.disabled,
.btn-light[disabled],
fieldset[disabled] .btn-light,
.btn-light.disabled:hover,
.btn-light[disabled]:hover,
fieldset[disabled] .btn-light:hover,
.btn-light.disabled:focus,
.btn-light[disabled]:focus,
fieldset[disabled] .btn-light:focus,
.btn-light.disabled:active,
.btn-light[disabled]:light,
fieldset[disabled] .btn-light:active,
.btn-light.disabled.active,
.btn-light[disabled].active,
fieldset[disabled] .btn-light.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

/* ========== */
/* NAVIGATION */
/* ========== */

/* Top Navigation */

.navbar {
	margin-bottom:0;
	border-radius:0;
	border:0;
}

.navbar-nav {
	margin: 0 0 0 60px;
}

.navbar-inverse .navbar-nav>li>a {
	color:#fff;
	padding: 20px 10px 20px 10px;
	cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a:hover {
	text-decoration: underline;
}

.navbar-inverse{
	background-image: -moz-linear-gradient(top, #2fcc71, #27ae61);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2fcc71), to(#27ae61));
	background-image: -webkit-linear-gradient(top, #2fcc71, #27ae61);
	background-image: -o-linear-gradient(top, #2fcc71, #27ae61);
	background-image: linear-gradient(to bottom, #2fcc71, #27ae61);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fcc71', endColorstr='#27ae61', GradientType=0)
	background-color: #27ae61;
	border-color:#35a167;
	padding:5px 0 5px 0;
}

.navbar-brand {
	padding: 10px 15px;
}

/* Nav Tabs for Internal Menu */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover, .nav-tabs .nav>li>a:hover, .nav-tabs .nav>li>a:focus {
	border-radius: 2px;
	background-color: #27ae61;
	color: #fff;
	border: 0;
	margin-top:1px;
	margin-bottom:2px;
	margin-left:2px;
}

.nav-tabs>li>a:hover, .nav-tabs .nav>li>a:hover, .nav-tabs .nav>li>a:focus {
	text-decoration: none!important;
}

.nav-tabs>li>a {
	padding: 10px 20px;
	margin-bottom: 1px;
}

.pull-right>.dropdown-menu {
	right: auto;
	top: auto;
}

.dropdown-menu li a:hover{
	color:#fff;
}

.dropdown-menu hr{
	margin-top: 7px;
	margin-bottom: 7px;
}

.navbar-inverse .navbar-toggle {
	border-color: #fff;
}

/* Django REST Framework Customization */

.navbar .navbar-inner {
	background: none;
	background-image: none;
	box-shadow: none;
	border:0;
}

ul.breadcrumb{
	margin:0;
	padding: 8px 0;
	background-color: transparent;
}
.navbar .navbar-inner .dropdown-menu li a, .navbar .navbar-inner .dropdown-menu li,
.navbar .navbar-inner .dropdown-menu li a:hover, .navbar .navbar-inner .dropdown-menu li:hover{
	color:#27ae61;
}

.nav .dropdown{
	padding: 10px 0 0;
}

.navbar .nav>li>a {
	/*padding-right:0;*/
	padding: 10px 15px;
	margin: 10px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus{
	color: #fff;
	background-color: #35a167;
	border-radius: 2px;
}

.navbar .nav .dropdown-toggle .caret{
	margin-top:0;
}

.navbar-inverse .nav li.dropdown.open>.dropdown-toggle, .navbar-inverse .nav li.dropdown.active>.dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active>.dropdown-toggle {
	background-color: transparent;
}

.btn-group.open .btn-primary.dropdown-toggle {
	background-color: #35a167;
}

.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-submenu:hover>a {
	background-color: #27ae61;
	color:#<fff;
	background-image: none;
}

.wrapper{
	margin-top:90px;
}

/* ===== */
/* PANEL */
/* ===== */

.panel{
	border-radius: 2px;
	border-color:#eaeeee;
}

.panel-heading{
	background-color: #f3f3f4;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
}

.panel-primary .panel-heading{
	background-color:#27ae61;
	border-bottom: 2px solid #eaeeee!important;
	color:#fff!important;
}

.panel-info .panel-heading{
	background-color:#f5f5f5;
	border-bottom: 2px solid #eaeeee!important;
	color:#333!important;
}

/* ===== */
/* ALERT */
/* ===== */

.alert {
	border-radius: 2px;
	border: 2px solid transparent;
	padding: 20px 30px 20px 30px;
}

.alert-default {
	background-color: #fbfbfb;
	border-color: #eaeeee;
}

.alert-default-white {
	background-color: #fff;
	border-color: #eaeeee;
}

.alert-info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color:#31708f;
}

.alert-warning {
	background-color: #fffcc9;
	border-color: #ffe83a;
	color:#b18e13;
}

.alert-success {
	background-color: #f0f2dd;
	border-color: #59a80f;
	color:#59a80f;
}

.alert-error {
	background-color: #fff4f4;
	border-color: #d58a8a;
	color:#d58a8a;
}

.alert-border{
	border-radius: 2px;
	border: 1px solid #a2a2a2;
	padding:15px 30px 5px 30px;
}

/* ===== */
/* MODAL */
/* ===== */
.modal-content{
	border-radius: 2px;
}

.modal-header{
	background-color: #f8f8f8;
	border-bottom: 0;
}


/* ======= */
/* POPOVER */
/* ======= */
.popover-title{
	font-weight:700;
	font-size:0.85em;
}
.popover-content{
	font-size:0.85em;
}

/* ========= */
/* ICONBLOCK */
/* ========= */

.iconblock{
	/*padding:20px;*/
	width:70px;
	height:63px;
	line-height: 75px;
	text-align: center;
	border-radius:2px;
	border:1px solid;
}
.iconblock-fa2x{
	/*padding:24px 20px 16px 20px;*/
}
.iconblock-primary{
	color: white;
	background-image: -moz-linear-gradient(top, #2fcc71, #27ae61);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2fcc71), to(#27ae61));
	background-image: -webkit-linear-gradient(top, #2fcc71, #27ae61);
	background-image: -o-linear-gradient(top, #2fcc71, #27ae61);
	background-image: linear-gradient(to bottom, #2fcc71, #27ae61);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2fcc71', endColorstr='#27ae61', GradientType=0)
	background-color: #27ae61;
	border-color:#35aaaa;
}
.iconblock-grey{
	color: white;#6f7c82
	background-image: -moz-linear-gradient(top, #8da4af, #526475);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8da4af), to(#526475));
	background-image: -webkit-linear-gradient(top, #8da4af, #526475);
	background-image: -o-linear-gradient(top, #8da4af, #526475);
	background-image: linear-gradient(to bottom, #8da4af, #526475);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8da4af', endColorstr='#526475', GradientType=0)
	background-color: #8da4af;
	border-color:#8298a3;
	border:0;
}
.iconblock-yellow{
	color: white;#6f7c82
	background-image: -moz-linear-gradient(top, #ffe400, #fdcc0b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe400), to(#fdcc0b));
	background-image: -webkit-linear-gradient(top, #ffe400, #fdcc0b);
	background-image: -o-linear-gradient(top, #ffe400, #fdcc0b);
	background-image: linear-gradient(to bottom, #ffe400, #fdcc0b);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffe400', endColorstr='#fdcc0b', GradientType=0)
	background-color: #ffe400;
	border-color:#fdcc0b;
}
.iconblock-blue{
	color: white;#6f7c82
	background-image: -moz-linear-gradient(top, #18b7f6, #0b64e0);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#18b7f6), to(#0b64e0));
	background-image: -webkit-linear-gradient(top, #18b7f6, #0b64e0);
	background-image: -o-linear-gradient(top, #18b7f6, #0b64e0);
	background-image: linear-gradient(to bottom, #18b7f6, #0b64e0);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#18b7f6', endColorstr='#0b64e0', GradientType=0)
	background-color: #18b7f6;
	border-color:#16aae5;
}

/* ============= */
/* IMG GREYSCALE */
/* ============= */

img.greyscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

img.greyscale:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

/* ============== */
/* TOGGLE-BUTTONS */
/* ============== */

/*hide inputs by hiding them from screen (thus still accessible by keyboard)*/
/*http://ghinda.net/css-toggle-switch/index.html*/
.toggle-buttons input {
    position: absolute;
	opacity: 0;
}
.toggle-buttons {
    background-color: #eee;
	border-radius: 3px;
	text-align: center;
	display: block;
	height: 30px;
	position: relative;
	padding: 0 !important;
}
.toggle-buttons input + label {
	position: relative;
	font-weight: normal;
	color:#666;
	font-size: 0.9em;
	z-index: 2;
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding-top: 6px;
	text-align: center;
}
.toggle-buttons a {
	/*border: 1px solid #bbb;*/
	background-color: #428bca;
	border-radius: 2px;
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0));
	/*box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), inset 0 1px 1px rgba(255, 255, 255, 0.45);*/
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	z-index: 1;
	width: 50%;
	height: 100%;
	display: block;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
}
/*the true toggle button CSS magic*/
.toggle-buttons input:last-of-type:checked ~ a {
    left: 50%;
    background-color: #ccc;
}
.toggle-buttons input:checked + label {
    color: #fff;
	font-weight: 600;
}
.toggle-buttons input:last-of-type:checked + label {
    color: #333!important;
}
.toggle-buttons input:focus + label {
    outline: 1px dotted #fff;
}

/* ====== */
/* FOOTER */
/* ====== */
.sociallink{
	width:24px;
	height:24px;
	margin-right:5px;
}
#facebook{background:url('../img/social-icons/facebook.png');}
#facebook:hover{background-position:0 -24px;}
#twitter{background:url('../img/social-icons/twitter.png');}
#twitter:hover{background-position:0 -24px;}
#wordpress{background:url('../img/social-icons/wordpress.png');}
#wordpress:hover{background-position:0 -24px;}


/* ========== */
/* PRETTYJSON */
/* ========== */
.json_string { color: green; }
.json_number { color: darkorange; }
.json_boolean { color: blue; }
.json_null { color: magenta; }
.json_key { color: red; }


/* ============ */
/* DESIGN PAGES */
/* ============ */
.carrier_image{
	width:75px;
	height:40px;
}

#results-rollup-outer{
  position:fixed;
  top:auto;
  left:30%;
  right:auto;
  bottom:0;
}
@media (max-width: 767px) {#results-rollup-outer{
    display:none!important;
    width:0;
    height:0;
    visibility:hidden;
  }}
#results-rollup-inner{
  width: 533px;
  height: 26px;
  padding: 45px 0 50px 300px;
  background: url('../img/illustrations/courier-scrollup.png');
}
#results-rollup-buffer{ /*needed to prevent footer bouncing*/
  width:100%;
  height:122px;
}


/*
==========================================================
DATEPICKER
==========================================================
*/

.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  /*.dow {
    border-top: 1px solid #ddd !important;
  }*/

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #006dcc;
  background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
  background-image: -o-linear-gradient(top, #0088cc, #0044cc);
  background-image: linear-gradient(to bottom, #0088cc, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #0044cc;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
}

