{% extends "base.html" %}
{% block content %}

<div class="container page-inner">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">Connect Your Shopify Store with Shippo</h3>
          </div>
          <div class="panel-body">
            <form method="get" action="{% url 'shopify_app:authenticate' %}">
              {% csrf_token %}
              <div class="alert alert-default">Install this app in a Shopify shop to automate your shipments. Don&rsquo;t have a shop to install your app in handy? <a href="https://app.shopify.com/services/partners/api_clients/test_shops" target="_blanc">Create a test shop.</a></div>
              <div class="text-center margin-v-sm">
	              <div class="form-group">
	                  <label for="shop" class="control-label">Your Shopify Shop URL</label>
	                  <div class="">
	                      <input type="text" id="shop" name="shop" class="form-control" placeholder="'YOUR_SHOP_ID.myshopify.com' or 'custom-domain.com'">
	                  </div>
	              </div>
	              <div class="">
	                  <button class="btn btn-lg btn-primary" type="submit">Connect</button>
	              </div>
	           </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}
