{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}Shopify Order Label - Shippo{% endblock %}

{% block internalmenu %}

<h3 class="text-primary border-bottom">Your Shipment for Order {{ order.name }}</h3>
<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-info">
    	<div class="panel-heading">
    		<strong>Your Shipment Label</strong>
    	</div>
    	<div class="panel-body">
        {% if error %}
          <div class="alert alert-error alert-dismissable margin-t-sm">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>{{ error }}</strong>
          </div>
        {% endif %}
        {% if success %}
          <div class="alert alert-success alert-dismissable margin-t-sm">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <strong>Your label has been requested successfully.</strong>
          </div>

          <p>You can find the status of your label on your Shippo dashboard. It can take up to 5 minutes until your label has been created. You will also find a note in case the creation failed.</p>
          <p class="padding-v-sm"><a href="{% url 'user:userdashboard' %}" class="btn btn-lg btn-primary">View Label Status on Dashboard&nbsp;&nbsp;<i class="fa fa-caret-right"></i></a></p>
        {% endif %}
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		{% include "shopify_app/shopify_order_orderinfo.html" %}
	</div>
</div>

{% endblock %}