<div class="panel panel-info">
  	<div class="panel-heading">
  		<strong>Order Items</strong>
  	</div>
  	<div class="panel-body font-sm">
  		{% for item in order.items %}
  			<div class="row padding-v-xxs">
  				<div class="col-sm-7">
  					<strong>{{ item.quantity }} x {{ item.title }}</strong><br>
  					{% if item.grams < 1000 %}
  						{{ item.grams|floatformat:"0" }} g {% if item.quantity > 1 %}each{% endif %}
  					{% else %}
  						{{ item.lbs|floatformat:"0" }} lbs ({{item.kgs|floatformat:"0" }} kg)
  					{% endif %}
  				</div>
  				<div class="col-sm-5 text-right">
  					${{ item.total|floatformat:"2" }}
  				</div>
  			</div>
  		{% endfor %}
  		<hr>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				Subtotal:
  			</div>
  			<div class="col-sm-5 text-right">
  				${{ order.subtotal_price }}
  			</div>
  		</div>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				Shipping:
  			</div>
  			<div class="col-sm-5 text-right">
  				${{ order.shipping_price }}
  			</div>
  		</div>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				Tax & Other:
  			</div>
  			<div class="col-sm-5 text-right">
  				${{ order.total_tax }}
  			</div>
  		</div>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				<strong>Total:</strong>
  			</div>
  			<div class="col-sm-5 text-right">
  				<strong>${{ order.total_price_usd }}</strong>
  			</div>
  		</div>
  	</div>
</div>

<div class="panel panel-info margin-t-sm">
  	<div class="panel-heading">
  		<strong>Shipping Address</strong>
  	</div>
  	<div class="panel-body font-sm">
  		<strong>{{ order.shipping_address.first_name }} {{ order.shipping_address.last_name }}</strong>
  		{% if order.shipping_address.company %}
  			<br>{{ order.shipping_address.company }}
  		{% endif %}
			<br>{{ order.shipping_address.address1 }}
			{% if order.shipping_address.address2 %}
  			<br>{{ order.shipping_address.address2 }}
  		{% endif %}
  		<br>{{ order.shipping_address.city }}{% if order.shipping_address.province_code %} ({{ order.shipping_address.province_code }}){% endif %}, {{ order.shipping_address.zip }}
  		<br>{{ order.shipping_address.country.name.title }}
  	</div>
</div>