{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}Shopify Orders - Shippo{% endblock %}

{% block internalmenu %}

{% if success %}
  <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Your changes have been saved successfully.</strong>
  </div>
{% endif %}
{% if error %}
  <div class="alert alert-error alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ error }}</strong>
  </div>
{% endif %}
<h3 class="text-primary border-bottom">Your Shopify Orders</h3>
<div class="margin-v-sm">
  <div class="row margin-h-sm">
    <div class="text-right col-xs-12 col-sm-3 col-sm-offset-6">
    </div>
    <div class="text-right col-xs-12 col-sm-3">
    </div>
  </div>
  <div>
  </div>
	{% if not orders %}
		<p>You have not imported any Shopify Orders so far.</p>
	{% else %}
    <hr>
		<div class="row padding-v-none margin-h-sm text-primary uppercase">
			<div class="col-sm-2">
				<small>No. (date)</small>
			</div>
			<div class="col-sm-2">
				<small>Customer</small>
			</div>
			<div class="col-sm-2">
				<small>Items</small>
			</div>
			<div class="col-sm-2">
				<small>Shipping</small>
			</div>
			<div class="col-sm-2 text-left">
				<small>Label</small>
			</div>
		</div>
		{% for order in orders %}
		<hr>
		<div class="row margin-v-sm margin-h-sm">
			<div class="col-sm-2">
				<small>{{ order.name }} ({{ order.created_at|date:"d M y" }})</small>
			</div>
			<div class="col-sm-2">
				<a
					class="tooltip-toggle link-black underline"
					data-toggle="tooltip"
					data-title="{{ order.customer_email }}">
					<small>{{ order.customer_name }}</small>
				</a>
			</div>
			<div class="col-sm-2">
				{% if order.items|length < 2 %}
					<small>
						{% for item in order.items %}
							{{ item.quantity }} x {{ item.title }}
						{% endfor %}
					</small>
				{% else %}
				<a
					class="tooltip-toggle link-black underline"
					data-toggle="tooltip"
					data-title="{% for item in order.items %}{{ item.quantity }} x {{ item.title }}. {% endfor %}">
					<small>Multiple items</small>
				</a>
				{% endif %}
				<br><small>(${{ order.total_price_usd }} total)</small>
			</div>
			<div class="col-sm-2">
				<small>{{ order.shipping_title }} (${{ order.shipping_price }})</small>
			</div>
			<div class="col-sm-2">
				{% if order.shipment_transaction.count == 1 %}
					{% for shipment_transaction in order.shipment_transaction %}
						{% if shipment_transaction.transaction.label_url %}
							<small><a href="{{ shipment_transaction.transaction.label_url }}" target="_blanc" class="btn btn-blue"><i class="fa fa-cloud-download fa-inverse"></i>&nbsp;Download</a></small>
						{% else %}
							<small><a href="{% url 'user:userdashboard' %}?shopify_order={{ order.id }}" target="_blanc" class="btn btn-red"><i class="fa fa-exclamation-circle fa-inverse"></i>&nbsp;View Error</a></small>
						{% endif %}
					{% endfor %}
				{% elif order.shipment_transaction.count > 1 %}
					<small><a href="{% url 'user:userdashboard' %}?shopify_order={{ order.id }}" target="_blanc" class="btn btn-blue"><i class="fa fa-chevron-right fa-inverse"></i>&nbsp;View all</a></small>
				{% else %}
					<small class="text-grey">no label</small>
				{% endif %}
			</div>
			<div class="col-sm-2">
				{% if order.shipping_address %}
					<a href="{% url 'shopify_app:orders' %}{{ order.id }}" class="btn btn-primary"><i class="fa fa-truck"></i>&nbsp;Get Label</a>
				{% else %}
					<small class="text-grey">no shipping required</small>
				{% endif %}
			</div>
		</div>
		{% endfor %}
	{% endif %}
		<hr>
		<div class="row">
			<div class="margin-bt-sm text-center col-xs-12 col-sm-offset-4 col-sm-3">
				<small>
				{% if orders.has_previous %}<a href="?mode={{ mode }}&page={{ orders.previous_page_number }}">< previous</a>&nbsp;&nbsp;&nbsp;{% endif %}
				Page {{ orders.number }} of {{ orders.paginator.num_pages }}
				{% if orders.has_next %}&nbsp;&nbsp;&nbsp;<a href="?mode={{ mode }}&page={{ orders.next_page_number }}">next ></a>{% endif %}
				</small>
			</div>
			<div class="col-xs-12 col-sm-offset-1 col-sm-4 text-right">
				<a href="?import=True" class="btn btn-blue"><i class="fa fa-shopping-cart"></i> Import New Shopify Orders</a>
			</div>
		</div>

	<script type="text/javascript">
		$(".tooltip-toggle").tooltip();
	</script>

</div>

{% endblock %}