{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}Shopify Order Shipment - Shippo{% endblock %}

{% block javascript_header %}
  {{ block.super }}
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
  <script src="{% static "js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block internalmenu %}

{% if error %}
  <div class="alert alert-error alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ error }}</strong>
  </div>
{% endif %}
<h3 class="text-primary border-bottom">Create Shipment for Order {{ order.name }}</h3>
<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-info">
	      	<div class="panel-heading">
	      		<strong>How do you want to ship your order?</strong>
	      	</div>
	      	<div class="panel-body">
	      		<form action="{% url 'shopify_app:order_rates' order.id %}" method="post" id="shopify-shipment-data">
	      			{% csrf_token %}
					<div class="padding-bt-sm">
						<div>
							<strong>Parcel Dimensions</strong>
						</div>
						<div class="row">
							<div class="col-sm-9 col-xs-12">
								<div class="pull-left width-30p">
									<input required type="number" class="form-control" id="ship-length" placeholder="length" name="dimensions-length">
								</div>
								<div class="pull-left height-34 lh-34 width-05p text-center">
									<p>x<p>
								</div>
								<div class="pull-left width-30p">
									<input required type="number" class="form-control" id="ship-width" placeholder="width" name="dimensions-width">
								</div>
								<div class="pull-left height-34 lh-34 width-05p text-center">
									<p>x<p>
								</div>
								<div class="pull-left width-30p">
									<input required type="number" class="form-control" id="ship-height" placeholder="height" name="dimensions-height">
								</div>
							</div>
							<div class="col-sm-3 col-xs-6 margin-sm-t-sm">
								<div class="input-wrapper">
									<div class="select-styled select-styled-default">
										<select name="dimensions-unit">
											<option value="in" selected>inch</option>
											<option value="cm">cm</option>
										</select>
										<div class="select-styled-default-label" aria-hidden="true">
											<span class="select-styled-label">inch</span>
											<i class="fa fa-caret-down"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="padding-b-sm">
						<div class="">
							<strong>Parcel Weight</strong>
						</div>
						<div class="row">
							<div class="col-sm-4 col-xs-8">
								<input required type="number" class="form-control " id="ship-weight" placeholder="weight" name="weight-value" value="{{ order.total_weight|floatformat:'0' }}">
							</div>
							<div class="col-md-3 col-sm-4 col-xs-6 margin-sm-t-sm">
								<div class="input-wrapper">
									<div class="select-styled select-styled-default">
										<select name="weight-unit">
											<option value="lb">lbs</option>
											<option value="oz">oz</option>
											<option value="g" selected>g</option>
											<option value="kg">kg</option>
										</select>
										<div class="select-styled-default-label" aria-hidden="true">
											<span class="select-styled-label">g</span>
											<i class="fa fa-caret-down"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="padding-b-sm">
						<div class="">
							<strong>Shipment Date</strong> <small>(YYYY-MM-DD)</small>
						</div>
						<div class="row">
							<div class="col-sm-6 col-xs-12">
								<input required type="text" class="form-control " id="shipment-date" placeholder="Shipment Date" name="shipment-date">
							</div>
						</div>
					</div>
					<div class="padding-b-sm">
						<button type="submit" class="btn btn-primary btn-lg" id="shipsubmit"><i class="fa fa-truck"></i>&nbsp;&nbsp;Find Shipping Rates&nbsp;</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="col-sm-4">
		{% include "shopify_app/shopify_order_orderinfo.html" %}
	</div>
</div>

<script type="text/javascript">
	//Datepicker for Shipment Date
	var nowTemp = new Date();
	var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);
	var weekTemp = new Date();
	weekTemp.setDate(weekTemp.getDate() + 14);
	var week = new Date(weekTemp.getFullYear(), weekTemp.getMonth(), weekTemp.getDate(), 0, 0, 0, 0);
	var shipment_date_picker = $('#shipment-date').datepicker({
		'format':'yyyy-mm-dd',
		onRender: function(date) {
			return date.valueOf() < now.valueOf() ? 'disabled' : '' || date.valueOf() > week.valueOf() ? 'disabled' : '';
		}
	}).on('changeDate', function(ev) {
  		$('.datepicker').hide();
  		$('#shipsubmit').focus();
  	});
	//Validate Form Input
	$( "#shopify-shipment-data" ).validate({
	    rules: {
		    "dimensions-length": { required: true, number: true },
	        "dimensions-width": { required: true, number: true },
	        "dimensions-height": { required: true, number: true },
	        "weight-value": { required: true, number: true },
	        "shipment-date": { required: true }
	    },
		showErrors: function(errorMap, errorList) {
		  $.each(this.successList, function(index, value) {
		    return jQuery(value).popover("hide");
		  });
		  return $.each(errorList, function(index, value) {
		    var _popover;
		    _popover = $(value.element).popover({
		      trigger: "manual",
		      placement: "top",
		      content: value.message,
		      template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
		    });
		    _popover.data("bs.popover").options.content = value.message;
		    return $(value.element).popover("show");
		  });
		},
		submitHandler: function(form) {
			submit_button = $('#shipsubmit');
			submit_button.prop('disabled', true);
      		submit_button.html('<i class="fa fa-refresh fa-spin"></i> Finding Rates...');
		  	form.submit();
		}
	});
</script>

{% endblock %}