{% load staticfiles %}
{% load url from future %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <link rel="icon" type="image/png" href="{% static "img/favicon/favicon.png" %}">
        {% endblock %}

        <title>{% block title %}API Documentation v1 | Shippo{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
            <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <!-- Font awesome icons -->
    	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Typekit Webfonts -->
	    <script type="text/javascript" src="//use.typekit.net/gcj8dcy.js"></script>
	    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% endblock %}

    {% endblock %}
    </head>

  <body class="{% block bodyclass %}{% endblock %} bg-none">
  	<div class="container">
	    <div class="wrapper">

	    {% block navbar %}
	    <div class="navbar {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
	        <div class="navbar-inner">
	            <div class="container-fluid">
	                <span href="/">
	                    {% block branding %}<a class="navbar-brand" href=""><img src="{% static "img/logo/logo-beta.png" %}" height="40"></a>{% endblock %}
	                </span>

	            </div>
	        </div>
	    </div>
	    {% endblock %}

	    <!-- Content -->
	    <div id="content">
	    	<div class="row">
	    		<div class="col-md-3 bs-sidebar padding-v-lg border-r-grey">
	    			<h4>Navigation</h4><br>
	    			<ul class="font-md nav bs-sidenav">
						<li><a href="/v1/addresses/">Addresses</a></li>
						<li><a href="/v1/parcels/">Parcels</a></li>
						<li><a href="/v1/shipments/">Shipments</a></li>
						<li><a href="/v1/rates/">Rates<br><span class="font-xxs text-grey"><em>(to view Rates for a given Shipment, add /rates/ to a Shipment object id)</em></span></a></li>
                        <li><a href="/v1/transactions/">Transactions</a></li>
                        <li><a href="/v1/tracking/">Tracking<br><span class="font-xxs text-grey"><em>(to track a given Transaction, add /tracking/ to a Transaction object id)</em></span></a></li>
                        <li><a href="/v1/locations/">Locations<br><span class="font-xxs text-grey"><em>(to view Locations for a given Address, add /locations/ to an Address object id)</em></span></a></li>
	            	</ul>
	    		</div>
	    		<div class="col-md-8 col-md-offset-1">
	    			{% block contentinner %}
	    			<div>
				        {% if 'GET' in allowed_methods %}
				            <form id="get-form" class="pull-right">
				                <fieldset>
				                    <div class="btn-group format-selection">
				                        <a class="btn btn-primary js-tooltip" href='{{ request.get_full_path }}' rel="nofollow" title="Make a GET request on the {{ name }} resource">GET</a>

				                        <button class="btn btn-primary dropdown-toggle js-tooltip" data-toggle="dropdown" title="Specify a format for the GET request">
				                            <span class="caret"></span>
				                        </button>
				                        <ul class="dropdown-menu">
				                            {% for format in available_formats %}
				                                <li>
				                                    <a class="js-tooltip format-option" href='{% add_query_param request api_settings.URL_FORMAT_OVERRIDE format %}' rel="nofollow" title="Make a GET request on the {{ name }} resource with the format set to `{{ format }}`">{{ format }}</a>
				                                </li>
				                            {% endfor %}
				                        </ul>
				                    </div>

				                </fieldset>
				            </form>
				        {% endif %}

				        {% if options_form %}
				            <form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right">
				                {% csrf_token %}
				                <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="OPTIONS" />
				                <button class="btn btn-primary js-tooltip" title="Make an OPTIONS request on the {{ name }} resource">OPTIONS</button>
				            </form>
				        {% endif %}

				        {% if delete_form %}
				            <form class="button-form" action="{{ request.get_full_path }}" method="POST" class="pull-right">
				                {% csrf_token %}
				                <input type="hidden" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="DELETE" />
				                <button class="btn btn-danger js-tooltip" title="Make a DELETE request on the {{ name }} resource">DELETE</button>
				            </form>
				        {% endif %}
			    	</div>

			        <div class="content-main">
			            <div class="text-center clearfix"><h1 class="text-primary border-bottom">{{ name }}</h1></div>
			            {% if name == 'Shipment List' %}
			        		<div class="alert alert-info">
						        <strong>To view the rates list, append a Shipment Object ID followed by /rates/ to this URL.</strong><br>
						        <p>Like this: <em>https://api.goshippo.com/v1/shipments/SHIPMENT_OBJECT_ID/rates/</em></p>
						    </div>
			        	{% endif  %}
			        	{% if name == 'Shipment Detail' %}
			        		<div class="alert alert-info">
						        <strong>To view the rates list, append /rates/ to this URL.</strong><br>
						        <p>Like this: <em>https://api.goshippo.com/v1/shipments/SHIPMENT_OBJECT_ID/rates/</em></p>
						    </div>
			        	{% endif  %}
			            {% block description %}
			            {{ description }}<br><br>
			            {% endblock %}
			            <div class="request-info" style="clear: both" >
			                <pre class="prettyprint"><b>{{ request.method }}</b> {{ request.get_full_path }}</pre>
			            </div>
			            <div class="response-info">
			                <pre class="prettyprint"><div class="meta nocode"><b>HTTP {{ response.status_code }} {{ response.status_text }}</b>{% autoescape off %}
			{% for key, val in response.items %}<b>{{ key }}:</b> <span class="lit">{{ val|break_long_headers|urlize_quoted_links }}</span>
			{% endfor %}
			</div>{{ content }}</pre>{% endautoescape %}
			            </div>
			        </div>

			            {% if display_edit_forms %}
			                {% if post_form or raw_data_post_form %}
			                <br><h3>Try a sample request</h3>
			                <p><em>Only the last 25 values are available for selection with this interface.</em></p>
			                <div {% if post_form %}class="tabbable"{% endif %}>
			                    {% if post_form %}
			                    <ul class="nav nav-tabs form-switcher">
			                        <li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
			                        <li><a name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
			                    </ul>
			                    {% endif %}
			                    <div class="well tab-content">
			                        {% if post_form %}
			                        <div class="tab-pane" id="object-form">
			                            {% with form=post_form %}
			                            <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
			                                <fieldset>
			                                    {{ post_form }}
			                                    <div class="form-actions">
			                                        <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
			                                    </div>
			                                </fieldset>
			                            </form>
			                            {% endwith %}
			                        </div>
			                        {% endif %}
			                        <div {% if post_form %}class="tab-pane"{% endif %} id="generic-content-form">
			                            {% with form=raw_data_post_form %}
			                            <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
			                                <fieldset>
			                                    {% include "rest_framework/raw_data_form.html" %}
			                                    <div class="form-actions">
			                                        <button class="btn btn-primary" title="Make a POST request on the {{ name }} resource">POST</button>
			                                    </div>
			                                </fieldset>
			                            </form>
			                            {% endwith %}
			                        </div>
			                    </div>
			                </div>
			                {% endif %}

			                {% if put_form or raw_data_put_form or raw_data_patch_form %}
			                <div {% if put_form %}class="tabbable"{% endif %}>
			                    {% if put_form %}
			                    <ul class="nav nav-tabs form-switcher">
			                        <li><a name='html-tab' href="#object-form" data-toggle="tab">HTML form</a></li>
			                        <li><a  name='raw-tab' href="#generic-content-form" data-toggle="tab">Raw data</a></li>
			                    </ul>
			                    {% endif %}
			                    <div class="well tab-content">
			                        {% if put_form %}
			                        <div class="tab-pane" id="object-form">
			                            <form action="{{ request.get_full_path }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
			                                <fieldset>
			                                    {{ put_form }}
			                                    <div class="form-actions">
			                                        <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
			                                    </div>
			                                </fieldset>
			                            </form>
			                        </div>
			                        {% endif %}
			                        <div {% if put_form %}class="tab-pane"{% endif %} id="generic-content-form">
			                            {% with form=raw_data_put_or_patch_form %}
			                            <form action="{{ request.get_full_path }}" method="POST" class="form-horizontal">
			                                <fieldset>
			                                    {% include "rest_framework/raw_data_form.html" %}
			                                    <div class="form-actions">
			                                        {% if raw_data_put_form %}
			                                        <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PUT" title="Make a PUT request on the {{ name }} resource">PUT</button>
			                                        {% endif %}
			                                        {% if raw_data_patch_form %}
			                                        <button class="btn btn-primary js-tooltip" name="{{ api_settings.FORM_METHOD_OVERRIDE }}" value="PATCH" title="Make a PATCH request on the {{ name }} resource">PATCH</button>
			                                        {% endif %}
			                                    </div>
			                                </fieldset>
			                            </form>
			                            {% endwith %}
			                        </div>
			                    </div>
			                </div>
			                {% endif %}
			            {% endif %}
			        {% endblock %}
			        </div>
			    </div>
	        </div>
	        <!-- END content-main -->

	    </div>
	    <!-- END Content -->

	        <div id="push"></div>

	    </div>

    	</div><!-- ./wrapper -->
    </div><!-- ./container -->

    {% block footer %}
	    <footer class="margin-t-md">

	    </footer>
    {% endblock %}

    {% block script %}
    <script src="{% static "rest_framework/js/jquery-1.8.1-min.js" %}"></script>
    <script src="{% static "rest_framework/js/bootstrap.min.js" %}"></script>
    <script src="{% static "rest_framework/js/prettify-min.js" %}"></script>
    <script src="{% static "rest_framework/js/default.js" %}"></script>
    {% endblock %}
    <script type="text/javascript">
    	$("[data-toggle='tooltip']").tooltip();
    </script>
  </body>
</html>