{% load staticfiles %}
{% load url from future %}
{% load rest_framework %}
<!DOCTYPE html>
<html>
    <head>
    {% block head %}

        {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta name="robots" content="NONE,NOARCHIVE" />
        <link rel="icon" type="image/png" href="{% static "img/favicon/favicon.png" %}">
        {% endblock %}

        <title>{% block title %}API Documentation v1 | Shippo{% endblock %}</title>

        {% block style %}
        {% block bootstrap_theme %}
            <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
            <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap-tweaks.css" %}"/>
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/prettify.css" %}"/>
        <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/default.css" %}"/>
        <link rel="stylesheet" href="{% static "css/style.css" %}" />
        <!-- Font awesome icons -->
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <!-- Typekit Webfonts -->
        <script type="text/javascript" src="//use.typekit.net/gcj8dcy.js"></script>
        <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
        {% endblock %}

    {% endblock %}
    </head>

  <body class="{% block bodyclass %}{% endblock %} bg-none">
    <div class="container padding-v-lg">
        <div class="wrapper">

            <div class="navbar {% block bootstrap_navbar_variant %}navbar-inverse{% endblock %}">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <span href="/">
                            <a class="navbar-brand" href=""><img src="{% static "img/logo/logo-beta.png" %}" height="40"></a>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <div id="register-form" class="panel panel-primary clearfix">
                        <div class="panel-heading">
                            <h3 class="panel-title">Login</h3>
                        </div>
                        <div class="panel-body">
                            <form action="{% url 'rest_framework:login' %}" class="form-horizontal" method="post">
                                {% csrf_token %}
                                <div id="div_id_username" class="form-group">
                                    <label class="col-sm-2 control-label">Username:</label>
                                    <div class="col-sm-8">
                                        <input type="text" name="username" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control">
                                    </div>
                                </div>
                                <div id="div_id_password" class="form-group">
                                    <label class="col-sm-2 control-label">Password:</label>
                                    <div class="col-sm-8">
                                        <input type="password" name="password" maxlength="100" autocapitalize="off" autocorrect="off" class="form-control" id="id_password">
                                    </div>
                                </div>
                                <input type="hidden" name="next" value="{{ next }}" />
                                <div class="form-actions-no-box">
                                    <input type="submit" name="submit" value="Log in" class="btn btn-primary" id="submit-id-submit">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block footer %}
        <footer class="margin-t-md">
            {% include "footer.html" %}
        </footer>
    {% endblock %}
  </body>
</html>
