{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}API Keys - Shippo{% endblock %}

{% block internalmenu %}

<h3 class="text-primary border-bottom">Your Shippo API Keys</h3>
<div class="row margin-bt-md">
  <div class="col-sm-6 col-xs-12">
    <div class="form-group">
      <label for="api_test_key" class="control-label"><strong>Basic Auth Key</strong></label>
      <input disabled type="text" name="user_firstname" class="form-control" id="api_basic_auth" value="{{ user.email }}:[YOUR_PASSWORD]">
      <em><small>Basic Auth requires you to base64-encode the username:password string.</small></em>
    </div>
    <div class="form-group margin-t-md">
      <label for="api_test_key" class="control-label"><strong>Token Auth Key</strong></label>
      <input disabled type="text" name="user_firstname" class="form-control" id="api_otken_auth" value="{{ token_auth }}">
      <em><small>The token auth key may be published but can only be used to GET rates.</small></em>
    </div>
  </div>
  <div class="col-sm-5 col-sm-offset-1 col-xs-12">
    <h4>Integrate the API in less than 5 minutes</h4>
    <p>Get started now by exploring the API
      documentation:</p>
    <a class="btn btn-primary btn-lg" href="{% url 'docs:overview' %}">View the API Docs</a>
  </div>
</div>

{% endblock %}