{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}Billing Settings - Shippo{% endblock %}

{% block javascript_header %}
  {{ block.super }}
  <script src="https://js.stripe.com/v2/"></script>
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block internalmenu %}

{% if success %}
  <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Your changes have been saved successfully.</strong>
  </div>
{% endif %}
{% if error %}
  <div class="alert alert-error alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ error }}</strong>
  </div>
{% endif %}
<div class="alert alert-error alert-dismissable" id="order-payment-errors" style="display:none">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <strong><span class="payment-errors"></span></strong>
</div>

<h3 class="text-primary border-bottom">Change your billing data</h3>
<div class="margin-tb-sm">
  <form id="update-user-billing" class="form-horizontal" role="form" method="post" action="{% url 'user:userbilling' %}">
    {% csrf_token %}
    <div class="margin-v-md">
      <h4 class="margin-v-sm border-bottom">Credit Card Data</h4>
      <div class="row" id="save-new-creditcard" style="display:none">
        <div class="col-sm-8">
          <div class="form-group">
            <label class="col-sm-3 control-label">Card Number</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" size="20" data-stripe="number" placeholder="Card Number">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Expiration</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" size="2" style="width:50px;float:left" data-stripe="exp-month" placeholder="MM">
              <span class="pull-left font-md text-center lh-30" style="width:20px;"> / </span>
              <input class="form-control" type="text" size="4" style="width:63px;float:left" data-stripe="exp-year" placeholder="YYYY">
              <span class="pull-left font-sm lh-30 margin-l-sm"><em>format: mm/yyyy</em></span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">Name on card</label>
            <div class="col-sm-9">
              <input class="form-control" type="text" size="100" placeholder="Name on card">
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-3 control-label">CVC</label>
            <div class="col-sm-4">
              <input class="form-control" type="text" size="4" style="width:55px" data-stripe="cvc" placeholder="CVC">
            </div>
          </div>
        </div>
        <div class="col-sm-4 hidden-xs">
          <div class="alert alert-default text-center">
            <strong>Accepted Card Types</strong><br>
            <div class="row">
              <div class="col-sm-10 col-sm-offset-1">
                <img src="{% static 'img/creditcard/mastercard.png' %}" class="padding-xxs">
                <img src="{% static 'img/creditcard/visa.png' %}" class="padding-xxs">
                <img src="{% static 'img/creditcard/amex.png' %}" class="padding-xxs">
                <img src="{% static 'img/creditcard/jcb.png' %}" class="padding-xxs">
                <img src="{% static 'img/creditcard/diners.png' %}" class="padding-xxs">
                <img src="{% static 'img/creditcard/discover.png' %}" class="padding-xxs">
              </div>
            </div>
          </div>
        </div>
      </div>
      {% if not apiuser.billing.payment_type == 'STRIPE' or not apiuser.billing.payment_type %}
      <script type="text/javascript">
        $('#save-new-creditcard').show();
      </script>
      {% else %}
      <script type="text/javascript">
        $(document).ready(function() {
          $('#enter-new-cc').click(function(){
            $('#save-new-creditcard').fadeIn();
            $('#existing-creditcard-message').hide();
          });
        });
      </script>
      <div class="padding-tb-xs padding-l-sm" id="existing-creditcard-message">
        <strong class="text-grey"><i class="fa fa-lg fa-check"></i> Your credit card is activated and saved securely.</strong>
        <div class="padding-v-xs">
          <a class="btn btn-grey" id="enter-new-cc">Enter new credit card</a>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="margin-v-md">
      <h4 class="margin-v-sm border-bottom">Billing Address Data</h4>
      <div class="padding-b-xs">
        <p><em><small>Enter your billing address here if you want it to be different from your personal address.</small></em></p>
      </div>
      <div class="form-group">
        <label for="billing_name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" name="billing_name" class="form-control" id="billing_name" placeholder="Full name" value="{{ apiuser.billing.billing_address.name }}">
        </div>
      </div>
      <div class="form-group">
        <label for="billing_company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
          <input type="text" name="billing_company" class="form-control" id="billing_company" placeholder="Company" value="{{ apiuser.billing.billing_address.company }}">
        </div>
      </div>
      <div class="form-group">
        <label for="billing_street1" class="col-sm-2 control-label">Street & Number</label>
        <div class="col-sm-7">
          <input type="text" name="billing_street1" class="form-control" id="billing_street1" placeholder="Street Name" value="{{ apiuser.billing.billing_address.street1 }}">
        </div>
        <div class="col-sm-3">
          <input type="text" name="billing_street_no" class="form-control" id="billing_street_no" placeholder="Number" value="{{ apiuser.billing.billing_address.street_no }}">
        </div>
      </div>
      <div class="form-group">
        <label for="billing_street2" class="col-sm-2 control-label">Street (2)</label>
        <div class="col-sm-10">
          <input type="text" name="billing_street2" class="form-control" id="billing_street2" placeholder="Street (line 2)" value="{{ apiuser.billing.billing_address.street2 }}">
        </div>
      </div>
      <div class="form-group">
        <label for="billing_city" class="col-sm-2 control-label">City, ZIP & State</label>
        <div class="col-sm-4">
          <input type="text" name="billing_city" class="form-control" id="billing_city" placeholder="City" value="{{ apiuser.billing.billing_address.city }}">
        </div>
        <div class="col-sm-3">
          <input type="text" name="billing_zip" class="form-control" id="billing_zip" placeholder="ZIP Code" value="{{ apiuser.billing.billing_address.zip }}">
        </div>
        <div class="col-sm-3">
          <input type="text" name="billing_state" class="form-control" id="billing_state" placeholder="State" value="{{ apiuser.billing.billing_address.state }}">
        </div>
      </div>
      <div class="form-group">
        <label for="billing_country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-4">
          <select name="billing_country" class="form-control" id="billing_country">
            <option value="">Country</option>
            {% for country in country_list %}
                <option value="{{ country.iso2 }}">{{ country.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
    Stripe.setPublishableKey('{{ stripe_publishable_key }}');
    //send credit card infos to Stripe; will not touch Shippo server as long as no "name" tags in form!
    $(function() {
      $('#update-user-billing').submit(function(event) {
        if($('#save-new-creditcard').is(":visible")){
          var form = $(this);
          // Disable the submit button to prevent repeated clicks
          form.find('button').prop('disabled', true);
          form.find('button').html('<i class="fa fa-refresh fa-spin"></i> Validating Credit Card...');
          Stripe.card.createToken(form, stripeResponseHandler);
          // Prevent the form from submitting with the default action
          return false;
        }
      });
    });
    //handle Stripe response
    var stripeResponseHandler = function(status, response) {
      var form = $('#update-user-billing');
      if (response.error) {
        // Show the errors on the form
        $('#order-payment-errors').fadeIn();
        $('.payment-errors').text(response.error.message);
        $("html, body").animate({ scrollTop: 0 }, "fast");
        form.find('button').prop('disabled', false);
        form.find('button').html('Save Changes');
      } else {
        // token contains id, last4, and card type
        var token = response.id;
        // Insert the token into the form so it gets submitted to the server
        form.append($('<input type="hidden" name="stripe_token" />').val(token));
        // and submit
        form.get(0).submit();
      }
    };
  {% if apiuser.billing.billing_address.country %}
  $(document).ready(function() {
    $('#billing_country').val('{{ apiuser.billing.billing_address.country.iso2 }}');
  });
  {% endif %}
</script>

{% endblock %}