{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}Carrier Settings - Shippo{% endblock %}

{% block internalmenu %}

<h3 class="text-primary border-bottom">Change your carrier-specific settings</h3>
<div class="margin-tb-sm">
  {% if success %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Your changes have been saved successfully.</strong>
    </div>
  {% endif %}
  {% if endicia_success %}
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>Your Endicia account has been created successfully. You will receive your account number via email. Please save the account number in your Shippo USPS settings on this page after you have received the mail.</strong>
    </div>
  {% endif %}
  {% if apiuser.ups_production %}
    {% if not apiuser.ups_set %}
      <div class="alert alert-error margin-b-sm">
        <strong><i class="fa fa-exclamation-circle"></i> Warning: Your UPS account is set to production but relevant data is invalid or incomplete.</strong><br>Please verify by clicking on "Edit" below or contact info@goshippo.com.
      </div>
    {% endif %}
  {% endif %}
  {% if apiuser.fedex_production %}
    {% if not apiuser.fedex_set %}
      <div class="alert alert-error margin-b-sm">
        <strong><i class="fa fa-exclamation-circle"></i> Warning: Your FedEx account is set to production but relevant data is invalid or incomplete.</strong><br>Please verify by clicking on "Edit" below or contact info@goshippo.com.
      </div>
    {% endif %}
  {% endif %}
  {% if apiuser.endicia_production %}
    {% if not apiuser.endicia_set %}
      <div class="alert alert-error margin-b-sm">
        <strong><i class="fa fa-exclamation-circle"></i> Warning: Your Endicia account is set to production but relevant data is invalid or incomplete.</strong><br>Please verify by clicking on "Edit" below or contact info@goshippo.com.
      </div>
    {% endif %}
  {% endif %}
  {% if apiuser.parcel2go_production %}
    {% if not apiuser.parcel2go_set %}
      <div class="alert alert-error margin-b-sm">
        <strong><i class="fa fa-exclamation-circle"></i> Warning: Your Parcel2Go account is set to production but relevant data is invalid or incomplete.</strong><br>Please verify by clicking on "Edit" below or contact info@goshippo.com.
      </div>
    {% endif %}
  {% endif %}
  {% if apiuser.dhl_production %}
    {% if not apiuser.dhl_set %}
      <div class="alert alert-error margin-b-sm">
        <strong><i class="fa fa-exclamation-circle"></i> Warning: Your DHL business account is set to production but relevant data is invalid or incomplete.</strong><br>Please verify by clicking on "Edit" below or contact info@goshippo.com.
      </div>
    {% endif %}
  {% endif %}
  <div class="row">

      <div class="col-md-4 col-xs-6 text-center">
        <div class="alert alert-default">
          <div class="lh-100">
            <img src="{% static 'providers/100/FedEx.png' %}">
          </div>
          <div class="carrier-settings">
            {% if apiuser.fedex_production %}
              <div class="margin-v-sm">
                <h4><i class="fa fa-check"></i> Active</h4>
              </div>
              <div>
                <a class="btn btn-blue" href="{% url 'user:usercarriersfedex' %}">Edit</a>
              </div>
            {% else %}
              <div class="margin-v-sm">
                <h4><span class="text-grey"><i class="fa fa-times"></i> Inactive</span></h4>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'user:usercarriersfedex' %}">Edit Settings</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 text-center">
        <div class="alert alert-default">
          <div class="lh-100">
            <img src="{% static 'providers/100/UPS.png' %}">
          </div>
          <div class="carrier-settings">
            {% if apiuser.ups_production %}
              <div class="margin-v-sm">
                <h4><i class="fa fa-check"></i> Active</h4>
              </div>
              <div>
                <a class="btn btn-blue" href="{% url 'user:usercarriersups' %}">Edit</a>
              </div>
            {% else %}
              <div class="margin-v-sm">
                <h4><span class="text-grey"><i class="fa fa-times"></i> Inactive</span></h4>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'user:usercarriersups' %}">Edit Settings</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 text-center">
        <div class="alert alert-default">
          <div class="lh-100">
            <img src="{% static 'providers/100/USPS.png' %}">
          </div>
          <div class="carrier-settings">
            {% if apiuser.endicia_production %}
              <div class="margin-v-sm">
                <h4><i class="fa fa-check"></i> Active</h4>
              </div>
              <div>
                <a class="btn btn-blue" href="{% url 'user:usercarriersusps' %}">Edit</a>
              </div>
            {% else %}
              <div class="margin-v-sm">
                <h4><span class="text-grey"><i class="fa fa-times"></i> Inactive</span></h4>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'user:usercarriersusps' %}">Edit Settings</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

  </div>
  <div class="row">

      <div class="col-md-4 col-xs-6 text-center">
        <div class="alert alert-default">
          <div class="lh-100">
            <img src="{% static 'providers/100/Parcel2Go.png' %}">
          </div>
          <div class="carrier-settings">
            {% if apiuser.parcel2go_production %}
              <div class="margin-v-sm">
                <h4><i class="fa fa-check"></i> Active</h4>
              </div>
              <div>
                <a class="btn btn-blue" href="{% url 'user:usercarriersparcel2go' %}">Edit</a>
              </div>
            {% else %}
              <div class="margin-v-sm">
                <h4><span class="text-grey"><i class="fa fa-times"></i> Inactive</span></h4>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'user:usercarriersparcel2go' %}">Edit Settings</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="col-md-4 col-xs-6 text-center">
        <div class="alert alert-default">
          <div class="lh-100">
            <img src="{% static 'providers/100/Deutsche_Post_DHL.png' %}">
          </div>
          <div class="carrier-settings">
            {% if apiuser.dp_dhl_production or apiuser.dhl_production %}
              <div class="margin-v-sm">
                <h4><i class="fa fa-check"></i> Active</h4>
              </div>
              <div>
                <a class="btn btn-blue" href="{% url 'user:usercarriersdeutschepostdhl' %}">Edit</a>
              </div>
            {% else %}
              <div class="margin-v-sm">
                <h4><span class="text-grey"><i class="fa fa-times"></i> Inactive</span></h4>
              </div>
              <div>
                <a class="btn btn-primary" href="{% url 'user:usercarriersdeutschepostdhl' %}">Edit Settings</a>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

{% if modal %}
<script type="text/javascript">
  $(window).load(function(){
    $('#carrier-settings-modal').modal('show');
  });
  $('#carrier-settings-modal').on('hidden.bs.modal', function (e) {
    // maybe in the future remove the /CARRIERNAME/ when closing modal
  })
</script>
{% endif %}

<div id="carrier-settings-modal" class="modal" role="dialog" aria-labelledby="carrier-detailed-settings" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{% block modaltitle %}{% endblock %}</h4>
      </div>
      <div class="modal-body">
        {% block modalbody %}{% endblock %}
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}