{% extends "user/internal.html" %}
{% load staticfiles %}

 {% block title %}Dashboard - Shippo{% endblock %}

{% block internalmenu %}

<h3 class="text-primary border-bottom">Dashboard</h3>
<div class="margin-v-sm">
	{% if success %}
	  	<div class="alert alert-success alert-dismissable">
	      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      	<strong>Your changes have been saved successfully.</strong>
	  	</div>
	{% endif %}
	{% if error %}
	  	<div class="alert alert-error alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<strong>{{ error }}</strong>
		</div>
  	{% endif %}

	<div class="row margin-h-sm">
		<div class="text-right col-xs-12 col-sm-3 col-sm-offset-9">
		    <form method="GET" action="" id="toggle-mode-form">
		        <div class="toggle-buttons">
		          <input id="production" name="mode" class="toggle-mode-buttons" value="production" type="radio" {% if was_test.upper == 'FALSE' %}checked=""{% endif %}>
		          <label for="production" onclick="">Production</label>
		          <input id="test" name="mode" class="toggle-mode-buttons" value="test" type="radio" {% if was_test.upper == 'TRUE' %}checked=""{% endif %}>
		          <label for="test" onclick="">Test</label>
		          <a></a>
		        </div>
		    </form>
		</div>
	</div>
	<hr>
	{% if not transactions %}
		<p>You have not created any labels so far.</p>
	{% else %}
		<div class="row padding-v-none margin-h-sm text-primary uppercase">
			<div class="col-sm-1">
			</div>
			<div class="col-sm-2">
				<small>Carrier & Service</small>
			</div>
			<div class="col-sm-3">
				<small>Shipment</small>
			</div>
			<div class="col-sm-2">
				<small>Dates</small>
			</div>
			<div class="col-sm-2">
				<small>Tracking Number</small>
			</div>
			<div class="col-sm-2">
				<small>Download</small>
			</div>
		</div>
		{% for transaction in transactions %}
		<hr>
		<div class="row margin-v-sm margin-h-sm">
			<div class="col-sm-1">
				<img src="{{ transaction.rate.provider.get_image_75_url }}" class="max-width-50" alt="{{ transaction.rate.provider.name }} label on Shippo">
			</div>
			<div class="col-sm-2">
				<small><strong>{{ transaction.rate.provider.name }} {{ transaction.rate.servicelevel.servicelevel_name }}</strong></small>
			</div>
			<div class="col-sm-3">
				<small>{{ transaction.rate.shipment.address_from.city }} ({{ transaction.rate.shipment.address_from.country.iso2 }})
				<i class="fa fa-long-arrow-right"></i> {{ transaction.rate.shipment.address_to.city }} ({{ transaction.rate.shipment.address_to.country.iso2 }})<br>
				{{ transaction.rate.shipment.parcel.length|floatformat }} x {{ transaction.rate.shipment.parcel.width|floatformat }} x {{ transaction.rate.shipment.parcel.height|floatformat }} {{ transaction.rate.shipment.parcel.distance_unit.abbreviation }}, {{ transaction.rate.shipment.parcel.weight|floatformat }} {{ transaction.rate.shipment.parcel.mass_unit.abbreviation }}</small>
			</div>
			<div class="col-sm-2">
				<small><span class="text-lightgrey">Created:&nbsp;&nbsp;</span>{{ transaction.object_created|date:"d M y" }}<br>
				{% if transaction.pickup_date %}<span class="text-lightgrey">Pickup:&nbsp;&nbsp;&nbsp;&nbsp;</span>{{ transaction.pickup_date|date:"d M y" }}{% endif %}</small>
			</div>
			<div class="col-sm-2">
				<small>{{ transaction.tracking_number }}</small>
			</div>
			<div class="col-sm-2">
				{% if transaction.object_status == 'WAITING' or transaction.object_status == 'QUEUED' %}
					<span class="text-grey"><i class="fa fa-refresh fa-spin"></i> In progress...</span>
				{% endif %}
				{% if transaction.object_status == 'SUCCESS' %}
					<a href="{{ transaction.label_url }}" class="btn btn-primary" target="_blanc"><i class="fa fa-cloud-download fa-inverse"></i>&nbsp;&nbsp;Download Label</a>
				{% endif %}
				{% if transaction.object_status == 'ERROR' %}
					<button data-toggle="modal" data-target="#error_modal" class="btn btn-red error_modal_button" modal-title="{{ transaction.object_id }}" modal-content="{% for message in transaction.messages %}{% if message.code %}Issue {{ message.code }}: {% endif %}{{ message.text }}<br>{% endfor %}"><i class="fa fa-exclamation-circle fa-inverse"></i>&nbsp;&nbsp;View Error</button>
				{% endif %}
			</div>
		</div>
		{% endfor %}
		<hr>
		<div class="pagination margin-bt-sm text-center width-100p">
			<small>
			{% if transactions.has_previous %}<a href="?mode={{ mode }}&page={{ transactions.previous_page_number }}">< previous</a>&nbsp;&nbsp;&nbsp;{% endif %}
			Page {{ transactions.number }} of {{ transactions.paginator.num_pages }}
			{% if transactions.has_next %}&nbsp;&nbsp;&nbsp;<a href="?mode={{ mode }}&page={{ transactions.next_page_number }}">next ></a>{% endif %}
		</small>
	</div>
	{% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="error_modal" tabindex="-1" role="dialog" aria-labelledby="error_modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="">Transaction Errors</h4>
      </div>
      <div class="modal-body">
        <div class="padding-t-sm"><span id="modal_transaction_messages"></span></div>
        <div class="padding-t-sm"><small><em>Please report object ID </em><strong><span id="modal_transaction_id"></span></strong><em> when reporting this error to Shippo.</em></small></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
	$('.error_modal_button').on( "click", function() {
		$('#modal_transaction_id').html($(this).attr("modal-title"));
		$('#modal_transaction_messages').html($(this).attr("modal-content"));
	});
  $('.toggle-mode-buttons').on( "change", function(){
    $('#toggle-mode-form').submit();
  });
</script>

{% endblock %}