{% extends "base.html" %}

{% block content %}

<div class="container page-inner">
    <div class="panel panel-default clearfix">
      	<div class="panel-heading">
        	<div class="row">
				<div class="col-sm-3 hidden-xs hidden-sm">
					<h3 class="panel-title lh-40">
						{% if user.first_name and user.last_name %}
							{{ user.first_name }} {{ user.last_name }}
						{% else %}
							{{ user.email }}
						{% endif %}
					</h3>
				</div>
				<div class="col-md-9 col-sm-12 col-xs-12 text-right">
					<ul class="nav nav-tabs nav-tabs-panel pull-right border-none">
						<li{% if urlname == 'userdashboard' %} class="active"{% endif %}><a href="{% url 'user:userdashboard' %}">Dashboard</a></li>
						{% if shopify %}
							<li{% if urlname == 'userorders' %} class="active"{% endif %}><a href="{% url 'user:userorders' %}">Orders</a></li>
						{% endif %}
						<li{% if urlname == 'usercarriers' %} class="active"{% endif %}><a href="{% url 'user:usercarriers' %}">Carriers</a></li>
						<li{% if urlname == 'userapikeys' %} class="active"{% endif %}><a href="{% url 'user:userapikeys' %}">API Keys</a></li>
						<li{% if urlname == 'userbilling' %} class="active"{% endif %}><a href="{% url 'user:userbilling' %}">Billing</a></li>
						<li{% if urlname == 'userprofile' %} class="active"{% endif %}><a href="{% url 'user:userprofile' %}">Account</a></li>
					</ul>
				</div>
			</div>
      	</div>
		<div class="panel-body">
			{% if not apiuser.address.all_required_data or not apiuser.billing.stripe_authorized %}
				<div class="alert alert-warning alert-dismissable">
				    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    	<i class="fa fa-exclamation-triangle"></i>
			    	<strong>
			    	{% if not apiuser.address.all_required_data or not apiuser.address.zip %}
			    		{%  if not apiuser.billing.stripe_authorized %}
			    			In order to get rates and shipping labels, you need to enter your address and billing data.
			    			</strong>&nbsp;&nbsp;&nbsp;
			    			<a href="{% url 'user:userprofile' %}" class="btn btn-sm btn-blue"><i class="fa fa-chevron-right"></i> Enter address now</a>
			    			&nbsp;&nbsp;&nbsp;<a href="{% url 'user:userbilling' %}" class="btn btn-sm btn-blue"><i class="fa fa-chevron-right"></i> Enter billing data now</a>
			    		{% else %}
			    			In order to get rates and shipping labels, you need to enter your address.
			    			</strong>&nbsp;&nbsp;&nbsp;
			    			<a href="{% url 'user:userprofile' %}" class="btn btn-sm btn-blue"><i class="fa fa-chevron-right"></i> Enter address now</a>
			    		{% endif %}
			    	{% else %}
			    		{%  if not apiuser.billing.stripe_authorized %}
			    			In order to get rates and shipping labels, you need to enter your billing data.
			    			</strong>&nbsp;&nbsp;&nbsp;
			    			&nbsp;&nbsp;&nbsp;<a href="{% url 'user:userbilling' %}" class="btn btn-sm btn-blue"><i class="fa fa-chevron-right"></i> Enter billing data now</a>
			    		{% endif %}
			    	{% endif %}

				</div>
			{% endif %}
			{% block internalmenu %}{% endblock %}
		</div>
	</div>
</div>

{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <script type="text/javascript">
    //set Mixpanel distinct user id = username = email
    mixpanel.identify("{{ apiuser.user.email }}");
  </script>
{% endblock %}