{% extends "user/internal.html" %}
{% load staticfiles %}

{% block javascript_header %}
  {{ block.super }}
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block title %}Profile - Shippo{% endblock %}

{% block internalmenu %}

{% if success %}
  <div class="alert alert-success alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>Your changes have been saved successfully.</strong>
  </div>
{% endif %}
{% if error %}
  <div class="alert alert-error alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ error }}</strong>
  </div>
{% endif %}
<h3 class="text-primary border-bottom">Change your personal data</h3>
<div class="margin-tb-sm">
  <form id="update-user-profile" class="form-horizontal" role="form" method="post" action="{% url 'user:userprofile' %}">
    {% csrf_token %}
    <div class="margin-v-md">
      <h4 class="margin-v-sm border-bottom">Basic Data</h4>
      <div class="form-group">
        <label for="user_firstname" class="col-sm-2 control-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" name="user_firstname" class="form-control" id="user_firstname" placeholder="First Name" value="{{ user.first_name }}">
        </div>
      </div>
      <div class="form-group">
        <label for="user_lastname" class="col-sm-2 control-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" name="user_lastname" class="form-control" id="user_lastname" placeholder="Last Name" value="{{ user.last_name }}">
        </div>
      </div>
      <div class="form-group">
        <label for="user_company" class="col-sm-2 control-label">Company</label>
        <div class="col-sm-10">
          <input type="text" name="user_company" class="form-control" id="user_company" placeholder="Company" value="{{ apiuser.address.company }}">
        </div>
      </div>
      {% if wewanttouseitinthefuture %}
      <div class="form-group">
        <div class="col-sm-2">
        </div>
        <div class="col-sm-10">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="user_newsletter" value="1"{% if apiuser.newsletter %} checked{% endif %}> Subscribe to newsletter
            </label>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="margin-v-md">
      <h4 class="margin-v-sm border-bottom">Address Data</h4>
      <div class="padding-b-xs">
        <p><em><small>Save your personal address to easily create shipments from your location.</small></em></p>
      </div>
      <div class="form-group">
        <label for="user_phone" class="col-sm-2 control-label">Phone number</label>
        <div class="col-sm-10">
          <input type="text" name="user_phone" class="form-control" id="user_phone" placeholder="Phone Number" value="{{ apiuser.address.phone }}">
        </div>
      </div>
      <div class="form-group">
        <label for="user_street1" class="col-sm-2 control-label">Street & Number</label>
        <div class="col-sm-7">
          <input type="text" name="user_street1" class="form-control" id="user_street1" placeholder="Street Name" value="{{ apiuser.address.street1 }}">
        </div>
        <div class="col-sm-3">
          <input type="text" name="user_street_no" class="form-control" id="user_street_no" placeholder="Number" value="{{ apiuser.address.street_no }}">
        </div>
      </div>
      <div class="form-group">
        <label for="user_street2" class="col-sm-2 control-label">Street (2)</label>
        <div class="col-sm-10">
          <input type="text" name="user_street2" class="form-control" id="user_street2" placeholder="Street (line 2)" value="{{ apiuser.address.street2 }}">
        </div>
      </div>
      <div class="form-group">
        <label for="user_city" class="col-sm-2 control-label">City, ZIP & State</label>
        <div class="col-sm-4">
          <input type="text" name="user_city" class="form-control" id="user_city" placeholder="City" value="{{ apiuser.address.city }}">
        </div>
        <div class="col-sm-3">
          <input type="text" name="user_zip" class="form-control" id="user_zip" placeholder="ZIP Code" value="{{ apiuser.address.zip }}">
        </div>
        <div class="col-sm-3">
          <input type="text" name="user_state" class="form-control" id="user_state" placeholder="State" value="{{ apiuser.address.state }}">
        </div>
      </div>
      <div class="form-group">
        <label for="user_country" class="col-sm-2 control-label">Country</label>
        <div class="col-sm-4">
          <select name="user_country" class="form-control" id="user_country">
            <option value="">Country</option>
            {% for country in country_list %}
                <option value="{{ country.iso2 }}">{{ country.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </div>
    <div class="margin-v-md">
      <h4 class="margin-v-sm border-bottom">Your Password</h4>
      <div class="padding-b-xs">
        <p><em><small>Changing your password is optional. Leave fields blank if you do not want to change your password. Note that your password also is part of your personal API Key.</small></em></p>
      </div>
      <div class="form-group">
        <label for="user_password" class="col-sm-2 control-label">New Password</label>
        <div class="col-sm-10">
          <input type="password" name="user_password" class="form-control" id="user_password" placeholder="New Password" autocomplete="off">
        </div>
      </div>
      <div class="form-group">
        <label for="user_password_confirm" class="col-sm-2 control-label">Confirm Password</label>
        <div class="col-sm-10">
          <input type="password" name="user_password_confirm" class="form-control" id="user_password_confirm" placeholder="Confirm Password" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  $( "#update-user-profile" ).validate({
    rules: {
      "user_password_confirm": {
        equalTo: "#user_password"
      }
    },
    showErrors: function(errorMap, errorList) {
      jQuery.each(this.successList, function(index, value) {
        return jQuery(value).popover("hide");
      });
      return jQuery.each(errorList, function(index, value) {
        var _popover;
        _popover = jQuery(value.element).popover({
          trigger: "manual",
          placement: "top",
          content: value.message,
          template: "<div class=\"popover\"><div class=\"arrow\"></div><div class=\"popover-inner\"><div class=\"popover-content\"><p></p></div></div></div>"
        });
        _popover.data("bs.popover").options.content = value.message;
        return jQuery(value.element).popover("show");
      });
    },
    submitHandler: function(form) {
      form.submit();
    }
  });
  {% if apiuser.address.country %}
  $(document).ready(function() {
    $('#user_country').val('{{ apiuser.address.country.iso2 }}');
  });
  {% endif %}
</script>

{% endblock %}