{% extends "base.html" %}
{% load staticfiles %}

{% block title %}The Shippo API: Shipping made easy - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	{% if success %}
	  	<div class="alert alert-success alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<strong>Your registration has been submitted successfully. We will get back to you shortly!</strong>
	  	</div>
	{% endif %}
	{% if error %}
	  	<div class="alert alert-error alert-dismissable">
	      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      	<strong>{{ error }}</strong>
	  	</div>
	{% endif %}
	<div class="text-center">
		<h1 class="serif">Ship easier: the Shippo API</h1>
		<p class="lead">Shipping has never been easier: save time and money with the Shippo API. The API integrates all carriers, prints
			labels with one call and offers tons of powerful settings.</p>
	</div>

	<div class="row padding-v-md">
		<div class="col-sm-4 col-xs-12 text-center">
			<div class="margin-b-sm lh-120 height-120">
				<img src="{% static 'img/illustrations/parcel-single-labels-150.png' %}" class="img-responsive margin-h-auto">
			</div>
			<p class="lead"><strong>Always the best rates</strong></p>
			<p>Stop searching for cheap shipping. Save up to 50% on your current shipping costs.</p>
		</div>
		<div class="col-sm-4 col-xs-12 text-center">
			<div class="margin-b-sm lh-120 height-120">
				<img src="{% static 'img/illustrations/parcel-stack-150.png' %}" class="img-responsive margin-h-auto">
			</div>
			<p class="lead"><strong>Instant label printing</strong></p>
			<p>Save time by printing all your shipping labels instantly, with one API call.</p>
		</div>
		<div class="col-sm-4 col-xs-12 text-center">
			<div class="margin-b-sm lh-120 height-120">
				<img src="{% static 'img/illustrations/postman-150.png' %}" class="img-responsive margin-h-auto">
			</div>
			<p class="lead"><strong>Adapt to your business</strong></p>
			<p>Choose carriers, pickups, tracking and many more. Shippo flexibly adapts to your business.</p>
		</div>
	</div>
</div>

<div class="bg-lightgrey padding-bt-xlg">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12">
				<div class="margin-b-xs">
	              <h2>Integrate in minutes</h2>
	            </div>
	            <p class="lead">The Shippo RESTful API is as easy as it should be: it's available for all major languages and can be integrated
	            	in no more than 5 minutes. Use these modules to flexibly organize your shipments:</p>
	            <div class="row">
		            <div class="col-xs-5 alert alert-default">
		            	Addresses
		            </div>
		            <div class="col-xs-1">
		            </div>
		            <div class="col-xs-5 alert alert-default">
		            	Parcels
		            </div>
		        </div>
		       	<div class="row">
		            <div class="col-xs-5 alert alert-default">
		            	Shipments & Rates
		            </div>
		            <div class="col-xs-1">
		            </div>
		            <div class="col-xs-5 alert alert-default">
		            	Transactions
		            </div>
		        </div>
		        <div class="row">
		            <div class="col-xs-5 alert alert-default">
		            	Tracking
		            </div>
		            <div class="col-xs-1">
		            </div>
		            <div class="col-xs-5 alert alert-default">
		            	Refunds
		            </div>
		        </div>
	        </div>
	        <div class="col-sm-5 col-xs-12 mobile-top text-left"><br>
	        	<h4 class="h-primary">Sample Request</h4>
	            <pre class="bg-verlightgrey lh-lg">curl https://api.goshippo.com/v1/addresses/ \<br>&nbsp;&nbsp;-u <span style="color:#606">lgrt_528af62c39af8</span>: \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">object_purpose=PURCHASE</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">name=Laura Behrens</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">company=Shippo</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">street1=Clayton St.</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">street_no=215</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">city=San Francisco</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">zip=94117</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">state=CA</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">country=US</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">email=info@goshippo.com</span>'</span> \<br>&nbsp;&nbsp;-d <span style="background-color:hsla(0,100%,50%,0.05)">'<span style="color:#D20">phone=415 1234 567</span>'</span><br></pre>
	        </div>
		</div>
	</div>
</div>

{% include "page_elements/prefooter_getstarted.html" %}

{% endblock %}