{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Become a Shippo Carrier Partner - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	{% if success %}
	  	<div class="alert alert-success alert-dismissable">
	    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	    	<strong>Your information has been submitted successfully. We will get back to you within the next hours!</strong>
	  	</div>
	{% endif %}
	{% if error %}
	  	<div class="alert alert-error alert-dismissable">
	      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	      	<strong>{{ error }}</strong>
	  	</div>
	{% endif %}
	<div class="text-center">
		<h1 class="serif">Become a Shippo Carrier Partner</h1>
		<p class="lead">Shippo pools thousands of small parcel shippers all over the world. Become a selected partner to get access
			to qualified leads for your shipping business.</p>

		<div class="row text-left padding-v-sm">
			<div class="col-sm-7 col-xs-12">
				<div>
	              <h3>Your Benefits - For Free</h3>
	            </div>
	            <p>By becoming a Shippo Carrier Partner, you automatically receive the following benefits at no costs for your business:</p>
	            <p>
	              	<ul class="fa-ul list-padding-sm">
		                <li><i class="fa fa-li fa-check text-primary"></i>Get access to thousands of qualified leads</li>
		                <li><i class="fa fa-li fa-check text-primary"></i>Receive final shipment orders for your preferred routes</li>
		                <li><i class="fa fa-li fa-check text-primary"></i>Participate in the exploding e-commerce market</li>
	              	</ul>
	            </p>
	        </div>
	        <div class="col-sm-3 col-sm-offset-1 col-xs-12 mobile-top text-left"><br>
				<img src="{% static 'img/illustrations/parcel-stack-250.png' %}" class="img-responsive">
	        </div>
		</div>
	</div>
</div>

<div class="bg-lightgrey padding-bt-xlg">
	<div class="container">
	    <h3>A Mutually Beneficial And Easy Agreement</h3>
		<p >Working together couldn't be easier: you bear no risks but receive new leads on a constant basis, for free.
	        All we need is your prices and a label printing agreement.</p>
		<div class="row margin-t-sm">
			<div class="col-sm-6 col-xs-12">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">What We Offer</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<ul class="fa-ul list-padding-sm">
				                <li><i class="fa fa-li fa-check-circle"></i>We aggregate new customers and orders, for free.</li>
				                <li><i class="fa fa-li fa-check-circle"></i>We display your rates when a Shippo user requests them.</li>
				                <li><i class="fa fa-li fa-check-circle"></i>We print shipping labels, all-automated.</li>
				                <li><i class="fa fa-li fa-check-circle"></i>You have total control, all the time.</li>
			              	</ul>
			            </div>
			        </div>
			    </div>
			</div>
	        <div class="col-sm-6 col-xs-12 margin-sm-t-sm text-left">
	        	<div class="panel panel-primary">
					<div class="panel-heading">
						<h3 class="panel-title">What We Need</h3>
					</div>
					<div class="panel-body">
						<div class="row">
							<ul class="fa-ul list-padding-sm">
				                <li><i class="fa fa-li fa-check-circle"></i>We need your price list(s).</li>
				                <li><i class="fa fa-li fa-check-circle"></i>We need an agreement about the format of labels you accept.</li>
			              	</ul>
			            </div>
			        </div>
			    </div>
	        </div>
		</div>
	</div>
</div>

<div class="padding-bt-xlg">
	<div class="container">
		<div class="row text-center">
			<div class="col-sm-10 col-sm-offset-1 col-xs-12">
		    <h3>Get New Leads For Free With No Risks Involved</h3>
		    <p>We are happy to learn about your shipping business and to discuss the best mode of cooperation. Feel free to contact
		    	our partner management team at <a href="mailto:laura@goshippo.com">laura@goshippo.com</a> or leave us your contact details in the form below:<br><br></p>
		</div>
	</div>
	<div class="text-center padding-b-md">
		<form class="form-inline" role="form" method="post" action="">
			{% csrf_token %}
			<div class="row">
				<div class="col-sm-3 col-sm-offset-2 form-group">
					<input required type="text" class="form-control" name="fullname" placeholder="Your full name">
				</div>
				<div class="col-sm-3 form-group">
					<input required type="email" class="form-control" name="email" placeholder="Your e-mail">
				</div>
				<div class="col-sm-4 text-left">
					<button type="submit" class="btn btn-primary">Submit Information (nonbinding)</button>
				</div>
			</div>
		</form>
	</div>
	</div>
</div>
</div>

{% endblock %}