{% extends "base.html" %}

{% block title %}Contact Us - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<div class="text-center">
		<h1 class="serif">We would love to hear from you</h1>
		<p class="lead">Shippo makes shipping easy and affordable for everyone. We would be excited to get to know your requirements and help you
			automate your shipments. Contact us now!</p>
	</div>
	<div class="row margin-v-md">
		<div class="col-sm-7">
			{% if success %}
			  	<div class="alert alert-success alert-dismissable">
			    	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			    	<strong>Your message has been sent successfully. We will respond as soon as possible!</strong>
			  	</div>
			{% endif %}
			{% if error %}
			  	<div class="alert alert-error alert-dismissable">
			      	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			      	<strong>{{ error }}</strong>
			  	</div>
			{% endif %}
			<form role="form" method="POST" action="">
				{% csrf_token %}
				<div class="form-group">
			    	<label for="name">Your name</label>
			    	<input required type="name" class="form-control" name="fullname" placeholder="Your full name">
			  	</div>
			  	<div class="form-group">
			    	<label for="email">Your e-mail</label>
			    	<input required type="email" class="form-control" name="email" placeholder="Your e-mail address">
			  	</div>
			  	<div class="form-group">
			    	<label for="message">Your message</label>
			    	<textarea required class="form-control" rows="5" name="message" placeholder="Your message"></textarea>
			  	</div>
			  	<button type="submit" class="btn btn-primary btn-lg">Submit Message</button>
			</form>
		</div>
		<div class="col-sm-4 col-sm-offset-1 hidden-xs">
			<div class="alert alert-default overflow-auto">
				<div class="margin-t-sm">
	  				<h4>Other ways to reach us</h4>
	  			</div>
	  			<p><br>
	  				Send us a mail:<br>
	  				<a href="mailto:info@goshippo.com" target="_blanc"><strong>info@goshippo.com</strong></a>
	  			</p>
	  			<p><br>
	  				Become a friend:<br>
	  				<strong>
	  					<a href="https://www.facebook.com/pages/Shippo" target="_blanc">Facebook</a><br>
	  					<a href="https://twitter.com/goshippo" target="_blanc">Twitter</a>
	  				</strong>
	  			</p>
	  			<p><br>
	  				Read our blog:<br>
	  				<strong><a href="/blog">Our Blog</a></strong>
	  			</p>
	  			<p><br>
	  				<fb:like href="https://www.facebook.com/goshippo" width="90" layout="button_count" show_faces="false" send="false"></fb:like>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://goshippo.com" data-via="goshippo">Tweet</a><br>
				</p>
			</div>
      	</div>
	</div>

</div>

{% endblock %}