{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Supported Shipping Couriers and Countries - Shippo{% endblock %}

{% block content %}

<div class="container page-inner padding-b-md">
	<div class="text-center">
		<h1 class="serif">Supported shipment providers and countries</h1>
		<p class="lead">Find an overview of all integrated shipping companies here. We add new ones frequently.</p>
	</div>

	<div class="margin-tb-md">
		<h3 class="text-primary border-bottom">
			United States & Global
		</h3>
	</div>
	<div class="row">
		{% for carrier in carriers %}
			{% if carrier.overview_region == 'NORTH_AMERICA' or carrier.overview_region == 'GLOBAL' %}
				<div class="col-md-4 col-xs-12">
					<div class="alert alert-default overflow-auto">
						<div class="carrier_image lh-40 pull-left text-center">
							<a href="/{{ carrier.slug }}" title="{{ carrier.title }}">
								<img src="{{ carrier.carrier.get_image_75_url }}" alt="{{ carrier.title }}">
							</a>
						</div>
						<div class="lh-40 pull-left margin-l-md">
							<span class="font-md"><a href="/{{ carrier.slug }}" title="{{ carrier.title }}">{{ carrier.carrier.name }}</a></span>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

	<div class="margin-tb-md">
		<h3 class="text-primary border-bottom">
			Europe
		</h3>
	</div>
	<div class="row">
		{% for carrier in carriers %}
			{% if carrier.overview_region == 'EUROPE' %}
				<div class="col-md-4 col-xs-12">
					<div class="alert alert-default overflow-auto">
						<div class="carrier_image lh-40 pull-left text-center">
							<a href="/{{ carrier.slug }}" title="{{ carrier.title }}">
								<img src="{{ carrier.carrier.get_image_75_url }}" alt="{{ carrier.title }}">
							</a>
						</div>
						<div class="lh-40 pull-left margin-l-md">
							<span class="font-md"><a href="/{{ carrier.slug }}" title="{{ carrier.title }}">{{ carrier.carrier.name }}</a></span>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

</div>

{% include "page_elements/prefooter_getstarted.html" %}

{% endblock %}