{% extends "base.html" %}
{% load staticfiles %}

{% block javascript_header %}
  {{ block.super }}
  <!-- Google Maps API incl. Places Library -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyBtskV66qj2_czl6GbAkHjl_bxDdXdLzA4&sensor=false"></script>
  <!-- jQuery Validate -->
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block stylesheets %}
  {{ block.super }}
  <!-- Country Flag Icons -->
  <link rel="stylesheet" href="{% static "css/bootstrap-formhelpers-countries.flags.css" %}" />
{% endblock %}

{% block content %}

<div class="container page-inner">
  <div class="text-center">
    <h1 class="serif">Find the best rates now, online</h1>
    <p class="lead">Try our API and find the best shipping rates online. The Shippo Websearch, powered by the Shippo API, instantly finds you the most up-to-date shipping rates.</p>
  </div>


  <div class="alert alert-default hidden-xs overflow-auto font-sm">
    <div class="pull-left">Supporting&nbsp;&nbsp;</div>
    <div class="icon-flag-US pull-left"></div>
    <div class="pull-left">the United States,&nbsp;&nbsp;</div>
    <div class="icon-flag-FR pull-left"></div>
    <div class="pull-left">France,&nbsp;&nbsp;</div>
    <div class="icon-flag-DE pull-left"></div>
    <div class="pull-left">Germany,&nbsp;&nbsp;</div>
    <div class="icon-flag-GB pull-left"></div>
    <div class="pull-left">and the United Kingdom.</div>
  </div>
{% if wewantitback %}
  <div class="alert alert-default hidden-xs overflow-auto font-sm">
    All shipping rates of FedEx, UPS, USPS, DHL, Hermes UK, Parcelforce UK, TNT UK and other smaller UK providers are activated.
  </div>
{% endif %}
  <div id="main-form" class="padding-bt-lg">
    {% block websearch %}{% endblock %}
    {% include "websearch/main-form.html" %}
  </div>
</div> <!-- end container -->

{% include "page_elements/prefooter_getstarted.html" %}

{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <!-- Shippo Home JS File -->
  <script src="{% static "js/google_autocomplete_from.js" %}"></script>
  <script src="{% static "js/google_autocomplete_to.js" %}"></script>
  <script src="{% static "js/home_form_validation.js" %}"></script>
  <script src="{% static "js/home_form_sample.js" %}"></script>
  <script type="text/javascript">
    window.onload = function(){
      GoogleAutocompleteFrom.init();
      GoogleAutocompleteTo.init();
      HomeFormValidation.init();
    };
    $(document).ready(function(){
      HomeFormSample.init();
      $('#google-from').focus();
      mixpanel.track('Page viewed', {'Page name' : 'Home', 'url' : window.location.pathname});
    });
  </script>
{% endblock %}