{% extends "base.html" %}

{% block title %}Frequently Asked Questions and Answers - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<div class="text-center">
		<h1 class="serif">Frequently Asked Questions</h1>
		<p class="lead">Shippo finds the best rates for your small parcel shipments. We compare all courier companies and help you find the cheapest, fastest or best options.</p>
	</div>

	<div id="faq-overview">
		<div class="container">
			<div id="faq-general-q" class="panel panel-default clearfix">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<p><a href="#general-shippo">What is Shippo?</a></p>
					<p><a href="#general-shipper">Is Shippo shipping my parcel?</a></p>
					<p><a href="#general-couriers">The rates of a courier company are missing!</a></p>
					<p><a href="#general-accuracy">How accurate are the details of the rates shown?</a></p>
					<p><a href="#general-liablity">Who is liable if anything goes wrong?</a></p>
					<p><a href="#general-discounts">Can I use my own discount rates with Shippo?</a></p>
					<p><a href="#general-legal">Is Shippo allowed to show and offer these rates?</a></p>
					<p><a href="#general-comparison">Why are some shipping rates different from the rates I have seen elsewhere?</a></p>
					<p><a href="#general-accessorial">What happens if a courier charges additional fees after the label purchase?</a></p>
				</div>
			</div>
			<div id="faq-websearch-q" class="panel panel-default clearfix">
				<div class="panel-heading">
					<h3 class="panel-title">Shippo Web Search</h3>
				</div>
				<div class="panel-body">
					<p><a href="#webserch-labels">Can I purchase shipping labels directly on Shippo?</a></p>
					<p><a href="#webserch-pay">Do I have to pay to use the Shippo web search?</a></p>
				</div>
			</div>
			<div id="faq-api-q" class="panel panel-default clearfix">
				<div class="panel-heading">
					<h3 class="panel-title">Shippo API</h3>
				</div>
				<div class="panel-body">
					<p><a href="#api-about">What is the Shippo API?</a></p>
					<p><a href="#api-labels">Can I purchase shipping labels with the Shippo API?</a></p>
					<p><a href="#api-settings">What options does the Shippo API offer?</a></p>
					<p><a href="#api-libraries">What libraries are available?</a></p>
					<p><a href="#webserch-pay">Do I have to pay to use the Shippo API?</a></p>
				</div>
			</div>
		</div>
	</div>
	<br>
	<hr>
	<br><br>
	<div id="faq-answers">
		<div class="container">
			<div id="faq-general-a" class="panel panel-default clearfix">
				<div class="panel-heading">
					<h3 class="panel-title">General</h3>
				</div>
				<div class="panel-body">
					<p><a class="link-black no-hover" name="general-shippo"><strong>What is Shippo?</strong></a><br>
					Shippo finds the best rates for your small parcel shipments. We compare all courier companies and help you find the cheapest, fastest or best options.</p>
					<p><a class="link-black no-hover" name="general-shipper"><strong>Is Shippo shipping my parcel?</strong></a><br>
					No. Shippo’s mission is to find and show the best rates available for your shipments. At no point will we become involved in shipping your parcel itself. You will always find the best rates on Shippo, but your contract will always be directly with the courier company.</p>
					<p><a class="link-black no-hover" name="general-couriers"><strong>The rates of a courier company are missing!</strong></a><br>
					We are constantly expanding our database of shipment providers and rates. If you have found a better rate somewhere else, please let us know at <a href="mailto:info@goshippo.com">info@goshippo.com</a> and we will prioritize the integration of this courier company for you.</p>
					<p><a class="link-black no-hover" name="general-accuracy"><strong>How accurate are the details of the rates shown?</strong></a><br>
					Shippo integrates all courier rates with care; all information have been validated several times. However, please note that even the courier company is often only able to give estimates. Transit times, for example, often depend on many aspects and thus may vary. All information displayed on Shippo are official courier information and provide the best estimation possible.</p>
					<p><a class="link-black no-hover" name="general-liablity"><strong>Who is liable if anything goes wrong?</strong></a><br>
					Shippo does never become part of your contract with the courier company. Therefore, you need to contact the courier company for any arising claims. We are happy to assist you with any problems you might have, of course!</p>
					<p><a class="link-black no-hover" name="general-discounts"><strong>Can I use my own discount rates with Shippo?</strong></a><br>
					Whenever possible, Shippo allows you to use your own account numbers and use your discount rates. You are free to use other rates, of course!</p>
					<p><a class="link-black no-hover" name="general-legal"><strong>Is Shippo allowed to show and offer these rates?</strong></a><br>
					All rates are official rates of the corresponding courier company that are publicly available and that we are allowed to offer on our website. We will not become part of your shipping agreement with the courier company and thus only serve as the information gateway to your shipment needs.</p>
					<p><a class="link-black no-hover" name="general-comparison"><strong>Why are some shipping rates different from the rates I have seen elsewhere?</strong></a><br>
					Like airline tickets, shipping prices are not static. In many cases, Shippo is able to offer better prices than those available on the courier service’s website itself.</p>
					<p><a class="link-black no-hover" name="general-accessorial"><strong>What happens if a courier charges additional fees after the label purchase?</strong></a><br>
					Some couriers charge additional fees (called “accessorial charges”) after you have purchased a label; these fees can include, for example, fees for correcting the recipient’s address or for parcels that have been larger than described. We will let you know about these fees transparently and instantly and then charge the amount from your credit card.</p>
				</div>
			</div>
			<div id="faq-websearch-q" class="panel panel-default clearfix">
				<div class="panel-heading">
					<h3 class="panel-title">Shippo Web Search</h3>
				</div>
				<div class="panel-body">
					<p><a class="link-black no-hover" name="webserch-labels"><strong>Can I purchase shipping labels directly on Shippo?</strong></a><br>
					Labels of certain courier services can be purchased directly on Shippo. For other courier services, you need an own account number to obtain your label. In some rare cases, the label generation is not available at all. You will find detailed instructions on how to send your parcel in these cases.</p>
					<p><a class="link-black no-hover" name="webserch-pay"><strong>Do I have to pay to use the Shippo web search?</strong></a><br>
					You can use Shippo’s web search for free, anytime, for as often as you want to. Zero costs. We wil only charge a small service fee for labels you obtain on Shippo.</p>
				</div>
			</div>
			<div id="faq-api-q" class="panel panel-default clearfix">
				<div class="panel-heading">
					<h3 class="panel-title">Shippo API</h3>
				</div>
				<div class="panel-body">
					<p><a class="link-black no-hover" name="api-about"><strong>What is the Shippo API?</strong></a><br>
					With the Shippo API, you can integrate all of Shippo’s functionality in your own web application. The API will find the best rates for any shipment you need. Perfect use cases, for instance, include shopping platforms or e-commerce stores. You are able to display all available rates, auto-select rates, print labels and charge your customers or sellers through our API.</p>
					<p><a class="link-black no-hover" name="api-labels"><strong>Can I purchase shipping labels with the Shippo API?</strong></a><br>
					Labels of certain courier services can be purchased with our API. For other courier services, you need an own account number to obtain your label. In some rare cases, the label generation is not available at all. You will receive detailed instructions on how to send your parcel in these cases.</p>
					<p><a class="link-black no-hover" name="api-settings"><strong>What options does the Shippo API offer?</strong></a><br>
					You can completely adapt the Shippo API to your needs. If you want, the API will only show rates with pickup service available, for instance. You can find all settings in the API documentation.</p>
					<p><a class="link-black no-hover" name="api-libraries"><strong>What libraries are available?</strong></a><br>
					The Shippo API is available for many programming languages. Please find an overview of all libraries in the API documentation.</p>
					<p><a class="link-black no-hover" name="webserch-pay"><strong>Do I have to pay to use the Shippo API?</strong></a><br>
					We charge a fee of 30 cents for each label you generate with our API. </p>
				</div>
			</div>
		</div>
	</div>

	<div id="faq-unanswered">
		<div class="container text-center">
			<h4>Is your question still unanswered? <a href="{% url 'cms:contactuspage' %}">Contact us now, we are happy to help!</a></h4>
		</div>
	</div>

</div>

{% include "page_elements/prefooter_getstarted.html" %}

{% endblock %}