{% extends "base.html" %}
{% load staticfiles %}

{% block javascript_header %}
  {{ block.super }}
  <!-- jQuery Validate -->
  <script src="{% static "js/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block content %}

<div class="container">
  <div class="row margin-v-lg">
      <div class="col-sm-6 col-xs-12">
        <div class="margin-b-md">
          {% if carrier == 'fedex' %}
            <h1>Automate your shipments with FedEx</h1>
          {% elif carrier == 'ups' %}
            <h1>Automate your shipments with UPS</h1>
          {% elif carrier == 'dhl' %}
            <h1>Automate your shipments with DHL in Germany</h1>
          {% else %}
            <h1>Shipping, easy and affordable for everyone</h1>
          {% endif %}
        </div>
        <div class="padding-bt-sm">
          {% if carrier == 'fedex' %}
            <p class="lead">An easy FedEx REST API, allowing you to get shipping rates and labels with one call
            and save up to 50% on shipment costs.</p>
          {% elif carrier == 'ups' %}
            <p class="lead">An easy UPS REST API, allowing you to get shipping rates and labels with one call
            and save up to 50% on shipment costs.</p>
          {% elif carrier == 'ups' %}
            <p class="lead">An easy DHL REST API, allowing you to get shipping rates and labels with one call
            and save up to 50% on shipment costs.</p>
          {% else %}
            <p class="lead">An easy, unified API, allowing you to get shipping rates and labels with one call
            and save up to 50% on shipment costs.</p>
          {% endif %}
          <p class="lead">
            <ul class="fa-ul list-padding-sm lead">
              <li><i class="fa-li fa fa-check text-primary"></i>Exclusive carrier rates, tailored to your business</li>
              <li><i class="fa-li fa fa-check text-primary"></i>Automated rates and labels, understandable and easy</li>
            </ul>
          </p>
        </div>
        <p class="lead"><a class="btn btn-lg btn-primary" href="{% url 'user:userregistration' %}">Sign up now, for free <i class="fa fa-caret-right"></i></a>&nbsp;&nbsp;<span class="font-xsm text-lightgrey">or</span>&nbsp;&nbsp;
          <a class="btn btn-grey" href="{% url 'cms:apilandingpage' %}">Learn more about Shippo</a></p>
      </div>
      <div class="col-sm-6 col-xs-12 margin-sm-t-sm margin-t-sm text-center"><br>
      <div class="padding-l-md">
        <img src="{% static 'img/illustrations/device-mockups.png' %}" class="img-responsive">
      </div>
    </div>
  </div>
  {% if carrier == 'dhl' or carrier == 'fedex' or carrier == 'ups' %}
    <div class="padding-b-sm margin-n-t-25 margin-b-md alert alert-default">
      <div class="padding-v-sm row">
        <div class="col-md-2 col-sm-3 text-center lh-65 hidden-xs">
          {% if carrier == 'fedex' %}
            <img src="{% static 'providers/100/FedEx.png' %}">
          {% elif carrier == 'ups' %}
            <img src="{% static 'providers/100/UPS.png' %}" height="75">
          {% elif carrier == 'dhl' %}
            <img src="{% static 'providers/100/Deutsche_Post_DHL.png' %}">
          {% endif %}
        </div>
        <div class="col-md-10 col-sm-9 col-xs-12">
          {% if carrier == 'fedex' %}
            <p class="bold font-lg">Shippo is an official carrier partner of FedEx.</p>
            <p class="">Purchase all FedEx services online, automatically. You profit from our exclusive Shippo FedEx discounts.</p>
          {% elif carrier == 'ups' %}
            <p class="bold font-lg">Shippo is an official carrier partner of UPS.</p>
            <p class="">Purchase all UPS services online, automatically. The Shippo API is easy and understandable and you can get started in minutes.</p>
          {% elif carrier == 'dhl' %}
            <p class="bold font-lg">Shippo is an official carrier partner of DHL.</p>
            <p class="">Purchase all DHL services online, automatically. The Shippo API is easy and understandable and you can get started in minutes.</p>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
</div>

<div class="bg-lightgrey padding-bt-md border-t-grey">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <div class="text-grey text-left uppercase padding-t-sm">
          Official Carrier Partners (excerpt)
        </div>
        <div class="row text-center lh-75">
          <div class="col-sm-2 col-xs-6">
            <img src="{% static 'providers/75/FedEx.png' %}" class="greyscale">
          </div>
          <div class="col-sm-2 col-xs-6">
            <img src="{% static 'providers/75/UPS.png' %}" class="greyscale">
          </div>
          <div class="col-sm-2 col-xs-6 margin-xssm-t-sm">
            <img src="{% static 'providers/75/Deutsche_Post_DHL.png' %}" class="greyscale">
          </div>
          <div class="col-sm-2 col-xs-6 margin-xssm-t-sm">
            <img src="{% static 'providers/75/USPS.png' %}" class="greyscale">
          </div>
          <div class="col-sm-3 col-xs-12 margin-xssm-t-sm">
            <a href="{% url 'cms:courierspage' %}" class="link-grey">view all <i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 margin-sm-t-sm">
        <div class="text-grey uppercase padding-t-sm">
          As featured on
        </div>
        <div class="row text-center lh-75">
          <div class="col-xs-4 col-xs-12">
            <img src="{% static 'img/various/press/techcrunch-300.png' %}" width="150" class="greyscale">
          </div>
          <div class="col-xs-4 col-xs-12 margin-xssm-t-sm">
            <img src="{% static 'img/various/press/venturebeat-300.png' %}" width="150" class="greyscale">
          </div>
          <div class="col-xs-4 col-xs-12 margin-xssm-t-sm">
            <img src="{% static 'img/various/press/tnw-300.png' %}" height="40" class="greyscale">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padding-bt-xlg border-t-grey">
  <div class="container text-center">
    <h3>Headache-free shipping, enterprise-level discounts</h3>
    <p>We believe that shipping should be easy and affordable. Offer your customers attractive rates and automate your logistics now.<br><br></p>
    <div class="row margin-v-sm">
      <div class="col-md-3 col-xs-12 text-center">
        <div class="row">
          <div class="col-xs-4 iconblock-outer">
            <div class="iconblock iconblock-fa2x iconblock-grey uppercase">
              <i class="fa fa-cogs fa-2x"></i>
            </div>
          </div>
          <div class="col-xs-8 font-sm text-left">
            <strong>Full automation</strong><br>
            Print labels, get rates, track parcels. All in 1 API.
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 margin-xssm-t-sm text-center">
        <div class="row">
          <div class="col-xs-4 iconblock-outer">
            <div class="iconblock iconblock-fa2x iconblock-grey uppercase">
              <i class="fa fa-money fa-2x"></i>
            </div>
          </div>
          <div class="col-xs-8 font-sm text-left">
            <strong>Save money</strong><br>
            You can save up to $5 per parcel with our rates.
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 margin-xssm-t-sm text-center">
        <div class="row">
          <div class="col-xs-4 iconblock-outer">
            <div class="iconblock iconblock-fa2x iconblock-grey uppercase">
              <i class="fa fa-code fa-2x"></i>
            </div>
          </div>
          <div class="col-xs-8 font-sm text-left">
            <strong>Developer-friendly</strong><br>
            A state-of-the-art REST API, easy to integrate.
          </div>
        </div>
      </div>
      <div class="col-md-3 col-xs-12 margin-xssm-t-sm text-center">
        <div class="row">
          <div class="col-xs-4 iconblock-outer">
            <div class="iconblock iconblock-fa2x iconblock-grey uppercase">
              <i class="fa fa-compass fa-2x"></i>
            </div>
          </div>
          <div class="col-xs-8 font-sm text-left">
            <strong>Flexible, scalable</strong><br>
            Robust support for companies of all sizes.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="padding-bt-xlg border-t-grey bg-lightgrey">
  <div class="container text-center">
    <h3>Are you selling on Shopify or Etsy?</h3>
    <p>We offer easy shipping integrations for Shopify and Etsy. Start within minutes and automate your shipments now.<br><br></p>
    <div class="row margin-v-sm">
      <div class="col-sm-2 col-xs-12 text-center lh-45">
        <a class="link-black" href="https://apps.shopify.com/shippo" title="Shippo Shopify App: 1-click discounted shipping labels" target="_blanc"><img src="{% static 'img/shop_integrations/125px/Shopify.png' %}" class="img-responsive" alt="Shippo Shopify App: 1-click discounted shipping labels"></a>
      </div>
      <div class="col-sm-3 col-xs-12 margin-xssm-t-sm text-left margin-v-auto">
        <strong class="font-md"><a class="link-black" href="https://apps.shopify.com/shippo" title="Shippo Shopify App: 1-click discounted shipping labels" target="_blanc">Shopify</a></strong>
        <br><p class="padding-t-xs"><a class="link-black" href="https://apps.shopify.com/shippo" title="Shippo Shopify App: 1-click discounted shipping labels" target="_blanc">Get 1-click labels for all your orders and automate your shipments.</a></p>
      </div>
      <div class="col-sm-2 col-sm-offset-1 col-xs-12 margin-xssm-t-sm text-center lh-45">
        <img src="{% static 'img/shop_integrations/125px/Etsy.png' %}" class="img-responsive" alt="Shippo Etsy App: 1-click discounted shipping labels">
      </div>
      <div class="col-sm-3 col-xs-12 margin-xssm-t-sm text-left margin-v-auto">
        <strong class="font-md">Etsy (available soon)</strong>
        <br><p class="padding-t-xs">Import all your orders and instantly purchase shipping labels online.</p>
      </div>
    </div>
  </div>
</div>

<div class="border-t-grey bg-lightgrey font-md">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 col-xs-12 border-r-grey border-l-grey padding-t-sm padding-b-lg">
        <div class="text-center">
          <div class="margin-b-xs lh-100 height-100">
            <img src="{% static 'img/illustrations/parcel-stack.png' %}">
          </div>
        </div>
        <strong>Integrate our API</strong><br>
        <span class="sublead">Ship all your goods automatically.</span><br>
        <a href="{% url 'cms:apilandingpage' %}">See all features <i class="fa fa-caret-right"></i></a>
      </div>
      <div class="col-md-4 col-xs-12 border-r-grey padding-t-sm padding-b-lg">
        <div class="text-center">
          <div class="margin-b-xs lh-100 height-100">
            <img src="{% static 'img/illustrations/parcel-single.png' %}">
          </div>
        </div>
        <strong>Try our Demo</strong><br>
        <span class="sublead">Find accurate shipping rates, online.</span><br>
        <a href="{% url 'cms:demopage' %}">Try it now <i class="fa fa-caret-right"></i></a>
      </div>
      <div class="col-md-4 col-xs-12 border-r-grey padding-t-sm padding-b-lg">
        <div class="text-center">
          <div class="margin-b-xs lh-100 height-100">
            <img src="{% static 'img/illustrations/truck-red.png' %}">
          </div>
        </div>
        <strong>For courier companies</strong><br>
        <span class="sublead">Get thousands of leads, for free.</span><br>
        <a href="{% url 'cms:becomepartnerpage' %}">See how you benefit <i class="fa fa-caret-right"></i></a>
      </div>
    </div>
  </div>
</div>

{% endblock %}