{% extends "base.html" %}

{% block title %}Join us: Jobs at Shippo - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<div class="text-center">
		<h1 class="serif">We would love to have you join our team!</h1>
		<p class="lead">Shippo makes shipping easy and affordable for everyone. We are a fast-growing startup in the heart of San Francisco, with a customer base all over the world.</p>
	</div>
	<div class="row margin-v-md">
		<div class="col-sm-8">
			<h3 class="text-primary border-bottom">Full-stack developer</h3>
			<p><strong>Requirements:</strong><br>full stack, focus python, django and JS</p>
			<p>We are looking for a full-stack developer who can grow into the role of CTO.	Our technical core is a scalable API with a smart algorithm, allowing to serve a variety of different customers. The API & database allows for a diverse range of queries much comparable to Kayak or Expedia in the airfare industry. </p>

			<p><strong>About the company:</strong><br>We are funded by 500 Startups (batch 8 in SF) and Plug and Play. We have a significant amount of packages to be shipped in 2014, requiring us to ensure a smooth scalabilty and stable operation.</p>

			<p><strong>Terms:</strong><br>Looking for somebody asap. Salary to be discussed individually. Will require temporary relocation to SF (it's a cool city). Long term office in Berlin.</p>
			<p><strong>Contact:</strong><br>laura@goshippo.com</p>
			<h3 class="text-primary border-bottom">Interns</h3>
			<p>We regularly accept a small number of interns, working on either the technical (backend / frontend) or business side (marketing, customer service). Please send your CV and a short note about why you want to join to laura@goshippo.com.</p>
		</div>
		<div class="col-sm-4">
			<div class="alert alert-default overflow-auto">
				<div class="margin-t-sm">
	  				<h4>How to contact us</h4>
	  			</div>
	  			<p><br>
	  				Send us a mail:<br>
	  				Check the corresponding job description or contact <a href="mailto:info@goshippo.com" target="_blanc"><strong>info@goshippo.com</strong></a>.
	  			</p>
	  			<p><br>
	  				Become a friend:<br>
	  				<strong>
	  					<a href="https://www.facebook.com/pages/Shippo" target="_blanc">Facebook</a><br>
	  					<a href="https://twitter.com/goshippo" target="_blanc">Twitter</a>
	  				</strong>
	  			</p>
	  			<p><br>
	  				Read our blog:<br>
	  				<strong><a href="/blog">Our Blog</a></strong>
	  			</p>
	  			<p><br>
	  				<fb:like href="https://www.facebook.com/goshippo" width="90" layout="button_count" show_faces="false" send="false"></fb:like>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="https://goshippo.com" data-via="goshippo">Tweet</a><br>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock %}