{% extends "base.html" %}

{% block title %}List of Prohibited Items - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<h2>List of prohibited items</h2>

	<p>The following items (or any item similar in description or content) cannot be carried on any service. Any person sending such an item may be subject to their ordering being cancelled without notice. This list is not exhaustive. Before sending any item, please carefully read the Terms and Conditions of the Courier Company provisioning the service.</p>
	<ul>
	<li>Aerosol</li>

	<li>Aftershaves</li>

	<li>Air Bags</li>

	<li>Alcoholic Beverages</li>

	<li>Ammunition</li>

	<li>Animals Of Any Form (Alive Or Dead)</li>

	<li>Any Item Containing Petrol (Liquid, Gas Or Fumes)</li>

	<li>Baby Milk (To China Only)</li>

	<li>Biological Samples</li>

	<li>Car Batteries</li>

	<li>Cash, Credit Cards, Debit Cards</li>

	<li>Chainsaw</li>

	<li>Cheques</li>

	<li>Christmas Crackers</li>

	<li>Counterfeit Currency</li>

	<li>Dangerous Goods</li>

	<li>Driving Licence</li>

	<li>Drugs (Including Prescription)</li>

	<li>Engines</li>

	<li>Filth</li>

	<li>Fire Extinguisher</li>

	<li>Fish (Alive Or Dead)</li>

	<li>Fragrance</li>

	<li>Guns &amp; Weapons of any kind</li>

	<li>Hazardous Goods</li>

	<li>Human Remains</li>

	<li>Infectious Substances</li>

	<li>Juice</li>

	<li>Knives</li>

	<li>Lighter</li>

	<li>Liquid</li>

	<li>Lottery Tickets</li>

	<li>Meat</li>

	<li>Milk Powder</li>

	<li>Money/Cash/Currency</li>

	<li>Nail Varnish</li>

	<li>Oil</li>

	<li>Paint</li>

	<li>Passport</li>

	<li>Perfumes</li>

	<li>Perishable Goods (All)</li>

	<li>Plant</li>

	<li>Printer Toner (International Parcels Only)</li>

	<li>Replica Weapons</li>

	<li>Seatbelt Tensioner</li>

	<li>Settee</li>

	<li>Sinks</li>

	<li>Slush Syrup</li>

	<li>Sofa</li>

	<li>Stamps (Unless Franked)</li>

	<li>Steering Wheel</li>

	<li>Toilets</li>

	<li>Unknown items</li>

	<li>Water</li>

	<li>Weapons</li>

	<li>Windscreen</li>
	</ul>

	<p><strong>Contact Us</strong><br />If you have any questions about this list, please <a href="/contact-us">contact us</a>.</p>

</div>

{% endblock %}