{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div class="container page-inner">
  <div class="text-center">
    <h1 class="serif">Simple pricing</h1>
    <p class="lead">Leave complex fee structures behind and get all the features your business needs. Shippo pricing is easy and fair.</p>
  </div>

  <div class="row margin-v-md">
    <div class="col-sm-4 col-sm-offset-1">
      <div class="alert alert-default overflow-auto">
        <div class="text-center">
          <span class="font-xxxxl text-primary bold">
            $0.05
          </span><br>
          <span class="font-sm text-grey">
            per shipping label
          </span>
        </div><hr>
        <div class="width-100p overflow-auto">
          <table border="0" cellpadding="10">
            <tr>
              <td valign="top">
                <i class="fa fa-laptop fa-lg text-primary"></i>
              </td>
              <td class="font-sm">
                <strong>Start for free</strong><br><span class="text-grey">Integrate the API, get rates and test labels completely for free.</span>
              </td>
            </tr>
            <tr>
              <td valign="top">
                <i class="fa fa-star fa-lg text-primary"></i>
              </td>
              <td class="font-sm">
                <strong>No hidden fees</strong><br><span class="text-grey">No monthly, setup or other hidden fees. Pay per label only.</span>
              </td>
            </tr>
          </table>
        </div>
        <hr>
        <div class="width-100p overflow-auto">
          <table border="0" cellpadding="10">
            <tr>
              <td valign="top">
                <i class="fa fa-info-circle fa-lg text-lightgrey"></i>
              </td>
              <td class="font-sm">
                <strong>USPS Commission</strong><br><span class="text-grey">Note that USPS charges an extra $0.20 per label.</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-sm-6 padding-t-sm padding-l-md">
      <h3 class="padding-b-sm">Pricing like it should be</h3>
      <p class="font-md text-grey">
        Integrating the API, querying for rates and printing test labels is completely free. Start today, for free.
      </p>
      <p class="padding-v-sm font-md text-grey">
        The Shippo transaction fees per label will be charged on a bi-weekly basis by credit card. It's easy and always transparent.
      </p>
      <p class="font-md text-grey padding-b-sm">
        Are you sending more than 1,000 shipments a month? Send us an email at info@goshippo.com to find the best solution for your shipments.
      </p>
      <hr>
      <p>
        <img src="{% static 'img/creditcard/mastercard.png' %}" class="padding-xxs greyscale">
        <img src="{% static 'img/creditcard/visa.png' %}" class="padding-xxs greyscale">
        <img src="{% static 'img/creditcard/amex.png' %}" class="padding-xxs greyscale">
        <img src="{% static 'img/creditcard/jcb.png' %}" class="padding-xxs greyscale">
        <img src="{% static 'img/creditcard/diners.png' %}" class="padding-xxs greyscale">
        <img src="{% static 'img/creditcard/discover.png' %}" class="padding-xxs greyscale">
      </p>
    </div>
  </div>

  <hr>

  <div class="row margin-v-md">
    <div class="col-sm-5 col-sm-offset-1">
      <div>
        <h4>How do I pay for the shipping labels?</h4>
        <p>All your shipping labels are paid through your own carrier account. For example, when creating a DHL label, your DHL account will be charged.</p>
      </div>
      <div>
        <h4>Do you offer volume discounts?</h4>
        <p>Yes! If you are sending more than 1,000 shipments a month, please contact us at info@goshippo.com to discuss the best option.</p>
      </div>
    </div>
    <div class="col-sm-5 col-sm-offset-1">
      <div>
        <h4>Do you offer discounted rates?</h4>
        <p>With Shippo, all discounts you have negotiated yourself are guaranteed for your shipments. Depending on the carrier, Shippo allows for even more savings with our discounts.</p>
      </div>
      <div>
        <h4>I have more questions!</h4>
        <p>We are happy to help you find the best solutions. Contact us at info@goshippo.com now and we are happy to find the best solution for you.</p>
      </div>
    </div>
  </div>

</div> <!-- end container -->

{% include "page_elements/prefooter_getstarted.html" %}

{% endblock %}