{% extends "base.html" %}

{% block title %}Privacy Policy - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<h2>Privacy Policy of goshippo.com</h2>
	This Application collects some Personal Data from its Users.
	<h3>Types of Data collected</h3>
	Among the types of Personal Data that this Application collects, by itself or through third parties, there are: First Name, Last Name, Email, Cookie and Usage Data.
	Other Personal Data collected may be described in other sections of this privacy policy or by dedicated explanation text contextually with the Data collection.
	The Personal Data may be freely provided by the User, or collected automatically when using this Application.
	Any use of Cookies - or of other tracking tools - by this Application or by the owners of third party services used by this Application, unless stated otherwise, serves to identify Users and remember their preferences, for the sole purpose of providing the service required by the User.
	Failure to provide certain Personal Data may make it impossible for this Application to provide its services.
	The User assumes responsibility for the Personal Data of third parties published or shared through this Application and declares to have the right to communicate or broadcast them, thus relieving the Data Controller of all responsibility.
	<h3>Mode and place of processing the Data</h3>
	<h4>Method of processing</h4>
	The Data Controller processes the Data of Users in proper manner and shall take appropriate security measures to prevent unauthorized access, disclosure, modification or unauthorized destruction of the Data.
	Access to the Data may be available to Data Processors such as employees involved with the processing or to external parties providing services to the Data Controller, third party technical service providers, mail carriers, hosting providers, IT companies, communication agencies. The updated list of these parties may be requested from the Data Controller at any time.
	<h4>Place</h4>
	The Data is processed at the Data Controller headquarters, unless stated otherwise in the rest of this document.
	<h4>Conservation Time</h4>
	The Data is kept for the time necessary to provide the service requested by the User, or stated by the purposes outlined in this document, and the User can always request the Data Controller for their suspension or removal.
	<h3>The use of the collected Data</h3>
	The Data concerning the User is collected to allow the Application to provide its services, as well as for the following purposes: Registration and authentication, Contacting the User, Analytics and Managing email addresses and sending messages.
	The Personal Data used for each purpose is outlined in the specific sections of this document.
	<h3>Detailed information on the processing of Personal Data</h3>
	Personal Data is collected for the following purposes and using the following services:
	<h4>Analytics</h4>
	The services contained in this section enable the Owner to monitor and analyze web traffic and can be used to keep track of User behavior.
	<h5>Google Analytics (Google)</h5>
	Google Analytics Google Analytics is a web analysis service provided by Google Inc. (“Google”). Google utilizes the Data collected to track and examine the use of this Application, to prepare reports on its activities and share them with other Google services.
	Google may use the Data collected to contextualize and personalize the ads of its own advertising network.
	For the opt-out: https://tools.google.com/dlpage/gaoptout?hl=en.
	Personal Data collected: Cookie and Usage Data.
	Place of processing: USA – Privacy Policy
	<h4>Contacting the User</h4>
	<h5>Contact form (This Application)</h5>
	By filling in the contact form with their Data, the Users authorizes this Application to use these details to reply to requests for information, quotes or any other kind of request as indicated by the form’s header.
	Personal Data collected: Email, First Name and Last Name.
	<h4>Managing email addresses and sending messages</h4>
	These services make it possible to manage a database of email contacts to communicate with the User via email.
	The services are used to collect data concerning the date and time when the mail is viewed by the User, as well as when the User interacts with incoming mail, such as by clicking on links included in the email.
	<h5>Mailchimp (Mailchimp)</h5>
	Mailchimp is an email address management and message sending service provided by Mailchimp Inc.
	Personal Data collected: Email.
	Place of processing: USA – Privacy Policy
	<h4>Registration and authentication</h4>
	By registering or authenticating, Users allow this Application to identify them and give them access to dedicated services.
	Depending on what is described below, third parties may provide registration and authentication services.
	In this case, this Application will be able to access some Data, stored by these third party services, for registration or identification purposes.
	<h5>Direct registration (This Application)</h5>
	The User registers by filling out the registration form and providing the Personal Data directly to this Application.
	Personal Data collected: Email, First Name and Last Name.
	<h3>Additional information about Data collection and processing</h3>
	<h4>Legal Action</h4>
	The User's Personal Data may be used for legal purposes by the Data Controller, in Court or in the stages leading to possible legal action arising from improper use of this Application or the related services.
	<h4>Additional Information about User's Personal Data</h4>
	In addition to the information in this privacy policy, this Application may provide the User with contextual information concerning particular services or the collection and processing of Personal Data.
	<h4>System Logs and Maintenance</h4>
	For operation and maintenance purposes, this Application and any third party services may collect files that record interaction with this Application (System Logs) or use for this purpose other Personal Data (such as IP Address).
	<h4>Information not contained in this policy</h4>
	More details concerning the collection or processing of Personal Data may be requested from the Data Controller at any time at its contact information.
	<h4>The rights of Users</h4>
	Users have the right, at any time, to know whether their Personal Data has been stored and can consult the Data Controller to learn about their contents and origin, to verify their accuracy or to ask for them to be supplemented, cancelled, updated or corrected, or for their transformation into anonymous format or to block any data held in violation of the law, as well as to oppose their treatment for any and all legitimate reasons. Requests should be sent to the Data Controller at the contact information set out above.
	<h4>Changes to this privacy policy</h4>
	The Data Controller reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. If a User objects to any of the changes to the Policy, the User must cease using this Application and can request the Data Controller to erase the Personal Data. Unless stated otherwise, the then-current privacy policy applies to all Personal Data the Data Controller has about Users.
	<h4>Information about this privacy policy</h4>
	The Data Controller is responsible for this privacy policy, prepared starting from the modules provided by Iubenda and hosted on the Iubenda's servers.
	<h3>Definitions and legal references</h3>
	<h4>Personal Data (or Data)</h4>
	Any information regarding a natural person, a legal person, an institution or an association, which is, or can be, identified, even indirectly, by reference to any other information, including a personal identification number.
	<h4>Usage Data</h4>
	Information collected automatically from this Application (or third party services employed in this Application ), which can include: the IP addresses or domain names of the computers utilized by the Users who use this Application, the URI addresses (Uniform Resource Identifier), the time of the request, the method utilized to submit the request to the server, the size of the file received in response, the numerical code indicating the status of the server's answer (successful outcome, error, etc.), the country of origin, the features of the browser and the operating system utilized by the User, the various time details per visit (e.g., the time spent on each page within the Application) and the details about the path followed within the Application with special reference to the sequence of pages visited, and other parameters about the device operating system and/or the User's IT environment.
	<h4>User</h4>
	The individual using this Application, which must coincide with or be authorized by the Data Subject, to whom the Personal Data refer.
	<h4>Data Subject</h4>
	The legal or natural person to whom the Personal Data refers to.
	<h4>Data Processor</h4>
	The natural person, legal person, public administration or any other body, association or organization authorized by the Data Controller to process the Personal Data in compliance with this privacy policy.
	<h4>Data Controller (or Application Owner, or Owner)</h4>
	The natural person, legal person, public administration or any other body, association or organization with the right, also jointly with another Data Controller, to make decisions regarding the purposes, and the methods of processing of Personal Data and the means used, including the security measures concerning the operation and use of this Application. The Data Controller, unless otherwise specified, is the Owner of this Application.
	<h4>This Application</h4>
	The hardware or software tool by which the User Personal Data is collected.
	<h4>Cookie</h4>
	Small piece of data stored in the User's device.
	<h4>Legal information</h4>
	Notice to European Users: this privacy statement has been prepared in fulfillment of the obligations under Art. 10 of EC Directive n. 95/46/EC, and under the provisions of Directive 2002/58/EC, as revised by Directive 2009/136/EC, on the subject of Cookies.
	This privacy policy is solely about this Application.
	<h3>Data Controller and Owner</h3>
	Popout, Inc.<br>215 Clayton St.<br>94117 San Francisco, CA<br>United States<br><br>
	info@goshippo.com<br>
	<p>Latest update: October 26, 2013</p>

</div>

{% endblock %}