{% extends "base.html" %}

{% block title %}Sitemap - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<h1>Sitemap</h1>
	<div class="row">
		<div class="col-sm-4 col-xs-12">
			<h4>About Shippo</h4>
			<ul class="list-noblt">
				<li><a href="{% url 'cms:homepage' %}" title="Compare and find the best express shipping rates">Home</a></li>
				<li><a href="{% url 'cms:apilandingpage' %}" title="How Shippo works: the API to make shipping easy and affordable">API</a></li>
				<li><a href="{% url 'cms:demopage' %}" title="Try the Shippo API: the API to make shipping easy and affordable">Demo</a></li>
				<li><a href="{% url 'cms:pricingpage' %}" title="Pricing of the Shippo API: the API to make shipping easy and affordable">Pricing</a></li>
				<li><a href="{% url 'docs:overview' %}" title="Docs of the Shippo API: the API to make shipping easy and affordable">Docs</a></li>
				<li><a href="{% url 'cms:courierspage' %}" title="Pricing of Shippo; the API to make shipping easy and affordable">Supported Couriers</a></li>
				<li><a href="{% url 'cms:becomepartnerpage' %}" title="Shippo Blog: the API to make shipping easy and affordable">Become a Partner</a></li>
				<li><a href="{% url 'cms:blogpage' %}" title="Contact Shippo: the API to make shipping easy and affordable">Blog</a></li>
				<li><a href="{% url 'cms:contactuspage' %}" title="Contact Shippo: the API to make shipping easy and affordable">Contact Us</a></li>
				<li><a href="{% url 'cms:jobspage' %}" title="Jobs at Shippo: the API to make shipping easy and affordable">Jobs</a></li>
				<li><a href="{% url 'cms:sitemappage' %}" title="Shippo Sitemap; the API to make shipping easy and affordable">Sitemap</a></li>
				<li><a href="{% url 'cms:privacypolicypage' %}" title="Shippo Sitemap; the API to make shipping easy and affordable">Privacy Policy</a></li>
				<li><a href="{% url 'cms:termsservicepage' %}" title="Shippo Sitemap; the API to make shipping easy and affordable">Terms of Service</a></li>
			</ul>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h4>Carriers</h4>
			<ul class="list-noblt">
				{% for content_carrier in content_carriers %}
					<li><a href="/{{ content_carrier.slug }}" title="{{ content_carrier.title }}">{{ content_carrier.carrier.name }}</a></li>
				{% endfor %}
			</ul>
		</div>
		<div class="col-sm-4 col-xs-12">
			<h4>About Shipping</h4>
			<ul class="list-noblt">
				{% for seopage in seopages %}
					<li><a href="/{{ seopage.slug }}" title="{{ seopage.title }}">{{ seopage.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

</div>

{% endblock %}