{% extends "base.html" %}

{% block title %}Terms of Service - Shippo{% endblock %}

{% block content %}

<div class="container page-inner">
	<h2>Shippo Terms of Service ("Agreement")</h2>
	<p>This Agreement was last modified on October 26, 2013.</p>

	<h3><b>Understanding Our Service</b></h3>

	<p>The web site and all services rendered online and offline by Shippo, a brand of Popout, Inc., allow you to find, compare, select and buy courier services for shipping documents and goods nationally and internationally.</p>

	<p>Serving only as an intermediary between You and the Courier(s) you elect to have your Consignment(s) transported with, Popout, Inc. will at no time transport your Consignments. Popout, Inc., will only provide you with the necessary token – usually a shipping label – to have your item transported with the Courier(s) you select. At no time Popout, Inc. becomes a party in any contract to pick up, transport, deliver, or otherwise treat your Consignment.</p>

	<p>Your use of Our Service is subject to the Standard Terms of Contract described below.</p>

	<h3><b>Standard Terms of Contract</b></h3>

	<p>Please read these terms and conditions of use carefully before using or obtaining any materials, information, products or services through this site. By accessing, using or obtaining any content, data, materials, information, products or services through the Shippo website https://goshippo.com ("Our Website"), you agree to be bound by these terms and conditions. If you do not accept all of these terms, then you may not use Our Website.</p>

	<h4>1. Definitions</h4>

	<p>In these Terms and Conditions where the following terms are used, they shall have the following meanings:</p>
	<ol type="a">
	<li>“Consignment” means any item(s) of any sort which are, may be, or are intended to be, received by a Courier from any one sender at an address or a given physical location for the Courier to carry and deliver to any recipient at any other address.</li>

	<li>“Damaged Consignment” means a Consignment that is no longer in the condition in which it was received by the Courier.</li>

	<li>“Purchased” means when you accept the Service Order.</li>

	<li>“The Excepted Risks” means:</li>
	<ol type="i">
	<li>war, invasion, act of foreign enemy, hostilities (whether war be declared or not), civil war, rebellion, revolution, insurrection or military or usurped power, or loot, sack or pillage in connection, and/or</li>

	<li>ionising radiations or contamination by radioactivity from any nuclear fuel or from any nuclear waste from the combustion of nuclear fuel, and/or</li>

	<li>radioactive, toxic, explosive or other hazardous properties of any explosive nuclear assembly or nuclear component of the same, and/or</li>

	<li>pressure waves caused by aircraft and other aerial devices travelling at the speed of sound or faster, and/or</li>

	<li>the absence, failure or inadequacy of the packing or packaging used for a Consignment.</li>
	</ol>
	<li>“The Service Order” means the summary of the order which is confirmed to you in the confirmation e-mail that is sent once acceptance of the order has occurred.</li>

	<li>“This Agreement” or “Terms” means these terms and conditions, together with the Service Order.</li>

	<li>“Us, We or Our” means Shippo, a brand of Popout, Inc., together with its directors, employees, except any agents, subcontractors, or Couriers acting on its behalf.</li>

	<li>“You” means the customer who is contracted with the us or with the Courier as set out in the Service Order.</li>

	<li>“Service” means the service and carriage of a Consignment by the Courier in accordance with the particulars set out in the Service Order.</li>

	<li>“Courier” means a delivery company, partner or licensor as displayed on Our Website or in your Service Order.</li>
	</ol>
	<h4>2. Warranty Disclaimer</h4>

	<p>Our Website, all content and services provided on Our Website and all Service Orders you obtain through Our Website are provided on an "as is" and "as available" basis. We expressly disclaim all warranties of any kind, whether express or implied, including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, title, non-infringement, and security and accuracy, as well as all warranties arising by usage of trade, course of dealing, or course of performance. We make no warranty, and expressly disclaims any obligation, that: (a) Our Website will meet your requirements or will be available on an uninterrupted, timely, secure, or error-free basis; (b) the content will be up-to-date, complete, comprehensive, accurate or applicable to your circumstances; (c) the results that may be obtained from the use of Our Website or any services offered through the site, including any Service Orders obtained through Our Website, will be accurate or reliable; or (d) the quality of any products, services, information, or other material obtained by you through the site will meet your expectations.</p>

	<h4>3. Limitation of liability</h4>

	<p>3.1 We (together with our officers, directors, employees, representatives, couriers, affiliates, and providers) will not be responsible or liable for (a) any damages to or viruses that may infect your computer equipment or other property as the result of your access to Our Website or your downloading of any content from Our Website or (b) any injury, death, loss, claim, act of god, accident, delay, or any direct, special, exemplary, punitive, indirect, incidental or consequential damages of any kind (including without limitation lost profits or lost savings), whether based in contract, tort, strict liability or otherwise, that arise out of or is in any way connected with: (i) any use of Our Website or our content; (ii) any failure or delay (including without limitation the use of or inability to use any component of this Website for accepting Service Orders); or (iii) the performance or non performance by us, a Courier or any provider, even if we have been advised of the possibility of damages to such parties or any other party.</p>

	<p>3.2 Subject to these terms and conditions, you will defend, indemnify and hold us and each of our officers, directors, employees, Couriers and agents, harmless from and against any claim, cause of action, liability, expense, loss or demand, including without limitation reasonable legal and accounting fees, arising out of, or in any way connected with your breach of these Terms or the agreements made part of these Terms by reference, your use of or access to Our Website.</p>

	<h4>4. Couriers</h4>

	<p>At no time, Popout, Inc. becomes a party in any contract to pick up, transport, deliver, or otherwise treat your Consignment.</p>

	<p>Our display on or through the website of delivery service options offered by third parties does not in any way imply, suggest, or constitute any sponsorship or approval of us by any such Courier or any affiliation between any such Courier and us. Our display of specific options does not suggest a recommendation by us of the Courier or its delivery options. You agree that we are in no way responsible for the accuracy, timeliness or completeness of information it may obtain from these Couriers. Your interaction with any Courier accessed through Our Website is at your own risk, and we will have no liability with respect to the acts, omissions, errors, representations, warranties, breaches or negligence of any such Courier or for any personal injuries, death, property damage, or other damages or expenses resulting from your interactions with the Courier.</p>

	<p>Furthermore, Our Website and Service Orders you obtain from us through Our Website may contain links to other Websites that we do not operate or control and for which we are not responsible ("Other Websites"). We provide these links for your reference and convenience and do not endorse the contents of Other Websites. You should refer to the separate terms of use, privacy policies, and other rules posted on Other Websites before you use them.</p>

	<p>You agree to abide by the terms or conditions of purchase imposed by any Courier with whom you elect to deal. The circumvention of a Courier’s rules is prohibited. The use of prohibited practices may result in the Courier taking actions including the cancellation of the Service Order, denied delivery, additional charges to Your credit card, additional charges collected at the delivery or collection, or future invoicing. You are responsible for ensuring that your purchases abide by the terms or conditions of purchase imposed by any Courier with whom you elect to deal, including terms or condition of purchase set forth in a Couriers’ terms and rules.</p>

	<h4>5. Payment</h4>

	<p>5.1 You shall pay all charges applicable in respect of the Service(s) provided by us in accordance with the payment terms set out in the Service Order.</p>

	<p>5.2 Should the provision of any Service(s) mean that we have to deliver a Consignment on a bank or other public holiday we shall be entitled to make a reasonable extra charge for any additional costs incurred by us as a result.</p>

	<h4>6. Your Obligations</h4>

	<p>6.1 You agree to:</p>
	<ol type="a">
	<li>ensure that the information you supply in the Consignment is complete and accurate;</li>

	<li>co-operate with us in all matters relating to our provision of the Service(s); including, but not limited to, preparing and supporting the collection or submission of all Consignments.</li>

	<li>provide us with such information and materials as we may reasonably require in order to supply the Service(s) and ensure that such information is accurate in all material respects.</li>
	</ol>
	<p>6.2 You agree that we or the Courier shall not be required, and that you shall not cause us or the Courier, to carry anything if it would be illegal or unlawful for us or the Courier to do so (in any country to which a Consignment is to be delivered). You agree that should you do this, you will indemnify us against any losses and/or damage that we may suffer as a consequence.</p>

	<p>6.3 We and the Courier will not, without specific separate written agreement, carry: livestock; liquids; perishable goods; glass; gasses; pyrotechnics; arms; ammunition; corrosive; toxic; flammable; explosive; oxidising or radioactive materials. In addition, we and the Courier will not carry any items which are on our list of prohibited items, which can be found at this link: <a href="/list-of-prohibited-items">https://goshippo.com/list-of-prohibited-items</a>.</p>
	<p>6.4 We and the Courier reserve the right to refuse to carry any parcels; refusal reasons include, but are not limited to, parcels that are </p>
	<ol type="a">
	<li>neither the property of, nor sent on behalf of, you</li>

	<li>do not meet the labelling or packaging requirements as set out by the Courier</li>

	<li>prohibitive, prohibited, illegal, unlawful or dangerous goods, as set out in our or the Courier’s Terms.</li>
	</ol>
	<p>It is up to you to verify, if the parcel meets all requirements and standards. You may not understand a Courier’s collection of any prohibited, dangerous, unlawful or illegal goods as a binding acceptance of a contract.</p>

	<p>6.5 You agree that should violate any of the Terms set out in this Agreement, you will indemnify us against any losses and/or damage that we may suffer as a consequence.</p>

	<h4>7. Miscellaneous</h4>

	<p>7.1 Unless specifically agreed otherwise, “working days” do not include Saturdays, Sundays or public holidays.</p>

	<p>7.2 We will not provide any refund or reduction of charges if the Courier receives less than the number of parcels for which you have contracted.</p>

	<p>7.3 We shall not be responsible for any local customs charges, import taxes or duties or any similar charge(s) incurred through the carriage and/or delivery of any Consignment and you must satisfy yourself as to whether any of these charges will become due, and if so in what amounts, before completing an order with us. If any such charges become due as a result of a carriage and/or delivery of a Consignment on your behalf and are charged to us by any competent authority you agree to reimburse us fully in respect of the same within 7 days of our demand.</p>

	<h4>8. Variation</h4>

	<p>No variation, amendment or cancellation of the terms of this Agreement (other than the Order Schedule) shall be binding upon us unless and until it is confirmed in writing by a director of us and, for the avoidance of any doubt, it is declared that no person other than a director has authority to negotiate or enter into any commitment on behalf of us which would or might (but for this clause) involve us in any legal liability whatsoever.</p>

	<h4>9. Termination</h4>

	<p>9.1 This Agreement may be terminated by either party giving to the other one month’s written notice of its desire to terminate this Agreement. This Agreement may also be terminated immediately if the other party breaches any of its obligations under this Agreement or (in the case of an individual) becomes bankrupt or (in the case of a company) goes into liquidation other than for the purposes of reconstruction or amalgamation, or has an administrator or receiver appointed over any of its or his property or income or make any deed or arrangements with or for the benefit of his or its creditors.</p>

	<p>9.2 On termination of this Agreement for any reason:</p>
	<ol type="a">
	<li>you shall immediately pay to us all of our outstanding unpaid invoices and interest and, in respect of Service(s) supplied where the Consignment has been delivered but for which no invoice has been submitted, we shall submit an invoice, which shall be payable by you immediately on receipt;</li>

	<li>in respect of a Consignment which has already been paid for and which has been received but not yet delivered, then the Courier shall deliver such Consignment in accordance with the terms of this Agreement;</li>

	<li>in respect of a Consignment which has not been paid for but which we have received but not delivered, the Courier shall return the Consignment to you.</li>

	<li>the accrued rights, remedies, obligations and liabilities of the parties as at expiry or termination shall not be affected, including the right to claim damages in respect of any breach of this Agreement which existed at or before the date of termination or expiry; and</li>

	<li>clauses which expressly or by implication have effect after termination shall continue in full force and effect.</li>
	</ol>
	<h4>10. Nature of Agreement</h4>

	<p>10.1 This Agreement, the Order Schedule(s) and the Montreal Convention (so far as they are applicable) shall constitute the entire contract between us and you and the contract shall not incorporate, or be deemed to incorporate any provisions of any other documents. In addition, this contract and the documents referred to above shall supersede any previous contract, warranty or representation made or given by us relating to the Service(s) set out in the Order Schedule.</p>

	<p>10.2 We may modify these Terms, at any time, by posting notice on Our Website. Your continued use of Our Website, following the posting of notice of any modification will be subject to the Terms in effect at the time of your use. Please review these Terms periodically for changes. If you object to any provision of these Terms or any subsequent modifications to these Terms or become dissatisfied with Our Website in any way, your only recourse is to immediately terminate use of Our Website. Other terms and conditions may apply to your reservations, bookings and purchases of travel services through Our Website, the Couriers’ websites, and to your use of other portions of Our Website. You will observe these other terms and conditions. If we fail to act with respect to your breach or anyone else's breach on any occasion, we are not waiving our right to act with respect to future or similar breaches. If a court finds any of these Terms to be unenforceable or invalid, that Term will be enforced to the fullest extent permitted by applicable law and the other Terms will remain valid and enforceable. These Terms, together with those agreements made a part of these Terms by reference, make up the entire agreement between us relating to your use of Our Website and replace any prior understandings or agreements (whether oral or written) regarding your use of Our Website.</p>

	<p>10.3 The laws of the State of Delaware (USA), without regard to its conflict of laws rules, will govern these Terms, as well as your and our observance of them. If you take any legal action relating to your use of Our Website or these Terms, you agree to file such action only in the state and federal courts located in the State of Delaware (USA). In any such action or any action we may initiate, the prevailing party will be entitled to recover all legal expenses incurred in connection with the action, including but not limited to costs, both taxable and non-taxable, and reasonable attorney fees. You agree that any disputes, claims and causes of action arising out of or connected with Our Website and/or these Terms, will be resolved individually, without resort to any form of class action. You acknowledge that you have read and understood these Terms, and that these Terms have the same force and effect as a signed agreement.</p>

	<h3><b>Terms and Conditions of selected Couriers</b></h3>

	<p>The following list provides web links to the Terms and Conditions of selected Couriers. This list is not exhaustive and it is your responsibility to open, read, understand and accept the Terms and Conditions of any Courier(s). This list shall only serve as a non-binding guideline.</p>

	<p><a href="http://www.fedex.com/us/service-guide/terms/">http://www.fedex.com/us/service-guide/terms/</a></p>

	<p><a href="http://www.ups.com/content/us/en/resources/ship/terms/service.html">http://www.ups.com/content/us/en/resources/ship/terms/service.html</a></p>

	<p><a href="http://www.tnt.com/express/en_us/site/terms_and_conditions/terms_and_conditions_long_form.html">http://www.tnt.com/express/en_us/site/terms_and_conditions/terms_and_conditions_long_form.html</a></p>

	<p><a href="http://www.dhl.com/en/express/shipping/shipping_advice/terms_conditions.html">http://www.dhl.com/en/express/shipping/shipping_advice/terms_conditions.html</a></p>

	<p><a href="http://www.deutschepost.de/de/a/agb.html">http://www.deutschepost.de/de/a/agb.html</a></p>

	<p><a href="http://www.posten.se/en/Private/Pages/terms-and-conditions.aspx">http://www.posten.se/en/Private/Pages/terms-and-conditions.aspx</a></p>

	<p><a href="http://www.posti.fi/english/pricesandinstructions/pricesandpaymentmethods/deliveryandproductterms/">http://www.posti.fi/english/pricesandinstructions/pricesandpaymentmethods/deliveryandproductterms/</a></p>

	<p><a href="http://www.royalmail.com/terms-and-conditions/">http://www.royalmail.com/terms-and-conditions/</a></p>

	<p><a href="http://www.parcel2go.com/content/about-terms.aspx">http://www.parcel2go.com/content/about-terms.aspx</a></p>

	<p><a href="https://gls-group.eu/DE/de/agb-standard">https://gls-group.eu/DE/de/agb-standard</a></p>

	<p><a href="https://www.myhermes.de/wps/portal/paket/Home/privatkunden/agb">https://www.myhermes.de/wps/portal/paket/Home/privatkunden/agb</a></p>

	<p><a href="http://www.posten.no/en/home/_attachment/16644?_ts=1321b4e5130">http://www.posten.no/en/home/_attachment/16644?_ts=1321b4e5130</a></p>

	<p><strong>Contact Us</strong><br />If you have any questions about this Agreement, please <a href="/contact-us">contact us</a>.</p>

</div>

{% endblock %}