{% extends "docs.html" %}

{% block apicontent %}
<h2>Testing</h2>

<div class="alert alert-info">
	<i class="fa fa-info-circle pull-left"></i>
    In order to get rates and be able to print labels, you need to activate your desired carriers in your <a href="{% url 'user:usercarriers' %}">Account Carrier Settings</a>. This way, you always get the accurate rates for your account.
</div>

<h3>QUOTE and PURCHASE objects: Addresses and Shipments</h3>

<p>For <strong>Addresses</strong> and <strong>Shipments</strong>, the property <em>object_purpose</em> can be set to "QUOTE" or "PURCHASE". QUOTEable Addresses enjoy the benefit of automatic completion (e.g. by only sending a country or IP); Shipment Rates containing QUOTEable Addresses can not be purchased, however. Only PURCHASEable addresses (i.e. addresses containing only user-given data) can be used for Transactions.</p>

<p><strong>The <em>object_purpose</em> property (i.e. QUOTE or PURCHASE) does not determine the use of a carrier's test or production mode for a given Transaction.</strong></p>

<h3>TEST and PRODUCTION modes for Transactions</h3>

<p>Most of Shippo's carriers offer test servers for Transactions. Using test servers, you can conveniently test Transactions without having to pay for the label. Of course, you can not use the label for actual postage.</p>

<h4>How to set TEST or PRODUCTION for your Transactions</h4>
<p>Shippo allows you to set the test or production server on a <strong>per-carrier basis</strong>. You can enable or disable the use of a carrier's production server in your <a href="{% url 'user:usercarriers' %}">Shippo Carrier Settings</a>.</p>

{% endblock %}
