{% extends "docs.html" %}

{% block apicontent %}
<h2>Billing</h2>

<div class="alert alert-success">
    <strong>Our Promise: Shippo does not charge any fees for the use of the Shippo API while in beta.</strong><br>All fees listed below are charged by the corresponding carriers.
</div>

<h3>Shippo's No-Fee Promise</h3>

<p><strong>The use of the Shippo API beta is 100% free.</strong> When you purchase a postage label with Shippo, you only pay the shipping carrier directly for their services. All other API calls are free. We guarantee to not charge any setup, cancellation, monthly or storage fees. </p>

<h3>Additional Payment Charges</h3>

<p>In addition to the cost of a single label, some carriers do charge extra fees. Please transparently find all extra charges that you have to cover below:</p>

<h4>Additional USPS Charges</h4>
<p>USPS charges a commission of <strong>0.20$</strong> for each label generated through the API in addition to the rate price.

<h3>Shippo Pricing Help</h3>
<p>Shippo wants to make payments and pricing as easy as possible. We are already working on solutions to further improve your experience. If you have any questions, please do not hesitate to contact us at <a href="mailto:info@goshippo.com">info@goshippo.com</a>. We are happy to help!</p>

{% endblock %}
