{% extends "base.html" %}

{% block content %}

<div class="container page-inner">
	{% block apiheader %}{% endblock %}
	<div class="row margin-n-t-10">
		<div class="col-sm-3 col-xs-12 border-r-grey padding-l-sm padding-r-none padding-b-md">
			<div>
				<h4 class="padding-v-sm">Modules</h4>
				<ul class="list-noblt list-menu">
					<a href="{% url 'docs:overview' %}"><li {% if urlname == 'overview' %} class="active"{% endif %}>Overview</li></a>
					<a href="{% url 'docs:addresses' %}"><li {% if urlname == 'addresses' %} class="active"{% endif %}>Addresses</li></a>
					<a href="{% url 'docs:parcels' %}"><li {% if urlname == 'parcels' %} class="active"{% endif %}>Parcels</li></a>
					<a href="{% url 'docs:shipments' %}"><li {% if urlname == 'shipments' %} class="active"{% endif %}>Shipments</li></a>
					<a href="{% url 'docs:rates' %}"><li {% if urlname == 'rates' %} class="active"{% endif %}>Rates</li></a>
					<a href="{% url 'docs:transactions' %}"><li {% if urlname == 'transactions' %} class="active"{% endif %}>Transactions</li></a>
				</ul>
			</div>
			<div class="border-t-grey">
				<h4 class="padding-v-sm">Additional Information</h4>
				<ul class="list-noblt list-menu">
					<a href="{% url 'docs:testing' %}"><li {% if urlname == 'testing' %} class="active"{% endif %}>Testing</li></a>
				</ul>
			</div>
		</div>
		<div class="col-sm-9 col-xs-12 padding-l-md padding-bt-md">
			{% block apicontent %}{% endblock %}
		</div>
	</div>
</div>

{% endblock %}