{% extends "docs.html" %}

{% block apicontent %}
<h2>Labels</h2>
<p>The labels module allows you to purchase any available shipping rate with one call.</p>
<div class="alert alert-warning alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>The labels module currently is in the final review and test phase at Shippo. We aim to release this module beginning-mid of January.</strong>
</div>
{% endblock %}