{% extends "docs.html" %}

{% block apiheader %}
	<div class="text-center">
		<h1 class="serif">API Documentation</h1>
		<p class="lead padding-b-md border-bottom">Get started now and automate your shipments within minutes. The API documentation gives you in-detail
			insights into the power of the Shippo API. Get started now!</p>
	</div>
{% endblock %}

{% block apicontent %}
<h2>Overview</h2>

<h4>API Resources</h4>
<p>All API URLs listed in this documentation are relative to <strong>https://api.goshippo.com/v1/</strong>. For example, the <a href="{% url 'docs:addresses' %}">/addresses/</a> resource is reachable at <strong>https://api.goshippo.com/v1/addresses/</strong>.</p>

<h4>SSL Prerequisite & Authentication</h4>
<p>The API is available via <strong>Secure Socket Layer (SSL) only</strong>. Insecure attempts to access the API will return HTTP status 403/Forbidden. The Shippo API requires <strong>Basic HTTP Authentication</strong> with your user name and password.</p>

<h4>Passing Request Data</h4>
<p>Request data is passed to the API by <strong>POSTing JSON arrays</strong> with the appropriate key/value-pairs to the respective resource. The documentation for each API resource contains more details on the values accepted by a given resource.</p>
<p>The returned data is also formatted as JSON array.</p>

<h4>Disposable Objects</h4>
<p>The Shippo API is built with simplicity in mind. While <strong>you can GET and POST Addresses, Parcels, Shipments and Transactions, you can only GET all other resources</strong>. This means that once you created an object, you cannot change it. Instead, create a new one with the desired values.</p>

<h4>Caveats</h4>
<p>While our technical team is working 24/7 to fix all issues, please help us improve the API by reporting any bugs, problems, questions or other issues to <a href="mailto:support@goshippo.com">support@goshippo.com</a>. Our support team will help you. Thanks in advance for your support!</p>

<h4>Browsable API</h4>
<p>In addition to this API, you may at anytime refer to the Browsable Shippo API  at <strong><a href="https://api.goshippo.com/v1/addresses/" target="_blank">https://api.goshippo.com/v1/addresses/</a></strong> to familiarize yourself with the structure and try out your first calls right in your browser.</p>

<h4>Questions? Problems?</h4>
<p>Have you run into difficulties or a resource just doesn't seem to work right? Let us know at <strong><a href="mailto:support@goshippo.com">support@goshippo.com</a></strong>. Our support team will help you.</p>

<h4>Shippo API Resources</h4>
<p><strong>Let's get started!</strong> Have a look at the following building blocks of the Shippo API and start to calculate Rates and print Labels in a few minutes!</p>
<ul>
	<li><a href="{% url 'docs:addresses' %}">Addresses</a></li>
	<li><a href="{% url 'docs:parcels' %}">Parcels</a></li>
	<li><a href="{% url 'docs:shipments' %}">Shipments</a></li>
	<li><a href="{% url 'docs:rates' %}">Rates</a></li>
	<li><a href="{% url 'docs:transactions' %}">Transactions</a></li>
</ul>

<h4>Shippo's Best Effort</h4>
<p>We are collecting and retrieving data from multiple data sources to be able to provide you with our unique service.<br />
<strong>While we are constantly improving and updating our data, due to the nature of our service, we are not able to guarantee the correctness or accuracy of the data provided. Under no circumstances will the operator of Shippo, Popout, Inc., be liable for incorrect, inaccurate or missing information (including, but not limited to incorrect pricing information or insurance values).</strong></p>

<h5>Warranty Disclaimer</h5>
<p>ANY DATA OR SERVICE IS PROVIDED TO THE REQUESTOR ON AN "AS IS, WHERE IS" BASIS, SOLELY UNDER THE USE AND DIRECTION OF THE REQUESTOR, WITHOUT WARRANTY OF ANY KIND (EITHER EXPRESS OR IMPLIED), INCLUDING BUT NOT LIMITED TO ANY IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A SPECIFIC OR GENERAL PURPOSE AND THOSE ARISING BY STATUTE OR BY LAW, OR FROM A CAUSE OF DEALING OR USAGE OF TRADE.</p>
<h5>Limitation of Liability</h5>
<p>IN NO EVENT, REGARDLESS OF CAUSE, SHALL POPOUT, INC. BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE OR CONSEQUENTIAL DAMAGES OF ANY KIND, WHETHER ARISING UNDER BREACH OF CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHERWISE, AND WHETHER BASED ON THIS AGREEMENT OR OTHERWISE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.</p>
<h5>Restriction on Use of Service</h5>
<p>Our utmost goal is your satisfaction with our service. In order to ensure continuous operation and to prevent abuse, but not limited to these motives, we reserve the right at all times to remove any data on our service, to suspend or terminate users, and to reclaim usernames without liability to you. We also reserve the right to access, read, preserve, and disclose any information as we reasonably believe is necessary to (i) satisfy any applicable law, regulation, legal process or governmental request, (ii) enforce our terms, including investigation of potential violations hereof, (iii) detect, prevent, or otherwise address fraud, security or technical issues, (iv) respond to user support requests, or (v) protect the rights, property or safety of Popout, Inc., Shippo, its users and the public.</p>

{% endblock %}