{% extends "docs.html" %}

{% block apicontent %}
<h2>Parcels</h2>

<h4>/parcels/</h4>

<p>Parcel objects are used for creating Shipments, obtaining Rates and printing Labels, and thus are one of the fundamental building blocks of the Shippo API. Parcels are created with their basic dimensions and their weight. Predefined Parcels will be available in the future.</p>

<br><p>API Resource URL: <strong><a href="https://api.goshippo.com/v1/addresses/">https://api.goshippo.com/v1/parcels/</a></strong></p>

<h4>Example Request JSON array</h4>
<div id="pre_request"></div>
<script type="text/javascript">
	var obj = {
			"length": '5',
			"width": '5',
			"height": '5',
			"distance_unit": 'cm',
			"weight": '2',
			"mass_unit": 'lb',
			"metadata": "Customer ID 123456"
		};
	var str = JSON.stringify(obj, undefined, 4);
	$('#pre_request').html('<pre>' + GlobalHelpers.PrettyPrintJSON(str) + '</pre>');
</script>

<h4>Example Response JSON array</h4>
<div id="pre_response"></div>
<script type="text/javascript">
	var obj = {
		"object_state": "VALID",
		"object_created": "2013-12-11T19:38:09.729Z",
		"object_updated": "2013-12-11T19:38:09.729Z",
		"object_id": "fcd9c72b564d4bfa8c03299ed6545132",
		"object_owner": "tech@goshippo.com",
		"length": '20',
		"width": '15',
		"height": '12',
		"distance_unit": 'in',
		"weight": '5',
		"mass_unit": 'lb',
		"metadata": "Customer ID 123456"
	};
	var str = JSON.stringify(obj, undefined, 4);
	$('#pre_response').html('<pre>' + GlobalHelpers.PrettyPrintJSON(str) + '</pre>');
</script>

<h4>Request Schema</h4>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-col-1-str">
			<thead class="italic">
				<tr>
					<td width="20%">Key</td>
					<td width="20%">Required</td>
					<td width="20%">Format / Values</td>
					<td>Description</td>
				</tr>
			</thead><tbody>
				<tr>
					<td>length</td>
					<td>required</td>
					<td><em>decimal (6,4)</em></td>
					<td>First dimension of the Parcel. The length should always be the largest of the three dimensions length, width and height; our API will automatically order them if this is not the case. Up to six digits in front and four digits after the decimal separator are accepted.</td>
				</tr>
				<tr>
					<td>width</td>
					<td>required</td>
					<td><em>decimal (6,4)</em></td>
					<td>Second dimension of the Parcel. The width should always be the second largest of the three dimensions length, width and height; our API will automatically order them if this is not the case. Up to six digits in front and four digits after the decimal separator are accepted.</td>
				</tr>
				<tr>
					<td>height</td>
					<td>required</td>
					<td><em>decimal (6,4)</em></td>
					<td>Third dimension of the parcel. The height should always be the smallest of the three dimensions length, width and height; our API will automatically order them if this is not the case. Up to six digits in front and four digits after the decimal separator are accepted.</td>
				</tr>
				<tr>
					<td>distance_unit</td>
					<td>required</td>
					<td>"cm"<br>"in"<br>"ft"<br>"mm"<br>"m"<br>"yd"</td>
					<td>The unit used for length, width and height.</td>
				</tr>
				<tr>
					<td>weight</td>
					<td>required</td>
					<td><em>decimal (6,4)</em></td>
					<td>Weight of the parcel. Up to six digits in front and four digits after the decimal separator are accepted.</td>
				</tr>
				<tr>
					<td>weight</td>
					<td>required</td>
					<td>"g"<br>"oz"<br>"lb"<br>"kg"</td>
					<td>The unit used for weight.</td>
				</tr>
				<tr>
					<td>metadata</td>
					<td>optional</td>
					<td><em>string</em></td>
					<td>A string of up to 100 characters that can be filled with any additional information you want to attach to the object.</td>
				</tr>
			</tbody>
		</table>
	</div>

<h4>Response Schema</h4>
	<p><em>A response from the Parcel resource contains the request data, plus the data outlined below.</em></p>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-col-1-str">
			<thead class="italic">
				<tr>
					<td width="20%">Parameter</td>
					<td width="20%">Format / Values</td>
					<td>Description</td>
				</tr>
			</thead><tbody>
				<tr>
					<td>object_state</td>
					<td>"VALID"</td>
					<td>A Parcel will only be valid when all required values have been sent and validated successfully.</td>
				</tr>
				<tr>
					<td>object_created</td>
					<td><em>datetime</em></td>
					<td>Date and time of Parcel creation.</td>
				</tr>
				<tr>
					<td>object_updated</td>
					<td><em>datetime</em></td>
					<td>Date and time of last Parcel update. Since you cannot update Parcels after they were created, this time stamp reflects the time when the Parcel was changed by Shippo's systems for the last time, e.g., during sorting the dimensions given.</td>
				</tr>
				<tr>
					<td>object_id</td>
					<td><em>string</em></td>
					<td>Unique identifier of the given Parcel object. This ID is required to create a Shipment object.</td>
				</tr>
				<tr>
					<td>object_owner</td>
					<td><em>string</em></td>
					<td>Username of the user who created the Parcel object.</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}