{% extends "docs.html" %}

{% block apicontent %}
<h2>Shipments</h2>

<h4>/shipments/</h4>

<p>The heart of the Shippo API, a Shipment is made up of "to" and "from" Addresses and the Parcel to be shipped. Once created, a Shipment object can be used to retrieve shipping Rates and purchase a shipping Label.</p>

<br><p>API Resource URL: <strong><a href="https://api.goshippo.com/v1/shipments/">https://api.goshippo.com/v1/shipments/</a></strong></p>

<h4>Example Request JSON array</h4>
<div id="pre_request"></div>
<script type="text/javascript">
	var obj = {
			"object_purpose": "QUOTE",
			"address_from": "4f406a13253945a8bc8deb0f8266b245",
			"address_to": "4c7185d353764d0985a6a7825aed8ffb",
			"parcel": "ec952343dd4843c39b42aca620471fd5",
			"metadata": "Customer ID 123456"
		};
	var str = JSON.stringify(obj, undefined, 4);
	$('#pre_request').html('<pre>' + GlobalHelpers.PrettyPrintJSON(str) + '</pre>');
</script>

<h4>Example Response JSON array</h4>
<div id="pre_response"></div>
<script type="text/javascript">
	var obj = {
		"object_state": "VALID",
	    "object_purpose": "QUOTE",
	    "object_created": "2013-12-01T06:24:20.121Z",
	    "object_updated": "2013-12-01T06:24:20.121Z",
	    "object_id": "694b1057e5f046c684ce05fe2d8ae525",
		"object_owner": "tech@goshippo.com",
	    "address_from": "4f406a13253945a8bc8deb0f8266b245",
	    "address_to": "4c7185d353764d0985a6a7825aed8ffb",
	    "parcel": "ec952343dd4843c39b42aca620471fd5",
	    "rates_url": "https://api.goshippo.com/v1/shipments/694b1057e5f046c684ce05fe2d8ae525/rates/",
	    "metadata": "Customer ID 123456"
	};
	var str = JSON.stringify(obj, undefined, 4);
	$('#pre_response').html('<pre>' + GlobalHelpers.PrettyPrintJSON(str) + '</pre>');
</script>

<h4>Request Schema</h4>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-col-1-str">
			<thead class="italic">
				<tr>
					<td width="20%">Key</td>
					<td width="20%">Required</td>
					<td width="20%">Format / Values</td>
					<td>Description</td>
				</tr>
			</thead><tbody>
				<tr>
					<td>object_purpose</td>
					<td>required</td>
					<td>"QUOTE"<br>"PURCHASE"</td>
					<td>Quote Shipments can only be used to obtain quote Rates; at the same time, they accept any valid or completed Address object. Purchase Shipments can be used to obtain Rates and purchase Labels, but only accept purchase Addresses that have been fully entered.</td>
				</tr>
				<tr>
					<td>address_from</td>
					<td>required</td>
					<td>string</td>
					<td>ID of the Address object that should be used as sender Address.</td>
				</tr>
				<tr>
					<td>address_to</td>
					<td>required</td>
					<td>string</td>
					<td>ID of the Address object that should be used as recipient Address.</td>
				</tr>
				<tr>
					<td>parcel</td>
					<td>required</td>
					<td>string</td>
					<td>ID of the Parcel object to be shipped.</td>
				</tr>
				<tr>
					<td>metadata</td>
					<td>optional</td>
					<td><em>string</em></td>
					<td>A string of up to 100 characters that can be filled with any additional information you want to attach to the object.</td>
				</tr>
			</tbody>
		</table>
	</div>

<h4>Response Schema</h4>
	<p><em>A response from the Shipment resource contains the request data, plus the data outlined below.</em></p>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-col-1-str">
			<thead class="italic">
				<tr>
					<td width="20%">Key</td>
					<td width="20%">Format / Values</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>object_state</td>
					<td>"COMPLETED"<br>"VALID"</td>
					<td>Completed shipments contain at least one Address that is eligible for requesting Rates but that lack some required values for purchasing Labels. In this case, Shippo has automatically completed some Address values with the best available approximation during the creation of the Address object.<br><br>Shipments eligible for purchasing Labels contain all required values and did not require any approximation. They can be used to purchase Labels.</td>
				</tr>
				<tr>
					<td>object_purpose</td>
					<td>"QUOTE"<br>"PURCHASE"</td>
					<td>Indicated whether a shipment can be used to purchase Labels or only to obtain quote Rates. Note that if at least one quote Address is passed in the original request, the Shipment will be eligible for quotes only.</td>
				</tr>
				<tr>
					<td>object_created</td>
					<td><em>datetime</em></td>
					<td>Date and time of Shipment creation.</td>
				</tr>
				<tr>
					<td>object_updated</td>
					<td><em>datetime</em></td>
					<td>Date and time of last Shipment update.</td>
				</tr>
				<tr>
					<td>object_id</td>
					<td><em>string</em></td>
					<td>Unique identifier of the given Shipment object.</td>
				</tr>
				<tr>
					<td>object_owner</td>
					<td><em>string</em></td>
					<td>Username of the user who created the Shipment object.</td>
				</tr>
				<tr>
					<td>rates_url</td>
					<td><em>url</em></td>
					<td>The URL pointing to the Rates List of the given shipment. It is send for your convenience, but can also be manually built with the following schema: "https://api.goshippo.com/v1/shipments/<em>&lt;SHIPMENT OBJECT ID&gt;</em>/rates/[<em>&lt;CURRENCY CODE&gt;</em>]"</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}