{% extends "docs.html" %}

{% block apicontent %}
<h2>Transactions</h2>

<h4>/transactions/</h4>

<p>A Transaction is the purchase of a Shipment Label for a given Shipment Rate. Transactions can be as simple as posting a Rate ID, but also allow you to define further parameters of the desired Label, such as pickup and notifications.</p>

<div class="alert alert-info">
	<i class="fa fa-info-circle"></i>
	<strong>You need to set your <a href="{% url 'user:userprofile' %}">Account Address</a> and <a href="{% url 'user:userbilling' %}">Account Billing Data</a> to generate transactions.</strong>
</div>

<br><p>API Resource URL: <strong><a href="https://api.goshippo.com/v1/transactions/">https://api.goshippo.com/v1/transactions/</a></strong></p>

<h4>Example Request JSON array</h4>
<div id="pre_request"></div>
<script type="text/javascript">
	var obj = {
			"rate": "67891d0ebaca4973ae2569d759da6139",
			"notification_email_from": true,
	        "notification_email_to": false,
	        "notification_email_other": "max@goshippo.com",
	        "pickup_date": "2013-12-29T12:00:00.000Z",
	        "metadata": "Customer ID 123456"
		};
	var str = JSON.stringify(obj, undefined, 4);
	$('#pre_request').html('<pre>' + GlobalHelpers.PrettyPrintJSON(str) + '</pre>');
</script>

<h4>Example Response JSON array</h4>
<div id="pre_response"></div>
<script type="text/javascript">
	var obj = {
		"object_state": "VALID",
        "object_status": "SUCCESS",
        "object_created": "2013-12-27T19:14:48.273Z",
        "object_updated": "2013-12-27T19:14:48.273Z",
        "object_id": "64bba01845ef40d29374032599f22588",
        "object_owner": "laura@goshippo.com",
        "was_test": false,
        "rate": "67891d0ebaca4973ae2569d759da6139",
        "notification_email_from": true,
        "notification_email_to": false,
        "notification_email_other": "max@goshippo.com",
        "pickup_date": "2013-12-29T12:00:00.000Z",
        "tracking_number": "1Z 577 6W1 68 9234 8520",
        "label_url": "https://shippo-delivery.s3.amazonaws.com/96.pdf?Signature=PEdWrp0mFWAGwJp7FW3b%2FeA2eyY%3D&Expires=1385930652&AWSAccessKeyId=AKIAJTHP3LLFMYAWALIA",
       	"metadata": "Customer ID 123456",
        "messages": [
                {
                    "code": "",
                    "text": "Carrier Information: Shipping Label Invoice will be sent to Sender only."
                }
            ]
	};
	var str = JSON.stringify(obj, undefined, 4);
	$('#pre_response').html('<pre>' + GlobalHelpers.PrettyPrintJSON(str) + '</pre>');
</script>

<h4>Request Schema</h4>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-col-1-str">
			<thead class="italic">
				<tr>
					<td width="20%">Key</td>
					<td width="20%">Required</td>
					<td width="20%">Format / Values</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>rate</td>
					<td>required</td>
					<td>string</td>
					<td>ID of the Rate object for which a Label has to be obtained. Please note that only rates that are not older than 7 days can be purchased in order to ensure up-to-date pricing.</td>
				</tr>
				<tr>
					<td>notification_email_from</td>
					<td>required</td>
					<td><em>boolean</em></td>
					<td>Whether or not to send a notification e-mail to the from_address' e-mail address. Please note that this value will be forwarded to the carrier and does not affect the notification e-mails that Shippo sends. Must be in the format <em>"NAME@DOMAIN.TLD"</em>.</td>
				</tr>
				<tr>
					<td>notification_email_to</td>
					<td>required</td>
					<td><em>boolean</em></td>
					<td>Whether or not to send a notification e-mail to the to_address' e-mail address. Please note that this value will be forwarded to the carrier and does not affect the notification e-mails that Shippo sends. Must be in the format <em>"NAME@DOMAIN.TLD"</em>.</td>
				</tr>
				<tr>
					<td>notification_email_other</td>
					<td>optional</td>
					<td><em>email</em></td>
					<td>Whether or not to send a notification e-mail to another e-mail address. Please note that this value will be forwarded to the carrier and does not affect the notification e-mails that Shippo sends. Must be in the format <em>"NAME@DOMAIN.TLD"</em>.</td>
				</tr>
				<tr>
					<td>pickup_date</td>
					<td>optional</td>
					<td><em>datetime</em></td>
					<td>Desired pickup date. Must be in the format <em>"2014-01-18T00:35:03.463Z"</em> (ISO 8601 date). Please note that for some carriers, not all pickup dates are available. The API will return the corresponding error message if not available. If no pickup_date is given, the value will default to tomorrow's date (note that tomorrow might also default to Saturday or Sunday, which often leads to no carrier availability).</td>
				</tr>
				<tr>
					<td>metadata</td>
					<td>optional</td>
					<td><em>string</em></td>
					<td>A string of up to 100 characters that can be filled with any additional information you want to attach to the object.</td>
				</tr>
			</tbody>
		</table>
	</div>

<h4>Response Schema</h4>
	<p><em>A response from the Transactions resource contains the request data, plus the data outlined below.</em></p>
	<div class="table-responsive">
		<table class="table table-bordered table-hover table-col-1-str">
			<thead class="italic">
				<tr>
					<td width="20%">Key</td>
					<td width="20%">Format / Values</td>
					<td>Description</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>object_state</td>
					<td>"COMPLETED"<br>"VALID"</td>
					<td>Valid Transactions contain a Label URL and tracking number, which can be used to download the Label and track the Shipment. Invalid Transactions are mostly due to service restrictions. You will find a detailed, publishable error message in the Transactions message response.</td>
				</tr>
				<tr>
					<td>object_status</td>
					<td>"WAITING"<br>"QUEUED"<br>"SUCCESS"<br>"ERROR"</td>
					<td>"Waiting" Transactions have been successfully submitted but not yet been processed. "Queued" Transactions are currently being processed. "Success" Transactions have been processed successfully and contain the final Label URL and tracking number. "Error" Transactions have not been processed successfully and contain a descriptive, publishable error message.</td>
				</tr>
				<tr>
					<td>object_created</td>
					<td><em>datetime</em></td>
					<td>Date and time of Transaction creation.</td>
				</tr>
				<tr>
					<td>object_updated</td>
					<td><em>datetime</em></td>
					<td>Date and time of last Transaction update. Since you cannot update Transaction after they were created, this time stamp reflects the time when the Transaction was changed by Shippo's systems for the last time, e.g., after queuing or processing the request.</td>
				</tr>
				<tr>
					<td>object_id</td>
					<td><em>string</em></td>
					<td>Unique identifier of the given Transaction object.</td>
				</tr>
				<tr>
					<td>object_owner</td>
					<td><em>string</em></td>
					<td>Username of the user who created the Transaction object.</td>
				</tr>
				<tr>
					<td>was_test</td>
					<td><em>bool</em></td>
					<td>Indicates whether the transaction has been sent to the corresponding carrier's test or production server.</td>
				</tr>
				<tr>
					<td>tracking_number</td>
					<td><em>string</em></td>
					<td>The carrier-specific tracking number that can be used to track the Shipment. A value will only be returned if the Rate is for a trackable Shipment and if the Transactions has been processed successfully.</td>
				</tr>
				<tr>
					<td>label_url</td>
					<td><em>url</em></td>
					<td>A URL pointing directly to the Label as a PDF file. A value will only be returned if the Transactions has been processed successfully.</td>
				</tr>
				<tr>
					<td>messages</td>
					<td><em>array</em></td>
					<td>An array containing elements of the following schema:<br>"code" (<em>string</em>): an identifier for the corresponding message (not always available")<br>"message" (<em>string</em>): a publishable message containing further information regarding the Transaction.</td>
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
