{% extends "base.html" %}
{% block content %}

<div class="container page-inner">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="panel panel-primary clearfix">
          <div class="panel-heading">
            <h3 class="panel-title">You need to sign in to connect your Etsy Store</h3>
          </div>
          <div class="panel-body">
            {% if error %}
            <div class="alert alert-error">
                <p><strong>{{ error }}</strong></p>
            </div>
            {% endif %}
            <form method="post" action="{% url 'etsy_app:etsyaccountlandingpage' %}" class="form-horizontal">
              {% csrf_token %}
              <div class="alert alert-default">Please log in to Shippo to connect your Etsy Store.</div>
              <div class="text-center padding-v-sm">
	              <div class="form-group">
                  <label for="user_username" class="col-sm-2 control-label">Username</label>
                  <div class="col-sm-8">
                      <input type="text" id="user_username" name="username" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                    <label for="user_password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-8">
                        <input type="password" id="user_password" name="password" class="form-control">
                    </div>
                </div>
	              <div class="padding-t-sm">
	                  <button class="btn btn-lg btn-primary" type="submit">Login</button>&nbsp;&nbsp;or&nbsp;&nbsp;
                    <a class="btn btn-lg btn-blue" href="{% url 'user:userregistration' %}">Create a free Account</a>
	              </div>
	           </div>
            </form>
          </div>
        </div>
      </div>
    </div>
 </div>
{% endblock %}
