<div class="panel panel-info">
  	<div class="panel-heading">
  		<strong>Order Items</strong>
  	</div>
  	<div class="panel-body font-sm">
  		{% for item in order.items %}
  			<div class="row padding-v-xxs">
  				<div class="col-sm-7">
  					<strong>{{ item.quantity }} x {{ item.title }}</strong><br>
  					{% if item.grams and item.grams < 1000 %}
  						{{ item.grams|floatformat:"0" }} g {% if item.quantity > 1 %}each{% endif %}
  					{% elif item.grams %}
  						{{ item.lbs|floatformat:"0" }} lbs ({{item.kgs|floatformat:"0" }} kg)
  					{% endif %}
  				</div>
  				<div class="col-sm-5 text-right">
  					${{ item.total|floatformat:"2" }}
  				</div>
  			</div>
  		{% endfor %}
  		<hr>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				Subtotal:
  			</div>
  			<div class="col-sm-5 text-right">
  				${{ order.subtotal_price }}
  			</div>
  		</div>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				Shipping:
  			</div>
  			<div class="col-sm-5 text-right">
  				${{ order.shipping_cost }}
  			</div>
  		</div>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				Tax & Other:
  			</div>
  			<div class="col-sm-5 text-right">
  				${{ order.total_tax }}
  			</div>
  		</div>
  		<div class="row padding-v-xxs">
  			<div class="col-sm-7 text-right">
  				<strong>Total:</strong>
  			</div>
  			<div class="col-sm-5 text-right">
  				<strong>${{ order.total_price }}</strong>
  			</div>
  		</div>
  	</div>
</div>

<div class="panel panel-info margin-t-sm">
  	<div class="panel-heading">
  		<strong>Shipping Address</strong>
  	</div>
  	<div class="panel-body font-sm">
  		<strong>{{ order.to_address.name }}</strong>
  		{% if order.to_address.company %}
  			<br>{{ order.to_address.company }}
  		{% endif %}
			<br>{{ order.to_address.street1 }}
			{% if order.to_address.street2 %}
  			<br>{{ order.to_address.street2 }}
  		{% endif %}
  		<br>{{ order.to_address.city }}{% if order.to_address.state %} ({{ order.to_address.state }}){% endif %}, {{ order.to_address.zip }}
  		<br>{{ order.to_address.country.name.title }}
  	</div>
</div>