{% extends "user/internal.html" %}
{% load staticfiles %}

{% block title %}Order Rates - Shippo{% endblock %}

{% block internalmenu %}

{% if error %}
  <div class="alert alert-error alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <strong>{{ error }}</strong>
  </div>
{% endif %}
<h3 class="text-primary border-bottom">Create Shipment for Order {{ order.order_number }}</h3>
<div class="row">
	<div class="col-sm-8">
		<div class="panel panel-info">
    	<div class="panel-heading">
    		<strong>Choose Your Shipment Rate</strong>
    	</div>
    	<div class="panel-body">
  			<div id="loader-graphic" class="text-center padding-bt-md">
  				<h3>We are searching for the best rates...</h3><br>
    			<img src="{% static 'img/various/ajax-loader.gif' %}" />
    		</div>
        <div id="small-loader" class="text-left" style="display:none">
          <div class="padding-v-xxs">
            <img src="{% static 'img/various/ajax-loader-small.gif' %}" /> Searching for more rates...
          </div>
          <hr>
        </div>
				<div id="appender"></div>
	     </div>
	  </div>
	</div>

	<div class="col-sm-4">
		{% include "user/orders/include_orderinfo.html" %}
	</div>
</div>

{% endblock %}

{% block javascript_footer %}
  {{ block.super }}
  <script src="{% static "js/django_csrf.js" %}"></script>
  <script src="{% static "js/mixpanel_tracking.js" %}"></script>
  <script src="{% static "js/orders/order_rates_display_handler.js" %}"></script>
  <script src="{% static "js/orders/order_rates_results_handler.js" %}"></script>
  <script src="{% static "js/rates_sorting_handler.js" %}"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      // !! global variables
      rates_list = new Array();
      carrier_settings_url = "{% url 'user:usercarriers' %}";
      label_url = "{% url 'user:userorderlabelbase' order.id fulfillment %}";
      fulfillment = "{{ fulfillment }}";

      var shipment_id = "{{ shipment_id }}";
      var shipments_url_ext = "{{ shipments_url_ext }}";
      var rates_url_ext = "{{ rates_url_ext }}";
      var http_type = "{{ http_type }}";
      var base_url = "{{ base_url }}";
      var api_token = "{{ api_token }}";
      MixpanelTracking.init();
      OrderRatesDisplayHandler.init();
      RatesSortingHandler.init();
      try{
        OrderRatesResultsHandler.init(http_type, base_url, shipment_id, shipments_url_ext, rates_url_ext, api_token);
      }
      catch(err){
        console.log(err);
      }
    });
  </script>
{% endblock %}