{% load staticfiles %}

<div class="bg-navy padding-tb-md text-white">
    <div class="container">
    	<div class="row">
    		<div class="col-md-7 col-sm-7 col-xs-12">
                <div class="row">
    				<div class="col-sm-8 col-xs-12">
    					<h4 class="margin-t-xs">Shippo: parcel shipping made easy</h4>
    				</div>
                    <div class="col-sm-4 col-xs-12" style="padding-top:11px">
                        <div class="pull-left" style="margin-right:10px">
                            <fb:like href="https://www.facebook.com/goshippo" width="90" layout="button_count" show_faces="false" send="false"></fb:like>
                        </div>
                        <div class="pull-left">
                            <a href="https://twitter.com/share" class="twitter-share-button" data-url="https://goshippo.com/" data-via="goshippo">Tweet</a><br>
                        </div>
                    </div>
                </div>
    			<div class="row">
    				<div id="footer-links" class="border-tb-white padding-tb-sm margin-bt-sm overflow-auto font-xs uppercase">
    					<div class="col-md-3 col-sm-3 col-xs-12">
    						<ul class="list-noblt">
    							<li><a class="link-white" href="/" title="Compare and find cheap shipping rates on Shippo">Home</a></li>
                                <li><a class="link-white" href="{% url 'cms:apilandingpage' %}" title="The Shippo API, making shipping easy and affordable">Shippo API</a></li>
                                <li><a class="link-white" href="{% url 'cms:demopage' %}" title="Try the Shippo API, making shipping easy and affordable">Try the Demo</a></li>
                                <li><a class="link-white" href="{% url 'cms:pricingpage' %}" title="Pricing of the Shippo API, making shipping easy and affordable">Pricing</a></li>
                                <li><a class="link-white" href="{% url 'docs:overview' %}" title="Docs of the Shippo API, making shipping easy and affordable">Docs</a></li>
    						</ul>
    					</div>
    					<div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">
    						<ul class="list-noblt">
                                <li><a class="link-white" href="{% url 'cms:courierspage' %}" title="Supported international couriers on Shippo, the API to make shipping easy and affordable">Supported Couriers</a></li>
    							<li><a class="link-white" href="{% url 'cms:becomepartnerpage' %}" title="Become a Shippo partner and receive leads for free">Become a Partner</a></li>
                                <li><a class="link-white" href="{% url 'cms:blogpage' %}" title="Shippo Blog, the API to make shipping easy and affordable">Blog</a></li>
                                <li><a class="link-white" href="{% url 'cms:jobspage' %}" title="Jobs at Shippo, the API to make shipping easy and affordable">Jobs</a></li>
    						</ul>
    					</div>
    					<div class="col-md-3 col-md-offset-1 col-sm-3 col-sm-offset-1 col-xs-12">
    						<ul class="list-noblt">
                                <li><a class="link-white" href="{% url 'cms:contactuspage' %}" title="Contact Shippo, the API to make shipping easy and affordable">Contact Us</a></li>
                                <li><a class="link-white" href="{% url 'cms:sitemappage' %}" title="Shippo sitemap, the API to make shipping easy and affordable">Sitemap</a></li>
                                <li><a class="link-white" href="{% url 'cms:privacypolicypage' %}">Privacy Policy</a></li>
                                <li><a class="link-white" href="{% url 'cms:termsservicepage' %}">Terms of Service</a></li>
    						</ul>
    					</div>
    				</div>
    			</div>
    			<div class="row">
    				<div class="col-sm-3 col-xs-12" id="footer-mail">
    					<a href="mailto:info@goshippo.com"><strong>info@goshippo.com</strong></a>
    				</div>
    				<div class="col-sm-4 col-sm-offset-1 hidden-xs">
    					<a href="https://www.facebook.com/pages/Shippo/" target="_blanc"><div class="pull-left sociallink" id="facebook"></div></a>
                        <a href="https://twitter.com/goshippo" target="_blanc"><div class="pull-left sociallink" id="twitter"></div></a>
                        <a href="{% url 'cms:blogpage' %}" title="Shippo Blog, the site to compare and find cheap express international shipping rates"><div class="pull-left sociallink" id="wordpress"></div></a>
    				</div>
    				<div class="col-sm-3 hidden-xs" style="text-align:left">
    					<a href="https://mixpanel.com/f/partner" target="_blanc"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
    				</div>
    			</div>
    		</div>
    		<div class="col-md-4 col-md-offset-1 col-sm-4 col-sm-offset-1 col-xs-12">
    			<h5>Shippo Promise</h5>
                <ul class="fa-ul fa-ul-2x">
                    <li><i class="fa-li fa fa-check-circle fa-2x"></i>Best available shipping rates.</li>
                    <li><i class="fa-li fa fa-check-circle fa-2x"></i>100% transparent for everyone, anytime.</li>
                    <li><i class="fa-li fa fa-check-circle fa-2x"></i>Easy integration and usage.</li>
                </ul>
                <p style="font-size:12px"><br>On Shippo, finding <strong>cheap and fast international shipping quotes and rates</strong> is easy and convenient.
                    You can <strong>compare shipment and logistic costs</strong> for <strong>cross-border express parcels and packages</strong> of <strong>FedEx, UPS, TNT, DHL</strong> and others and easily book the
                    <strong>international shipping labels</strong> and print your <strong>customs clearance documents</strong>.</p>
    		</div>
    	</div>
    	<div id="footer-copyright" class="font-xxs margin-t-sm">
    		<p>© Shippo 2013</p>
    	</div>
    </div>
</div>

<!-- Facebook Like Button XFBML -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=120734444768413";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

<!-- Twitter Tweet Button -->
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

{% if wewantitback %}
<!-- UserVoice -->
<script>
// Include the UserVoice JavaScript SDK (only needed once on a page)
UserVoice=window.UserVoice||[];(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/RsDKPb3sTO1b3HsNIRm4yg.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})();

// Set colors
UserVoice.push(['set', {
  accent_color: '#27ae61',
  trigger_color: 'white',
  contact_title: 'Send us your feedback',
  trigger_style: 'icon',
  trigger_background_color: 'rgba(46, 49, 51, 0.6)'
}]);

// Add default trigger to the bottom-right corner of the window:
UserVoice.push(['addTrigger', { mode: 'contact', trigger_position: 'bottom-right' }]);

// Autoprompt for Satisfaction and SmartVote (only displayed under certain conditions)
UserVoice.push(['autoprompt', {}]);
</script>
{% endif %}

<!-- Adroll Pixel -->
<script type="text/javascript">
    adroll_adv_id = "QII2CDSHXBG33O77E3XM5W";
    adroll_pix_id = "ZDFDHDOI2RD7XPGT4XTRDI";
    (function () {
    var oldonload = window.onload;
    window.onload = function(){
       __adroll_loaded=true;
       var scr = document.createElement("script");
       var host = (("https:" == document.location.protocol) ? "https://s.adroll.com" : "http://a.adroll.com");
       scr.setAttribute('async', 'true');
       scr.type = "text/javascript";
       scr.src = host + "/j/roundtrip.js";
       ((document.getElementsByTagName('head') || [null])[0] ||
        document.getElementsByTagName('script')[0].parentNode).appendChild(scr);
       if(oldonload){oldonload()}};
    }());
</script>

<!-- Olark Chat -->
<script data-cfasync="false" type='text/javascript'>/*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
f[z]=function(){
(a.s=a.s||[]).push(arguments)};var a=f[z]._={
},q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
0:+new Date};a.P=function(u){
a.p[u]=new Date-a.p[0]};function s(){
a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
b.contentWindow[g].open()}catch(w){
c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
/* custom configuration goes here (www.olark.com/documentation) */
olark.identify('7452-785-10-9968');/*]]>*/</script><noscript><a href="https://www.olark.com/site/7452-785-10-9968/contact" title="Contact us" target="_blank">Questions? Feedback?</a> powered by <a href="http://www.olark.com?welcome" title="Olark live chat software">Olark live chat software</a></noscript>

<script src="{% static "js/custom_dropdown_ux.js" %}"></script>
<script type="text/javascript">
    CustomDropdownUX.init();
</script>