{% load staticfiles %}

<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
			<a class="navbar-brand" href="{% url 'cms:homepage' %}"><img src="{% static "img/logo/logo-beta.png" %}" height="40"></a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li{% if urlname == 'apilandingpage' %} class="active"{% endif %}><a href="{% url 'cms:apilandingpage' %}">API</a></li>
				<li{% if urlname == 'demopage' %} class="active"{% endif %}><a href="{% url 'cms:demopage' %}">Demo</a></li>
				<li{% if urlname == 'pricingpage' %} class="active"{% endif %}><a href="{% url 'cms:pricingpage' %}">Pricing</a></li>
				<li{% if urlname == 'overview' %} class="active"{% endif %}><a href="{% url 'docs:overview' %}">Docs</a></li>
				<li{% if urlname == 'courierspage' %} class="active"{% endif %}><a href="{% url 'cms:courierspage' %}">Couriers</a></li>
			</ul>
			{% if user.is_authenticated %}
				<div class="pull-right padding-v-sm">
					<a class="link-white padding-l-xxl cursor-pointer" data-toggle="dropdown" data-target="#">
						{% if user.first_name %}
							{{ user.first_name }}
						{% else %}
							{{ user.username }}
						{% endif %}
						&nbsp;<i class="fa fa-caret-down"></i>
					</a>
					<ul class="dropdown-menu font-sm" role="menu" aria-labelledby="dLabel">
						<li><a href="{% url 'user:userdashboard' %}">Dashboard</a></li>
						{% if shopify %}
							<li><a href="{% url 'user:userorders' %}">Orders</a></li>
						{% endif %}
						<li><a href="{% url 'user:usercarriers' %}">Carriers</a></li>
						<li><a href="{% url 'user:userapikeys' %}">API Keys</a></li>
						<li><a href="{% url 'user:userbilling' %}">Billing</a></li>
						<li><a href="{% url 'user:userprofile' %}">Account</a></li>
						<hr>
						<li><a href="{% url 'user:userlogout' %}">Logout</a></li>
					</ul>
				</div>
			{% else %}
				<div class="pull-right padding-v-xs margin-t-2">
					<a class="link-white font-sm padding-r-sm" href="{% url 'user:userlogin' %}">Login</a>
					<a class="btn btn-inverse" href="{% url 'user:userregistration' %}">Register</a>
				</div>
			{% endif %}
		</div>
	</div>
</div>