<div class="bg-primary padding-v-md text-white">
  <div class="container text-center">
    <h3>Get started today without any commitment.</h3>
    <p>All shipment requests are 100% free. You only pay after you created your shipment label.<br><br></p>
    <a class="btn btn-inverse" href="{% url 'user:userregistration' %}">Get started now &raquo;</a>
    <br><br>
  </div>
</div>